<div role="main">
  <h1><%= "Answered Calls Report" %></h1>
  <h2>for <%= @caller.identity_name %> on <%= @campaign.try(:name) || 'N/A' %></h2>
  <% if @campaign.nil? %>
    <p><%= "This caller has not called this campaign." %></p>
  <% else %>
    <%= form_tag(call_details_callers_phones_only_index_path, :method => :get) do %>
      <%= select_tag 'campaign_id', options_for_select(@campaigns_data, selected: @campaign.id) %>
      <%= render :partial => 'shared/switch_campaign' %>
      <%= render :partial => 'shared/answer_call_details' %>
      <%= render :partial => 'shared/transfer_call_details' %>
      <%= render :partial => 'shared/date_picker_callers' %>
    <% end %>
  <% end %>
</div>
