<%= render "shared/error_messages", :target => @script %>
<%= semantic_form_for [:client, @script] do |form| %>
  <%= render "script_name", f: form %>
  <%= render "script_voter_fields", f: form, voter_fields: @voter_fields, voter_field_values: @voter_field_values %>
  <%= render "script_call_results", f: form %>

  <div class= "buttons">
    <button type="submit" id="script_submit">Save</button>
    <% if !@script.new_record? %>
      <button type="submit" id="script_save_as" name="save_as">Save as</button>
    <% end %>
  </div>

<% end %>

<% content_for :javascripts do %>
  <script type ="text/javascript">
    $(document).ready(function() {
      script = new Scripts();
      script.set_possible_response_order();
      script.mark_answered();
      $('.orderable_element').sortElements(function(a, b){
          return parseInt($(a).find('.script_element').val()) > parseInt($(b).find('.script_element').val()) ? 1 : -1;
      });
      script.display_script_text_numbers();
    });
  </script>

  <%= javascript_include_tag :cocoon %>
  <%= javascript_include_tag "orderable" %>
  <%= javascript_include_tag "client/scripts" %>
<% end %>
