<table class="nested-fields possible_response">
  <%= f.hidden_field :id, {"class"=> "possible_response_identity"} %>
  <tr>
    <td width = 30%>
      <%= f.text_field :value %>
    </td>
    <td width = 30%>
      <%= f.text_field :keypad, :class =>"keypad" %>
    </td>
    <td width = 15%>
      <%= f.check_box :retry %>
    </td>
    <td width = 15%>
      <%= link_to_remove_association "", f , {:class => "ico del", "data-removal-validation"=>"possible_response_delete"}%>
    </td>
  </tr>
</table>
