<h1>Archived scripts</h1>
<% if @scripts.empty? %>
  <p>No scripts archived.</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Date archived</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @scripts.each do |c| %>
      <tr>
        <td><strong><%= c.name %></strong></td>
        <td><%= c.updated_at.strftime("%m/%d/%Y") %></td>
        <td><%= link_to 'Restore', restore_client_script_path(c), :method => :patch %></td>
      </tr>
    <% end %>
  </table>
  <p><%= page_entries_info @scripts %> <%= will_paginate @scripts %></p>
<% end %>
