<%= javascript_include_tag "application" %>
<%= javascript_include_tag "defaults" %>
<%= csrf_meta_tag%>
<h1>Scripts</h1>
<% if @scripts.length==0 %>
    <div class="form">
      <label>No scripts entered.</label>
    </div>
<% else %>
    <div class="table">
      <table>
        <tr>
          <th>Name</th>
          <th>Date added</th>
          <th width="55" class="ac"></th>
        </tr>
        <% @scripts.each do |s| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td><h3><%= link_to s.name, client_script_path(s) %></h3></td>
              <td><%= s.created_at.strftime("%m/%d/%Y") %></td>
              <td>
                <div style="display:none"><%= button_to "delete", client_script_path(s), :method => :delete, :id => "delete-button-#{s.id}" %></div>
                <a href="javascript:if(confirm('Are you sure you want to delete this script?')) $('#delete-button-<%= s.id%>').trigger('click');" class="ico del"></a>
              </td>  
            </tr>
        <% end %>

      </table>
    </div>

    <p><%= page_entries_info @scripts %> <%= will_paginate @scripts %></p>

<% end %>
<p class="actions"><%= link_to 'Add new script', new_client_script_path, :class => 'action primary' %></p>
<p class="actions"><%= link_to 'View deleted scripts', client_deleted_scripts_path, :class => 'action secondary' %></p>
