<% content_for :javascripts do %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <%= javascript_include_tag 'scripts/add_remove.js' %>
<% end %>
<h1><%= @script.new_record? ? "New script" : "Edit script" %></h1>
<%= error_messages_for :script %>

<%= nested_form_for [:client, @script] do |f| %>
    <%= f.hidden_field :robo %> 
      <p>
        <label>Script name</label>
        <%= f.text_field :name, {:class => "field"} %>
      </p>
      <fieldset>
        <legend>Script</legend>
        <%= f.text_area :script %>
      </fieldset>
      <fieldset>
        <legend>Call results</legend>
        <% @script.questions.each_with_index do |question, index| %>
        <%= f.fields_for :questions, question do |q| %>
          <fieldset>
            <legend>Question <%= %></legend>
            <p>
              <lable>Question:</lable>
              <%= q.text_field :text%>
                <table>
                  <tr>
                    <th width = 30%>Response</th>
                    <th width = 30%>Phones-only keypad</th>
                    <th width = 15%>Retry</th>
                    <th width = 15%>Delete</th>
                  </tr>
                </table>
                <%= q.fields_for :possible_responses do |r| %>
                  <table>
                    <tr>
                      <td width = 30%>
                        <%= r.text_field :value %>
                      </td>
                      <td width = 30%>
                        <%= r.text_field :keypad %>
                      </td>
                      <td width = 15%>
                        <%= r.check_box :retry %>
                      </td>
                      <td width = 15%>
                        <%= r.link_to_remove " ", :class => "ico del" %>
                      </td>
                    </tr>
                  </table>
                <% end %>
                <%= q.link_to_add "New result", :possible_responses, :class => "action secondary"%>
                <%= q.link_to_remove "Delete this question", :class => "action secondary"  %>
            </p>
            </fieldset>
          <% end %>
          <% end %>

          <%= f.fields_for :notes do |n| %>
            <fieldset>
              <legend>Note <%=  %></legend>
              <%= n.text_field :note %>
              <%= n.link_to_remove " Delete this note", :class => "action secondary"  %><br />
            </fieldset>            
          <% end %>
        <p class = "actions"><% index=0 %>
          <%= f.link_to_add "Add a question", :questions, :class => "action secondary", :index => "#{index= index+1}" %>
          <%= f.link_to_add "Add a note", :notes, :class => "action secondary" %><br />
        </p>
      </fieldset>
    <div class= "buttons">
      <button type="submit">Save</button>
    </div>

<% end %>
