<% content_for :javascripts do %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <%= javascript_include_tag 'scripts/add_remove.js' %>
<% end %>
<h1><%= @script.new_record? ? "New script" : "Edit script" %></h1>
<%= error_messages_for :script %>

<%= nested_form_for [:client, @script] do |f| %>
    <%= f.hidden_field :robo %>
    <fieldset>
      <p>
        <label>Script name</label>
        <%= f.text_field :name, {:class => "field"} %>
      </p>
      <%= f.fields_for :questions do |q| %>
        <fieldset>
          <legend>Question</legend>
          <p>
            <%= q.text_field :text%>
          <fieldset>
            <legend>Responses</legend>
              <%= q.fields_for :possible_responses do |r| %>
                  <table>
                    <tr>
                      <th>Response</th>
                      <th>Key pad</th>
                      <th>Delete</th>
                    </tr>
                    <tr>
                      <td>
                        <%= r.text_field :value %>
                      </td>
                      <td>
                        <%= r.text_field :keypad %>
                      </td>
                      <td>
                        <%= r.link_to_remove "Remove"%>
                      
                      </td>
                    </tr>
                  </table>
                <% end %>
              <%= q.link_to_add "Add response", :possible_responses %>
            
            </fieldset>
            <%= q.link_to_remove "Remove this question" %>
          </p>
        </fieldset>

    <% end %>
    <fieldset style= "border: none; margin-bottom: 0px"}>
      <%= f.link_to_add "Add a question", :questions %>
    </fieldset>
    <div class= "buttons">
      <button type="submit">Save</button>
    </div>
  </fieldset>
<% end %>