<%= javascript_include_tag :cocoon %>
<%= javascript_include_tag "client/scripts" %>

<h1>New script</h1>

<% if @script.errors.any? %>
  <div class = 'callout alert clearfix'>
    <%= error_messages_for :script %>
  </div>
<% end %>

<%= semantic_form_for [:client, @script] do |form| %>
  <%= render "script_name", f: form %>
  <%= render "script_voter_fields", f: form, voter_fields: @voter_fields, voter_field_values: @voter_field_values %>  
  <%= render "script_text", f: form %>
  <%= render "script_call_results", f: form %>  
  
  
  <div class= "buttons">
    <button type="submit">Save</button>
  </div>

<% end %>
<% content_for :javascripts do %>
  <script type ="text/javascript">
  
    function question_delete(question_node){
      if($('#script_questions').children('.nested-fields').length == 1){
          alert("You must have at least one question");
          return false;
        }
        else{
    	  return true;
        }    	
    }
    
    function possible_response_delete(response_node){
      var question = $(response_node).parents('.question');
      if($(question).children('.possible_response').length == 1) {
        alert("You must have at least one response.");
        return false;
      }
      else{
    	  return true;
      }    	
    }
    
    $(document).ready(function() {
      
      $('#call_results').bind('insertion-callback',            
        function() {
          var question_count = 1;
          var text_field_count = 1;
          $.each($('.question_label'), function(){
            $(this).text("Question "+question_count++);
          });
          $.each($('.text_field_label'), function(){
            $(this).text("Text Field "+text_field_count++);
          });
      });
      
      
      $('#script_questions').bind('after-removal-callback',            
        function() {
          var count = 1;
          $.each($('.question_label'), function(){
            $(this).text("Question "+count++);
          });
      });
      
      $('#script_notes').bind('after-removal-callback',            
        function() {
          var count = 1;
          $.each($('.text_field_label'), function(){
            $(this).text("Text Field "+count++);
          });
      });
      
      
      
      
      
      
    });
    
  </script>
<% end %>

