<% content_for :javascripts do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" %>
<% end %>
<h1><%= @script.new_record? ? "New script" : "Edit script" %></h1>
<% if @script.errors.any? %>
  <div class = 'callout alert clearfix'>
    <%= error_messages_for :script %>
  </div>
<% end %>
<%= nested_form_for [:client, @script] do |f| %>
    <%= f.hidden_field :robo %>
      <p>
        <label>Script name</label>
        <%= f.text_field :name, {:class => "field"} %>
      </p>

      <fieldset>
        <legend>Display above script</legend>
        <ul class="clearfix">
          <% @voter_fields.try(:each) do |field| %>
            <li>
              <input  type="checkbox" name="voter_field[]" value="<%= field %>" <% if @voter_field_values.try(:index, field) %>checked<% end %>>
                <%= (field == "CustomID") ? "ID" : field %>
              </input>
            </li>
          <% end %>
        </ul>
      </fieldset>

      <fieldset>
        <legend>Script</legend>
        <%= f.text_area :script %>
      </fieldset>
      <fieldset>
        <legend>Call results</legend>
        <questions>
          <% @script.questions.each_with_index do |question, index| %>
          <%= f.fields_for :questions, question do |q| %>
            <fieldset>
              <legend>Question <%= index+1%></legend>
              <nested_type type = 'questions'></nested_type>
              <p>
                <label>Question:</label>
                <%= q.text_field :text%>
              </p>
                   <table>
                    <tr>
                      <th width = 30%>Response</th>
                      <th width = 30%>Phones-only keypad</th>
                      <th width = 15%>Retry</th>
                      <th width = 15%>Delete</th>
                    </tr>
                  </table>
                  <%= q.fields_for :possible_responses do |r| %>
                    <table>
                      <tr>
                        <td width = 30%>
                          <%= r.text_field :value %>
                        </td>
                        <td width = 30%>
                          <%= r.text_field :keypad, :class =>"keypad" %>
                        </td>
                        <td width = 15%>
                          <%= r.check_box :retry %>
                        </td>
                        <td width = 15%>
                          <%= r.link_to_remove " ", :class => "ico del", :type => "possible_responses" %>
                        </td>
                      </tr>
                    </table>
                  <% end %>
                  <%= q.link_to_add "New response", :possible_responses, :class => "action secondary small_font", :type => "possible_responses"%>
                  <%= q.link_to_remove "Delete this question", :class => "action secondary small_font" , :type => "questions", :answered => question.answered? %>
              </p>
              </fieldset>
            <% end %>
            <% end %>
          </questions>
          <notes>
            <% if @script.notes.present? %>
              <% @script.notes.each_with_index do |note, index| %>
                <%= f.fields_for :notes, note do |n| %>
                  <fieldset>
                    <legend>Text field <%= index + 1 %></legend>
                    <nested_type type = 'notes'></nested_type>
                    <%= n.text_field :note %>
                    <p class = "actions">
                      <%= n.link_to_remove " Delete this text field", :class => "action secondary",:type => "notes"  %>
                    </p>
                  </fieldset>
                <% end %>
              <% end %>
            <% else %>
              <%= f.fields_for :notes do |n| %>
                <fieldset>
                  <legend>Text field </legend>
                  <nested_type type = 'notes'></nested_type>
                  <%= n.text_field :note %>
                  <p class = "actions">
                    <%= n.link_to_remove " Delete this text field", :class => "action secondary"  %>
                  </p>
                </fieldset>
              <% end %>
            <% end %>
          </notes>
          
             <% if @script.transfers.present? %>
             <transfers>
              <fieldset class="transfers_fields">
                <legend>Transfer</legend>            
                <table>
                  <tr>
                    <th width = 25%>Label</th>
                    <th width = 25%>Number</th>
                    <th width = 25%>Type</th>
                    <th width = 25%>Delete</th>
                  </tr>
                </table>
              <%= f.fields_for :transfers do |t| %>
                <nested_type type = 'transfers'></nested_type>
                <table>
                  <tr>
                    <td width = 25%>
                      <%= t.text_field :label %>
                    </td>
                    <td width = 25%>
                      <%= t.text_field :phone_number %>
                    </td>
                    <td width = 25%>
                      <%= t.select(:transfer_type,[['Warm','warm'],['Cold','cold']]) %>
                    </td>
                    
                    <td width = 25%>
                      <%= t.link_to_remove " ", :class => "ico del", :type => "transfers"%>
                    </td>
                                    
                  </tr>
                </table>
                <% end %>
                </fieldset>
                </transfers>

              
          <%else%>
          <transfers style="display:none">
          <fieldset class="transfers_fields">
            <legend>Transfer </legend>
            <table>
              <tr>
                <th width = 25%>Label</th>
                <th width = 25%>Number</th>
                <th width = 25%>Type</th>
                <th width = 25%>Delete</th>
              </tr>
            </table>
          
              <%= f.fields_for :transfers do |t| %>
                  <nested_type type = 'transfers'></nested_type>
                  <table>
                    <tr>
                      <td width = 25%>
                        <%= t.text_field :label %>
                      </td>
                      <td width = 25%>
                        <%= t.text_field :phone_number %>
                      </td>
                      <td width = 25%>
                        <%= t.select(:transfer_type,[['Warm','warm'],['Cold','cold']]) %>
                      </td>
                      
                      <td width = 25%>
                        <%= t.link_to_remove " ", :class => "ico del", :type => "transfers"%>
                      </td>
                      
                    </tr>
                  </table>
          
              <% end %>                      
            </fieldset>
          </transfers>
          <%end%>

        <p class = "actions">
          <%= f.link_to_add "Add a question", :questions, :class => "action secondary", :type => "questions"%>

          <%= f.link_to_add "Add a text field", :notes, :class => "action secondary", :type => 'notes' %>
          <%= f.link_to_add "Add a transfer", :transfers, :class => "action secondary", :type => "transfers" %>
        </p>
				
      </fieldset>
    <div class= "buttons">
			<input type="checkbox" id="save_as" name="save_as" style="display:none">
      <button type="submit">Save</button>
			<% unless @script.name.blank? %>
				<button onclick="document.getElementById('save_as').checked = true;">Save as</button>
			<% end %>
    </div>

<% end %>
<script type="text/javascript">
	<% if @script.name.blank? %>
		$(function(){ $('#script_name').focus()});
	<% end %>
</script>


