<%= javascript_include_tag :cocoon %>
<%= javascript_include_tag "client/scripts" %>

<h1>Edit script</h1>

<% if @script.errors.any? %>
  <div class = 'callout alert clearfix'>
    <%= error_messages_for :script %>
  </div>
<% end %>
<input id="script_id" type="hidden" value="<%= @script.id %>"/>

<%= semantic_form_for [:client, @script] do |form| %>
  <%= render "script_name", f: form %>
  <%= render "script_voter_fields", f: form, voter_fields: @voter_fields, voter_field_values: @voter_field_values %>  
  <%= render "script_text", f: form %>
  <%= render "script_call_results", f: form %>  
  
  
  <div class= "buttons">
    <button type="submit">Save</button>
  </div>

<% end %>
<% content_for :javascripts do %>
  <script type ="text/javascript">
    $(document).ready(function() {
      $("#script_questions").sortable({ cursor: 'crosshair' , axis: 'y'  });
      $("#script_questions").disableSelection();
      $(".possible_response_sortable").sortable({ cursor: 'crosshair' , containment: 'parent', axis: 'y' });
      $(".possible_response_sortable").disableSelection();
      
      script = new Scripts();
      script.display_question_numbers();
      script.display_text_field_numbers();          
      script.mark_answered();
      
      $('#call_results').bind('insertion-callback',            
        function() {
          script.display_question_numbers();
          script.display_text_field_numbers();                              
          script.add_new_response_when_question_added();
      });
            
      $('#script_questions').bind('after-removal-callback',            
        function() { script.display_question_numbers(); });
      
      $('#script_notes').bind('after-removal-callback',            
        function() {  script.display_text_field_numbers();});      
    });
    
  </script>
<% end %>

