<h1 style="color: rgb(102,102,102); font-family: 'Helvetica Neue', Helvetica, Arial; font-style: normal; font-variant: normal;">Billable minutes by caller</h1>
<table style="width: 100%; color: rgb(102,102,102); font-family: 'Helvetica Neue', Helvetica, Arial; font-size: 100%; font-style: normal; font-variant: normal; font-weight: 200; line-height: 1.4;">
  <tr style="background-color: rgb(238,238,238);">
    <th style="text-align: left;">Name</th>
    <th style="text-align: left;">Total</th>
    <th style="text-align: left;">Leads</th>
    <th style="text-align: left;">Caller</th>
  </tr>
  <%
    row_style = ' style="background-color: rgb(238,238,238);"'.html_safe
    n = 0
  %>
  <% @callers.each do |caller| %>
    <% usage = CallerUsage.new(caller, nil, @from_date, @to_date) %>

    <tr<%= n % 2 != 0 ? row_style : ''%>>
      <td><%= caller.identity_name %></td>
      <td><%= @billable_totals[caller.id] || 0 %></td>
      <td><%= usage.lead_time || 0 %></td>
      <td><%= usage.caller_time || 0 %></td>
    </tr>

    <% n += 1 %>

  <% end %>

  <tr<%= n % 2 != 0 ? row_style : ''%>>
    <td>Abandoned calls</td>
    <td><%=
      @status_totals[CallAttempt::Status::ABANDONED] || 0
    %></td>
  </tr>
  <% n += 1 %>
  <tr<%= n % 2 != 0 ? row_style : ''%>>
    <td>Voicemails / Hangups</td>
    <td><%=
      (@status_totals[CallAttempt::Status::VOICEMAIL].to_i || 0) +
      (@status_totals[CallAttempt::Status::HANGUP].to_i || 0)
    %></td>
  </tr>
  <% n += 1 %>
  <tr<%= n % 2 != 0 ? row_style : ''%>>
    <td>Total</td>
    <td><%= @grand_total %></td>
  </tr>
</table>