<h1>Account usage by caller</h1>
<div class="content clearfix">
  <table>
    <tr>
      <th>Caller</th>
      <th>Billable minutes</th>
    </tr>
    <% @callers.each do |caller| %>
      <tr>
        <td><%= caller.identity_name %></td>
        <td><%= @billable_totals[caller.id] || 0 %></td>
      </tr>
    <%end%>

    <tr>
      <td>Abandoned calls</td>
      <td><%= @status_totals[CallAttempt::Status::ABANDONED] %></td>
    </tr>

    <tr>
      <td>Voicemails / Hangups</td>
      <td><%= @status_totals[CallAttempt::Status::VOICEMAIL] + @status_totals[CallAttempt::Status::HANGUP] %></td>
    </tr>

    <tr>
      <td>Total</td>
      <td><%= @grand_total %></td>
    </tr>
  </table>
</div>