<h1>Billing</h1>
  <% if @subscription.cancelled? %>
    <p>You have cancelled your Subscription.</p>
  <% else %>
    <p>Your current plan is <%= @subscription.type %>.</p>
    <% if @subscription.per_agent? %>
      <p>Minutes Left:  <%= @subscription.available_minutes %></p>
        <p class="actions"><a href="/client/subscriptions/<%= @subscription.id%>" class="action primary confirm">Upgrade</a>
      <% if !@subscription.trial? %>
        <%= link_to 'Cancel subscription', {action: "cancel", id: @subscription.id}, method: "put",class: "action secondary", confirm: 'Are you sure you want to cancel your subscription?' %>      
        </p>
      <% end %>
    <% end %>

    <% if @subscription.per_minute? %>
      <p>Minutes Left:  <%= @subscription.available_minutes %></p>
      <p class="actions"><a href="/client/subscriptions/<%= @subscription.id%>/add_funds" class="action secondary">Add to your balance</a>
      </p>
      <p class="actions"><a href="/client/subscriptions/<%= @subscription.id%>/configure_auto_recharge" class="action secondary">Configure auto-recharge</a></p>
      <p class="actions"><a href="/client/subscriptions/<%= @subscription.id%>" class="action secondary">Update billing information</a></p>
    <% end %>
  <% end %>
  


<% content_for :javascripts do %>
  <script type="text/javascript">    
    $(function($) {
      
      
  });
 </script>
<% end %>