<% content_for :javascripts do %>
  <%= javascript_include_tag "https://js.stripe.com/v1/"%>
  <%= javascript_include_tag  'subscriptions.js' %>
  <script type="text/javascript">
    Stripe.setPublishableKey("<%= STRIPE_PUBLISHABLE_KEY  %>");
  </script>
<% end %>

<div class="callout alert clearfix" style="display:none;" id="payment-flash">
  <p><strong class="payment-errors"></strong></p>
</div>
<%= form_for @subscription, {
      url: "/client/subscriptions/#{@subscription.id}/update_billing_info",
      method: "PUT",
      html: {id: "payment-form"}
    } do |f| %>
  <%= field_set_tag 'Card information' do %>
    <p>
      <label for="subscription_card_info">Card number</label>
      <input type="text" data-stripe="number" class="field" style="width:220px;" value="<%= @subscription.card_info %>" id="subscription_card_info" />
    </p>
    <p>
      <label for="subscription_cvc">CVC</label>
      <input type="text" data-stripe="cvc"  class="field" style="width:40px;" id="subscription_cvc"/>
    </p>
    <%= field_set_tag 'Expiration' do %>
      <p class="inline">
        <label for="expiry-month">Month</label>
        <%= select_month(Date.today, {
              add_month_numbers: true
            }, {
              id: 'expiry-month',
              'data-stripe' => 'exp_month'
            }) %>
      </p>
      <p class="inline">
        <label for="expiry-year">Year</label>
        <%= select_year(Date.today, {
              start_year: Date.today.year,
              end_year: (Date.today + 20.years).year
            }, {
              id: 'expiry-year',
              'data-stripe' => 'exp_year'
            }) %>
      </p>
    <% end %>
  <% end %>
  <div class="buttons">
    <button type="submit" id="submit-payment">
      Update payment information
    </button>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function($) {
      $("#expiry-month").val("<%= @subscription.exp_month%>");
      $("#expiry-year").val("<%= @subscription.exp_year %>");
      var subscriptions = new Subscriptions();
  });
 </script>
<% end %>