<div id="response_panel" class="rt" style="font-size : 1em;display:none">
   <form id="voter_responses" method="post">
     <fieldset>
			<legend>Results</legend>
			<input type="hidden" id="voter_id" name="voter_id"/>
      <% @campaign.script.try(:questions).try(:each) do |question| %>
          <p><label><%= question.text %><br/>
            <%= select :question, question.id, question.possible_responses.collect { |pr| [pr.value, pr.id] unless (pr.value == "[No response]")}.compact %>
          </p>
      <% end %>
      <% @campaign.try(:script).try(:notes).try(:each) do |note| %>
          <p><label><%= note.note %></label><br/>
            <input type="text" id="note_response_<%= note.id %>" name="notes[<%= note.id %>]" class="note_text"/></p>
      <% end %>
		</fieldset>
		
		<%= render :partial => "callers/campaigns/schedule_callback" %>
   </form>
</div>
