<% content_for :stylesheets do %>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css"/>
    <%= stylesheet_link_tag 'jquery.ui.datetime' %>
<% end %>

<% content_for :javascripts do %>
    <script src="http://js.pusherapp.com/1.8/pusher.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'jquery.ui.datetime.min', 'callers/caller_pusher', 'scripts', 'ICanHaz.min.js' %>

    <script type="text/javascript">
        var pusher = new Pusher('<%= Pusher.key %>');
    </script>

    <script id="voter" type="text/html">
      {{#fields}}
      <li><b>Name</b> : {{FirstName}} {{MiddleName}} {{LastName}}</li>
      <li><b>Gender</b> : {{Gender}}</li>
      <li><b>Age</b> : {{Age}}</li>
      {{/fields}}
      {{#custom_fields}}
      <li>{{.}}</li>
      {{/custom_fields}}
    </script>
<% end %>

<%= hidden_field_tag(:caller, @caller.id) %>
<%= hidden_field_tag(:caller_session, nil) %>
<%= hidden_field_tag(:current_call_attempt, nil) %>
<%= hidden_field_tag(:current_voter, nil) %>

<fieldset>
  <legend>Lead information</legend>
  <div id="voter_info_message" class="rt">
    <em>When connected, lead information will appear here.</em>
  </div>
  <ul id="voter_info" class="clearfix"></ul>
</fieldset>

<fieldset>
  <legend>Script</legend>
  <% if @campaign.script.script %>
      <div class="rt script"> <%= @campaign.script.script.gsub("\n", "<br/>") %></div>
  <% end %>
</fieldset>

<%= render 'results' %>
<%= render 'actions' %>

<div>
<p>Call-in number: <%= Settings.phone %><br>
PIN: <%= @caller.pin %><br>
Campaign ID: <%= @campaign.campaign_id %></p>
</div>