<% content_for :stylesheets do %>
    <link rel="stylesheet" type="text/css" media="screen" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css"/>
    <%= stylesheet_link_tag 'jquery.ui.datetime' %>
<% end %>
<% content_for :javascripts do %>



  <%= pusher_js %>
    <%= javascript_include_tag  'callers/caller_pusher', 'ICanHaz.min.js', 'jquery.form.js' %>

    <script type="text/javascript">
        var pusher = new Pusher('<%= Pusher.key %>');
    </script>

    <script id="voter" type="text/html">
      {{#fields}}
      <% if @selected_voter_fields.delete('CustomId') %>
        <li>ID: <b>{{CustomID}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('FirstName') %>
        <li>First name: <b>{{FirstName}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('MiddleName') %>
        <li>Middle name: <b>{{MiddleName}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('LastName') %>
        <li>Last name: <b>{{LastName}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('Suffix') %>
        <li>Suffix: <b>{{Suffix}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('Address') %>
        <li>Address: <b>{{address}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('City') %>
        <li>City: <b>{{city}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('State/Province') %>
        <li>State/Province: <b>{{state}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('Zip/Postal Code') %>
        <li>Zip/Postal Code: <b>{{zip_code}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('Country') %>
        <li>Country: <b>{{country}}</b></li>
      <% end %>


      <% if @selected_voter_fields.delete('Phone') %>
        <li>Phone: <b>{{Phone}}</b></li>
      <% end %>
      <% if @selected_voter_fields.delete('Email') %>
        <li>Email: <b>{{Email}}</b></li>
      <% end %>

      {{/fields}}
      {{#custom_fields}}
      <% @selected_voter_fields.try(:each) do |s| %>
      <li><%= s %>: <b>{{<%= s %>}}</b></li>
      <% end %>
      {{/custom_fields}}
    </script>
<% end %>

<%= hidden_field_tag(:caller, @caller.id) %>
<%= hidden_field_tag(:caller_session, nil) %>
<%= hidden_field_tag(:current_call_attempt, nil) %>
<%= hidden_field_tag(:current_voter, nil) %>
<%= hidden_field_tag(:campaign, @campaign.id) %>

<!-- form tag used as a hack to apply proper css styling -->

<form>

<fieldset>
  <legend>Lead information</legend>
  <div id="voter_info_message" class="rt">
    <em>When connected, lead information will appear here.</em>
  </div>
  <ul id="voter_info" class="clearfix"></ul>
</fieldset>

</form>

<!-- end form tag hack -->

<fieldset>
  <legend>Script</legend>
  <% if @campaign.script %>
    <div class="rt script"> <%=raw @campaign.script.script.gsub("\n", "<br />") %></div>
  <% else %>
    <div class="rt script">There is no script assigned to this campaign.</div>
  <% end %>
</fieldset>

<%= render 'results' %>
<%= render 'actions' %>

<div id="start_calling">
  <a class="action primary" href="#" onclick="javascript:goclient();">Start calling</a>
</div>

<br>

<div id="callin_data">
  <p>
	<b>Or, dial in</b><br>
    Dial-in number: <%= Settings.phone %><br>
    PIN: <%= @caller.pin %><br>
    Campaign ID: <%= @campaign.campaign_id %>
  </p>
</div>

<%= javascript_include_tag "https://static.twilio.com/libs/twiliojs/1.0/twilio.js" %>
<script type="text/javascript">


Twilio.Device.setup("<%= @token %>", {'debug':true});

Twilio.Device.connect(function (conn) {
 console.log("Successfully established call");
});
Twilio.Device.ready(function (device) {})
Twilio.Device.error(function (error) {
	alert(error.message);
});


Twilio.Device.connect(function (conn) {
  $("#start_calling").hide();
});


function goclient() {
	  params = {"PhoneNumber": "<%= @phone_number %>", 'campaign_id': "<%= @campaign.id %>", 'caller_id': "<%= @caller.id %>" };
		Twilio.Device.connect(params)
}
$(window).bind("beforeunload", function() {
  if ($("#caller_session").val()) {
    $.ajax({
        url : "/caller/" + $("#caller").val() + "/stop_calling",
        data : {session_id : $("#caller_session").val() },
        type : "POST",
        async : false,
        success : function(response) {
  		$("#start_calling").show();
      }
    });
  }

});

</script>
