<% content_for :stylesheets do %>
    <link rel="stylesheet" type="text/css" media="screen" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css"/>
    <%= stylesheet_link_tag 'jquery.ui.datetime' %>
<% end %>
<% content_for :javascripts do %>
    <%= javascript_include_tag("https://d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js") %>
    <%= javascript_include_tag 'orderable', 'state-machine','callers/caller_pusher', 'ICanHaz.min.js', 'jquery.form.js', 'flash_detect_min.js' , 'browser_detect.js', 'date.js'%>

    <script type="text/javascript">
        var pusher = new Pusher('<%= Pusher.key %>');

      $(document).ready(function() {
        $(".hidden_script").css("display", "none");
        $(".hidden_script").wrap('<div class="unhide_script" title="Click to show/hide text">[more]</span>');
        $(".unhide_script").click(function () {
          $(this).children(".hidden_script").toggle();
          new_toggle_string = $(this).html().match(/\[more\]/) ? "[less]" : "[more]";
          new_html = $(this).html().replace(/(\[more\]|\[less\])/, new_toggle_string);
          $(this).html(new_html);
        });
      });
    </script>

    <script id="voter" type="text/html">
      {{#fields}}
          {{#ID_flag}}
            <li>ID: <b>{{CustomID}}</b></li>
          {{/ID_flag}}
          {{#FirstName_flag}}
            <li>First name: <b>{{FirstName}}</b></li>
          {{/FirstName_flag}}
          {{#MiddleName_flag}}
            <li>Middle name: <b>{{MiddleName}}</b></li>
          {{/MiddleName_flag}}
          {{#LastName_flag}}
            <li>Last name: <b>{{LastName}}</b></li>
          {{/LastName_flag}}
          {{#Suffix_flag}}
            <li>Suffix: <b>{{Suffix}}</b></li>
          {{/Suffix_flag}}
          {{#Address_flag}}
            <li>Address: <b>{{address}}</b></li>
          {{/Address_flag}}
          {{#City_flag}}
            <li>City: <b>{{city}}</b></li>
          {{/City_flag}}
          {{#State/Province_flag}}
            <li>State/Province: <b>{{state}}</b></li>
          {{/State/Province_flag}}
          {{#Zip/Postal Code_flag}}
            <li>Zip/Postal Code: <b>{{zip_code}}</b></li>
          {{/Zip/Postal Code_flag}}
          {{#Country_flag}}
            <li>Country: <b>{{country}}</b></li>
          {{/Country_flag}}
          {{#Phone_flag}}
            <li>Phone: <b>{{Phone}}</b></li>
          {{/Phone_flag}}
          {{#Email_flag}}
            <li>Email: <b>{{Email}}</b></li>
          {{/Email_flag}}
      {{/fields}}
      {{#custom_field_list}}
        <li>{{name}}: <b>{{value}}</b></li>
      {{/custom_field_list}}
    </script>
<% end %>
<%= render 'shared/browser_test' %>

<%= hidden_field_tag(:caller, @caller.id) %>
<%= hidden_field_tag(:caller_session, nil) %>
<%= hidden_field_tag(:session_key, @caller_identity.session_key) %>
<%= hidden_field_tag(:current_call, nil) %>
<%= hidden_field_tag(:current_voter, nil) %>
<%= hidden_field_tag(:campaign, @campaign.id) %>

<!-- form tag used as a hack to apply proper css styling -->

<form>

  <fieldset>
    <legend>Lead information</legend>
    <div id="voter_info_message" class="rt">
      <em>When connected, lead information will appear here.</em>
    </div>
    <ul id="voter_info" class="clearfix"></ul>
  </fieldset>

</form>

<!-- end form tag hack -->


  <% unless @campaign.script %>
    <div id="script" class="rt script">There is no script assigned to this campaign.</div>
  <% else %>
    <form id="voter_responses" method="post">
      <input type="hidden" id="voter_id" name="voter_id"/>
      <% @campaign.script.try(:script_texts).try(:each) do |script_section| %>
        <fieldset class="script_element" script_order="<%= script_section.script_order %>">
            <%= raw script_section.content.gsub(/(\n|\[hide\]|\[\/hide\])/, {
              "\n" => "</p>",
              "[hide]" => '<div class="hidden_script">',
              "[/hide]" => "</div>",
              }) %>
        </fieldset>
      <% end %>

      <% @campaign.script.try(:questions).try(:each) do |question| %>
        <fieldset class="script_element" script_order="<%= question.script_order %>">
              <p><label><%= question.text %></label><br/>
                <%= select :question, question.id, question.possible_responses.collect { |pr| [pr.value, pr.id] unless (pr.value == "[No response]")}.compact %>
              </p>
        </fieldset>
      <% end %>

      <% @campaign.script.try(:notes).try(:each) do |note| %>
        <fieldset class="script_element" script_order="<%= note.script_order %>">
          <p><label><%= note.note %></label><br/>
            <input type="text" id="note_response_<%= note.id %>" name="notes[<%= note.id %>]" class="note_text"/>
          </p>
        </fieldset>
      <% end %>


    </form>

  <% end %>

<%= render "transfer" %>
<%= render "results" %>
<%= render 'actions' %>

<% unless @campaign.time_period_exceeded? %>
    <div id="connecting">Connecting...</div>
    <div id="start_calling" >
  <p><b>If your computer has a mic, click here:</b></p>
      <a class="action primary" href="#" onclick="javascript:goclient();">Start calling</a>
    </div>
    <br>

    <div id="callin_data">
      <p>
        <b>If you don't have a mic, use a phone:</b><br>
        Dial-in number: <%= number_to_phone(Settings.callin_phone, :area_code => true) %><br>
        PIN: <%= @caller_identity.pin %>
      </p>
    </div>
<% end %>

<%= javascript_include_tag "https://static.twilio.com/libs/twiliojs/1.1/twilio.min.js" %>
<script type="text/javascript">
   $('.script_element').sortElements(function(a, b){
    return parseInt($(a).attr('script_order')) > parseInt($(b).attr('script_order')) ? 1 : -1;
   });

  if (!FlashDetect.installed || !flash_supported())
    $("#start_calling").hide();

    Twilio.Device.setup("<%= @token %>", {'debug':true});

    Twilio.Device.connect(function (conn) {
    });
    Twilio.Device.ready(function (device) {
    client_ready=true;
    })
    Twilio.Device.error(function (error) {
        alert(error.message);
    });


    Twilio.Device.connect(function (conn) {
        $("#start_calling").hide();
    });


    function goclient() {
        $("#callin_data").hide();
        $.ajax({
            url : "/caller/" + $("#caller").val() + "/check_reassign",
            data : {campaign_id : $("#campaign").val(), session_key: $("#session_key").val() },
            type : "POST",
            success : function(response) {
              if(response.reassign == 'true'){
                set_new_campaign_script(response);
                set_response_panel(response);
                set_transfer_panel(response);
              }
            }
        });
        params = {"PhoneNumber": "<%= @phone_number %>", 'campaign_id': "<%= @campaign.id %>", 'caller_id': "<%= @caller.id %>" ,'session_key': "<%= @caller_identity.session_key %>"};
        Twilio.Device.connect(params)
    }

    $(window).bind("beforeunload", function() {
        if ($("#caller_session").val()) {
            $.ajax({
                url : "/caller/" + $("#caller").val() + "/stop_calling",
                data : {session_id : $("#caller_session").val() },
                type : "POST",
                async : false,
                success : function(response) {
                    $("#start_calling").show();
                }
            });
        }

    });

</script>
