<div class="fields">
  <p>
    <%= f.label :response %>
    <%= f.text_field :response %>
    <%= f.label :keypad %>
    <%= f.text_field :keypad %>
    <%= link_to_remove_fields "remove", f %><br />
  </p>
</div>