<fieldset>
<legend>Recording</legend>
	
    <%= f.label :name %>
    <%= f.text_field :name %>

    <% if f.object.file.exists? %>
      <div><embed type="application/x-shockwave-flash" wmode="transparent" height="27" width="320"
                  src="http://www.google.com/reader/ui/3523697345-audio-player.swf?audioUrl=<%= f.object.file.url %>"/></div>
  <% end %>
  <%= f.file_field :file %>
  <%= link_to_remove_fields "remove", f %>

  <% f.fields_for :recording_responses do |response_form| %>
      <%= render :partial=>"recording_response_fields", :locals => { :f => response_form} %>
  <% end %>

<%= link_to_add_fields "Add Response", f, :recording_responses%>
</fieldset>