<%= javascript_include_tag 'nested_form' %>
<h1><%= @script.new_record? ? "New message" : "Edit message" %></h1>
<%= error_messages_for :script %>

<%= nested_form_for @script, :html => {:name => 'callerForm', :id => 'callerForm', :multipart => true} do |f| %>
    <%= f.hidden_field :robo %>
    <p>
      <label>Message name</label>
      <%= f.text_field :name, {:class => "field"} %>
    </p>
    <%= f.fields_for :robo_recordings do |recording| %>
        <%= render :partial => "robo_recording_fields", :locals => {:f => recording} %>
    <% end %>
    
    <%= f.link_to_add "Add recording", :robo_recordings, :class => "action secondary small_font" %>
    <p>&nbsp;</p>
    
    <div class="buttons"><%= button_tag 'Save' %></div>
<% end %>
