<h1><%= @script.new_record? ? "New script" : "Edit script" %></h1>
<%= error_messages_for :script %>

<% form_for @script, :html => {:name => 'callerForm', :id => 'callerForm', :multipart=>true}   do |f| %>
    <%= f.hidden_field :robo %>
    <p>
      <label>Script name</label>
      <%= f.text_field :name, {:class=>"field"} %>
    </p>
    <%f.fields_for :robo_recordings do |recording|%>
        <%= render :partial=>"robo_recording_fields", :locals=>{:f => recording}%>
    <%end %>

<!--C42's ruby

    <p class="actions"><%= link_to_add_fields "Add recording", f, :robo_recordings%></p>

-->

    <p class="actions"><a href="#" class="action secondary" onclick="add_fields(this, &quot;robo_recordings&quot;, &quot;&lt;fieldset&gt;\n&lt;legend&gt;Recording&lt;\/legend&gt;\n&lt;div class=\&quot;fields\&quot;&gt;\n    &lt;label for=\&quot;script_robo_recordings_attributes_new_robo_recordings_name\&quot;&gt;Name&lt;\/label&gt;\n    &lt;input id=\&quot;script_robo_recordings_attributes_new_robo_recordings_name\&quot; name=\&quot;script[robo_recordings_attributes][new_robo_recordings][name]\&quot; size=\&quot;30\&quot; type=\&quot;text\&quot; /&gt;\n    \n  &lt;input id=\&quot;script_robo_recordings_attributes_new_robo_recordings_file\&quot; name=\&quot;script[robo_recordings_attributes][new_robo_recordings][file]\&quot; size=\&quot;30\&quot; type=\&quot;file\&quot; /&gt;\n  &lt;input id=\&quot;script_robo_recordings_attributes_new_robo_recordings__destroy\&quot; name=\&quot;script[robo_recordings_attributes][new_robo_recordings][_destroy]\&quot; type=\&quot;hidden\&quot; /&gt;&lt;a href=\&quot;#\&quot; onclick=\&quot;remove_fields(this); return false;\&quot;&gt;remove&lt;\/a&gt;&lt;br /&gt;\n\n  \n\n\n\n  &lt;p&gt;&lt;a href=\&quot;#\&quot; onclick=\&quot;add_fields(this, &amp;quot;recording_responses&amp;quot;, &amp;quot;&amp;lt;div class=\\&amp;quot;fields\\&amp;quot;&amp;gt;\\n  &amp;lt;p&amp;gt;\\n    &amp;lt;label for=\\&amp;quot;script_robo_recordings_attributes_new_robo_recordings_recording_responses_attributes_new_recording_responses_response\\&amp;quot;&amp;gt;Response&amp;lt;\\/label&amp;gt;\\n    &amp;lt;input id=\\&amp;quot;script_robo_recordings_attributes_new_robo_recordings_recording_responses_attributes_new_recording_responses_response\\&amp;quot; name=\\&amp;quot;script[robo_recordings_attributes][new_robo_recordings][recording_responses_attributes][new_recording_responses][response]\\&amp;quot; size=\\&amp;quot;30\\&amp;quot; type=\\&amp;quot;text\\&amp;quot; /&amp;gt;\\n    &amp;lt;label for=\\&amp;quot;script_robo_recordings_attributes_new_robo_recordings_recording_responses_attributes_new_recording_responses_keypad\\&amp;quot;&amp;gt;Keypad&amp;lt;\\/label&amp;gt;\\n    &amp;lt;input id=\\&amp;quot;script_robo_recordings_attributes_new_robo_recordings_recording_responses_attributes_new_recording_responses_keypad\\&amp;quot; name=\\&amp;quot;script[robo_recordings_attributes][new_robo_recordings][recording_responses_attributes][new_recording_responses][keypad]\\&amp;quot; size=\\&amp;quot;30\\&amp;quot; type=\\&amp;quot;text\\&amp;quot; /&amp;gt;\\n    &amp;lt;input id=\\&amp;quot;script_robo_recordings_attributes_new_robo_recordings_recording_responses_attributes_new_recording_responses__destroy\\&amp;quot; name=\\&amp;quot;script[robo_recordings_attributes][new_robo_recordings][recording_responses_attributes][new_recording_responses][_destroy]\\&amp;quot; type=\\&amp;quot;hidden\\&amp;quot; /&amp;gt;&amp;lt;a href=\\&amp;quot;#\\&amp;quot; onclick=\\&amp;quot;remove_fields(this); return false;\\&amp;quot;&amp;gt;remove&amp;lt;\\/a&amp;gt;&amp;lt;br /&amp;gt;\\n  &amp;lt;\\/p&amp;gt;\\n&amp;lt;\\/div&amp;gt;&amp;quot;); return false;\&quot;&gt;Add Response&lt;\/a&gt;&lt;\/p&gt;\n&lt;\/div&gt;\n&lt;\/fieldset&gt;&quot;); return false;">Add recording</a></p>

<!-- c42's ruby

    <%= f.submit @script.new_record? ? "Create script" : "Update script" %>

-->

<!-- Michael's HTML -->

    <button type="submit">Save</button>

<!-- End Michael's HTML -->

<% end %>