<% form_tag("/caller/campaign/#{params[:id]}", {:class => "form", :id=>"myform", :name=>"myform"}) do %>
	<div class="box" style="width:100%;">
		<%= render :partial => 'shared/boxtop', :locals=>{:title=>"#{@campaign.name}"} %>
<fieldset>
	<legend>Lead information</legend>
		<div class="box-content">

			<div id="previewInfo" style="display:none;" class="rt">
				<div id="previewvoterInfo"></div>
			</div>
			<div id="voter_info" class="rt"><em>When connected, lead information will appear here.</em></div>

</fieldset>
<fieldset>
	<legend>Script</legend>
			<% if !@campaign.script.script.blank? %><div class="rt"> <%= @campaign.script.script.gsub("\n", "<br/>") %></div><% end %>
</fieldset>
<fieldset>
	<legend>Results</legend>
		<div id="result_instruction"><em>When connected, call result options will appear here.</em></div>
			<div id="response" class="rt" style="display:none; font-size:1em;">

				<%# @script.name %>
				<% @script.result_sets_used.each do |r| %>
					<% json = JSON.parse(eval("@script.result_set_#{r}")) %>
					<select class="field" id="disposition<%= r %>" style="display:inline;">
						<%  for b in 1..99 do %>
							<% thisKeypadval=json["keypad_#{b}"] %>
							<% if !thisKeypadval.blank? %><option value="<%= b %>"><%= thisKeypadval %></option><% end %>
						<% end %>
					</select>
				<% end %>
				<% @campaign.script.notes_used.each do |b| %>
					<% thisNote=eval("@script.note_#{b}") %>
					<div style="margin:3px;padding:3px;"><%= thisNote %> <input type="text" name="note<%= b %>" id="note<%= b %>"  size="30"></div>
				<% end %>
			</div>
		</div>
</fieldset>
		<div class="caller_buttons" id="caller_buttons">
			<div id="statusdiv" style="float:right; padding-bottom:10px;">Status: Not connected.</div>
	      	<div id="actiondiv">
		Enter your phone number:
		<input type="text" name="numtocall" placeholder="Type your phone number here"> 
		<p><div class="buttons">
		<button type="submit">Start taking calls</button>
		</div></p>
		
<!--		<input type="submit" class="button" value="Start Taking Calls">-->
			
		</div>
	
	    </div>
    
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://www.twiliort.com/v1/realtime-client.js"></script>
	<!--var url = '/caller/reconnect_rt?key=<%# @on_call.session_key %>&k=<%=@k%>&v=<%=@v%>';-->
	<script>
	function rc(k,v){
		var url = '/caller/reconnect_rt?key=' + sk + '&k=' + k + '&v=' + v;
		$.ajax({
			type: 'GET',
			dataType: 'script',
			url: url
		});
	}
	</script>
	<% if !@session.blank? %>
	<script type="text/javascript" src="/caller/js/<%= @session.session_key %>"></script>
	<% end %>
	<% if @on_call!=nil %>
		<script type="text/javascript" src="/caller/js/<%= @on_call.session_key %>?reconnect=1"></script>
		<% render :partial => 'get_reconnect_key_value' %>

		<script>
			$('#statusdiv').html("Status: Reconnecting");
			setTimeout("rc('<%= @k %>','<%= escape_javascript @v %>')", 4000);
		</script>

	<% end %>
<% end -%>
<img src="/images/report_bug.png" onclick="feedback();" align="right">

<!--<input type="button" value="poll" onclick="dpoll();">-->
<%# @session.session_key if @session!=nil %>
<textarea id="dbx" rows="10" cols="90" style="overflow:auto; font-size:10px; display:none;"></textarea>
<!--<p><a href="#" onclick="$('#dbx').show();">&mdash;</a></p>-->

<script type="text/javascript" src="/js/browser_detect.js"></script>
<script type="text/javascript" src="/js/flash_detect_min.js"></script>
<script>


function feedback(){
	var info = prompt("Please enter a description of the issue:","");
	info = document.getElementById('dbx').value + '<p>' + info + "</p><p>" + BrowserDetect.browser + ' ' + BrowserDetect.version + ' ' + BrowserDetect.OS + ' ' + horizontal + 'x' + vertical + '</p>';
	var flash='';
    for(var i in FlashDetect){
        if(typeof FlashDetect[i] != "function" && typeof FlashDetect[i] != "undefined"){
			if (i=='raw' || i=='installed')
            	flash+= "<p>FlashDetect." + i + ":" + FlashDetect[i] + "</p>";
        }
    }
	info = info + flash;
	<% if !@session.blank? %>
		info = info + '<p>session <%= @session.id %></p>';
	<% end %>
	info = info + '<p>caller <%= @caller.id %> <%= @caller.name %> <%= @caller.email %></p>';
	info = info + '<p>campaign <%= @campaign.id %> <%= @campaign.name %></p>';
	info = info + '<p>script <%= @script.id %> <%= @script.name %></p>';
	info = info + '<p>ip <%= @client_ip %></p>';
	
	$.post("/caller/feedback", { issue: info} );
	alert( 'Thank you for sending your feedback.')


}
		</script>
		