		/*
		var d='{\"x\":\"123\",\"u\":\"xxz\"}';
		alert(d);
		alert(JSON.parse(d));
		*/
		<%#  vars for reconnect key/value %>
		var k='';
		var v='';
		var currAttempt='';
		var sk='<%= @session.session_key %>';
		$.ajaxSetup ({   cache: false  });

		function dialTimedOut(){
		//	alert('dialTimedOut');
			$('#statusdiv').html("Status: Not Connected");
			$('#actiondiv').html('Enter your phone number: <input type="text" name="numtocall"> <input type="submit" class="button" value="Start Taking Calls">');
		 	$('#voter_info').hide();
		 	$('#response').hide();
		 	$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
		}


		var ajax_load = "<img src='/images/ajax-loader.gif' alt='loading...' />";  
		//var lastMessage="{"default": "lastMessage"}";
		  $(document).ready(function() {


			t=setTimeout("dialTimedOut()",60000);
			
			<% if !@session.blank? %>
			<% if params[:reconnect].blank? %>
				$('#statusdiv').html("Status: Dialing your phone");
			<% else %>
			$('#statusdiv').html("Status: Reconnecting to your session");
			<% end %>
			$("#actiondiv").html(ajax_load);
			<%end %>
			
		 	$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
		    Realtime.init("<%= TWILIO_ACCOUNT %>");
		    Realtime.listen("/<%= @session.session_key %>", {
				onmessage:  function(msg) {
					// $("body").append("<pre>"+JSON.stringify(msg)+"</pre>");
					document.getElementById('dbx').innerHTML=document.getElementById('dbx').innerHTML + "\n" + JSON.stringify(msg);
					for (var command in msg) {
						if (command=="voter_start"){
							voter_data = JSON.parse(msg[command]);
							var voter_out="";
							var attempt_id='';
							var family=[];
							var isFam=false;
							for (var info in voter_data){
								if (info=='attempt_id')
									attempt_id = voter_data[info];
								else if (info=='family')
									family = voter_data[info];
								else
									voter_out+= '<li>' + info + ": " + voter_data[info] + "</li>";
							}
							currAttempt=attempt_id;

							if (family.length>1)
								isFam=true;
							$('#statusdiv').html("Status: In call");
							$('#actiondiv').html('<div class="buttons"><input type="button" class="button" value="Submit and Keep Calling" onclick="processresult(' + attempt_id+ ',0,' + isFam + ');"> <input type="button" class="button" value="Submit and Stop Calling" onclick="processresult(' + attempt_id + ',1,' + isFam+ ');"> <input type="button" class="button" value="End Call" onclick="dropcall(' + attempt_id + ');"></div>');
					 		$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
						
							if (family.length==0){
								$('#voter_info').html('<input type="hidden" name="familychoice" id="familychoice" value=""><div style="font-size:.7em;">Connected to:</div><ul> ' + voter_out + '</ul>' );
							} else {
								voter_out='';
								for (var index = 0; index < family.length; ++index) {
									var item = family[index];
									var selected='';
									/*
									if (item.classname=='Voter')
										selected='checked';
									*/
									if (family.length==1)
										selected='checked';
							  		info = '<div class="fam"> <input type="radio" name="familychoice" value="' + item.classname + "_" + item.id + '" ' + selected + ' > Household member ' + (index+1) + ':<ul>';
										for (var prop in item){
											if(prop!="classname" && prop!="id")
												info+= '<li>' + prop + ": " + item[prop] + "</li>";
										}	
									info+='</div> <br/>';
									voter_out = voter_out + info + '</ul>';
								}
								$('#voter_info').html('<div style="font-size:.7em;">Connected to:</div> ' + voter_out );
							}
					 		$('#voter_info').effect("highlight", {"color":"#3c5b7b"}, 2000);
					 		$('#response').effect("highlight", {"color":"#3c5b7b"}, 2000);
						}
					
						if (command=="hangup"){
					 		$('#voter_info').hide();
							$('#previewInfo').hide();
					 		$('#response').hide();
							$('#statusdiv').html("Status: Hung up");
							$('#actiondiv').html('Enter your phone number: <input type="text" name="numtocall"> <input type="submit" class="button" value="Start Taking Calls">');
					 		$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
						}
						
						if (command=="waiting"){
							currAttempt='waiting';
							clearTimeout(t);
							<% @campaign.script.notes_used.each do |n| %>
								$("#note<%=n%>").val('');
							<% end %>
							var callMode = msg[command];
							if (callMode=='preview') {

								var url = '/caller/preview_choose?key=<%= @session.session_key %>';
								$.ajax({
								    type: 'GET',
								    dataType: 'script',
								    url: url
								  });
								
						 		$('#voter_info').hide();
						 		$('#response').hide();
								$('#statusdiv').html("Status: In preview dial queue");
								$('#actiondiv').html('<input type="button" class="button" value="Stop taking calls" onclick="imdone();"> <span id="callButton"></span> <input type="button" onclick="showPreview();" value="Skip" class="button">');
						 		$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
							} else if (callMode=="preview_dialing") {
						 		$('#voter_info').hide();
						 		$('#response').hide();
								$('#previewInfo').hide();
								$('#statusdiv').html("Status: Preview call dial in progress");
								$('#actiondiv').html('<input type="button" class="button" value="Stop taking calls" onclick="imdone();">');
						 		$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
							} else {
						 		$('#voter_info').hide();
						 		$('#response').hide();
								$('#previewInfo').hide();
								$('#statusdiv').html("Status: In call queue");
								$('#actiondiv').html('<input type="button" class="button" value="Stop taking calls" onclick="imdone();">');
						 		$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
								
							}
						}
					
						if(command=="confirm") {// + "'s value is " + msg[command]);
							clearTimeout(t);
							$('#statusdiv').html("Status: Confirm to start taking calls");
							$('#actiondiv').html('<input type="button" class="button" value="Click here to start taking calls" onclick="imready();">');
					 		$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
						}
					}
				} ,
				ondisconnect: function() { 
					$('#voter_info').hide();
					$('#previewInfo').hide();
				 	$('#response').hide();
					$('#statusdiv').html("Status: Disconnected");
					// put it reconnect button
					$('#actiondiv').html('Your web connection disconnected. <!--<input type="text" name="numtocall">--> <input type="submit" class="button" value="Reconnect">');
				 	$('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
				 },
				onconnect: function() { }
			}
		);
	});
		
		function $RF(el, radioGroup) {
		    if($(el).type && $(el).type.toLowerCase() == 'radio') {
		        var radioGroup = $(el).name;
		        var el = $(el).form;
		    } else if ($(el).tagName.toLowerCase() != 'form') {
		        return false;
		    }

		    var checked = $(el).getInputs('radio', radioGroup).find(
		        function(re) {return re.checked;}
		    );
		    return (checked) ? $F(checked) : null;
		}


		function processresult(attempt_id, hangup,isFam){

			var disposition = $("#disposition").val();
			var familychoice = get_family_value();
			if (isFam){
				if (familychoice==""){
					alert('Please select a household member before submitting.');
					return false;
				}
			}
			
			var jsonUrl = "/caller/submit_result/?key=<%= @session.session_key %>&attempt=" + attempt_id <% @campaign.script.result_sets_used.each do |r| %>+ "&disposition<%= r %>=" +  escape($("#disposition<%=r%>").val()) <% end %> <% @campaign.script.notes_used.each do |n| %>+ "&note<%= n %>=" +  escape($("#note<%=n%>").val()) <% end %> + "&hangup=" + hangup + "&family="+ familychoice;
			$("#actiondiv").html(ajax_load);
			resetBoxes();
			$('#response').hide();
//			document.getElementById('dbx').value=jsonUrl;
			//alert(jsonUrl);
			//$("#db").value=jsonUrl;
			$.getJSON(jsonUrl,{}, 
				function(json) {
					//var result = "Language code is \"<strong>" + json.responseData.language + "\"";
					//$("#result").html(result);
				}
			);
			
		}
		
		function resetBoxes(){
			<% @campaign.script.result_sets_used.each do |r| %>
				document.getElementById('disposition<%= r %>').selectedIndex=0;
			<% end %>
			 <% @campaign.script.notes_used.each do |n| %>
				document.getElementById('note<%= n %>').value='';
			<% end %>
		}
		function imdone(){
			var jsonUrl = "/caller/session_end/<%= @session.session_key %>";
			$("#actiondiv").html(ajax_load);
			$.getJSON(jsonUrl,{}, 
				function(json) {
				//	var result = "Language code is \"<strong>" + json.responseData.language + "\"";
				//	$("#result").html(result);
				}
			);
		}

		
		function imready(){
			var jsonUrl = "/caller/session_ready/<%= @session.session_key %>";
			$("#actiondiv").html(ajax_load);
			$.getJSON(jsonUrl,{}, 
				function(json) {
				//	var result = "Language code is \"<strong>" + json.responseData.language + "\"";
				//	$("#result").html(result);
				}
			);
		}
		
		function dropcall(attempt_id){
			var jsonUrl = "/caller/drop_call?session=<%= @session.session_key %>&attempt=" + attempt_id;
//			$("#actiondiv").html(ajax_load);
			$.getJSON(jsonUrl,{}, 
				function(json) {}
			);
			
		}
		
		

		function get_family_value() {
			var rad_val='';
			for (var i=0; i < document.myform.familychoice.length; i++)
			{
				if (document.myform.familychoice[i].checked)
			      {
			      rad_val = document.myform.familychoice[i].value;

			      }
			   }
			return rad_val;
		}

		var currPreview=0;

		function showPreview(){
			if (voters.length==0) {
				imdone();
				alert('There are no more numbers to call in the <%= escape_javascript(@campaign.name) %> campaign.');
				document.location.href='/caller/';
				return;
			}
			$('#previewInfo').show();
//			$('#previewInfo').effect("highlight", {"color":"#3c5b7b"}, 2000);
			if (currPreview>=voters.length)
				currPreview=0;
			curVoter = voters[currPreview];
			document.getElementById('previewvoterInfo').innerHTML='<p>Name: ' + curVoter[0] + ' ' + curVoter[1] + '</p><p>Phone: ' + curVoter[2] + '</p>';
			document.getElementById('callButton').innerHTML='<input type="button" class="button" onclick="dialVoter(' + curVoter[3] + ');" value="Dial">';
			currPreview++;
			if (currPreview>=voters.length)
				currPreview=0;
		}
		
		function dialVoter(vid){
				$('#previewInfo').hide();
				var url = '/caller/preview_dial?key=<%= @session.session_key %>&voter_id=' + vid;
				$.ajax({
				    type: 'GET',
				    dataType: 'script',
				    url: url
				  });
			
//			document.location.href='/caller/preview_dial?key=<%= params[:key] %>&voter_id=' + vid;
		}

		function dpoll(){
			var url = '/caller/dpoll?key=<%= @session.session_key %>&currAttempt=' + currAttempt;
			$.ajax({
			    type: 'GET',
			    dataType: 'script',
			    url: url
			  });
			setTimeout("dpoll()", 30000);			
		}
		setTimeout("dpoll()", 30000);
