var k = '';
var v = '';
var currAttempt = '';
var sk = '<%= @session.session_key %>';
$.ajaxSetup({   cache: false  });
var ajax_load = "<img src='/images/ajax-loader.gif' alt='loading...' />";

function dialTimedOut() {
    $('#statusdiv').html("Status: Not Connected");
    $('#actiondiv').html('<%= @start_action_div_contents %>');
    $('#voter_info').hide();
    $('#response').hide();
    $('#result_instruction').show();
    $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
}


$(document).ready(function() {
    <%# make call or re-establish session %>
    t = setTimeout("dialTimedOut()", 60000);
    <% if @on_call!=nil %>
    $('#statusdiv').html("Status: Reconnecting to your session");
    $("#actiondiv").html(ajax_load);
    <% else %>
    $('#statusdiv').html("Status: Dialing your phone");
    <% end %>
    $("#actiondiv").html(ajax_load);
    $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);

    var pusher = new Pusher('<%= PUSHER_KEY %>');
    var channel = pusher.subscribe('<%= @session.session_key %>');

    <% if RAILS_ENV!="production"%>
    Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
    };
    <% end %>

    pusher.bind('pusher:connection_established',
            function(ev) {
                socketId = ev.socket_id;
                <% if @on_call!=nil %>
                <% render :partial => 'get_reconnect_key_value' %>
                var url = '/caller/reconnect_rt?key=' + sk + '&k=<%= @k %>&v=<%= escape_javascript @v %>';
                $.ajax({
                    type: 'GET',
                    dataType: 'script',
                    url: url
                });
                <% end %>
            }
    );

    pusher.bind('pusher:connection_failed', function(ev) {
        $('#voter_info').hide();
        $('#previewInfo').hide();
        $('#response').hide();
        $('#result_instruction').show();
        $('#statusdiv').html("Status: Browser push connection failed");
        // put it reconnect button
        $('#actiondiv').html('Your web connection disconnected. <!--<input type="text" name="numtocall">--> <input type="submit" class="button" value="Reconnect">');
        $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
    });

    channel.bind('test', function(data) {
        alert(data);
    });

    channel.bind('waiting', function(data) {
        clearTimeout(t);
        currAttempt = 'waiting';
        <% @campaign.script.notes_used.each do |n| %>
        $("#note<%=n%>").val('');
        <% end %>
        var callMode = data;
        if (callMode == 'preview') {
            var url = '/caller/preview_choose?key=<%= @session.session_key %>';
            $.ajax({
                type: 'GET',
                dataType: 'script',
                url: url
            });
            $('#voter_info').hide();
            $('#response').hide();
            $('#result_instruction').show();
            $('#statusdiv').html("Status: In preview dial queue");
            $('#actiondiv').html('<span class="actions"><a href="javascript:imdone();" class="action secondary">Stop taking calls</a></span> <span id="callButton"></span> <span class="actions"><a href="javascript:showPreview();" class="action secondary">Skip</a></span> ');
            $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
        } else if (callMode == "preview_dialing") {
            $('#voter_info').hide();
            $('#response').hide();
            $('#result_instruction').show();
            $('#previewInfo').hide();
            $('#statusdiv').html("Status: Preview call dial in progress");
            $('#actiondiv').html('<span class="actions"><a href="javascript:imdone();" class="action secondary">Stop taking calls</a></span>');
            $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
        } else {
            $('#voter_info').hide();
            $('#response').hide();
            $('#result_instruction').show();
            $('#previewInfo').hide();
            $('#statusdiv').html("Status: In call queue");
            $('#actiondiv').html('<span class="actions"><a href="javascript:imdone();" class="action secondary">Stop taking calls</a></span>');
            $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
        }
    });

    channel.bind('voter_start', function(data) {
//		voter_data = JSON.parse(data);
        voter_data = data;
        var voter_out = "";
        var attempt_id = '';
        var family = [];
        var isFam = false;
        for (var info in voter_data) {
            if (info == 'attempt_id')
                attempt_id = voter_data[info];
            else if (info == 'family')
                family = voter_data[info];
            else
                voter_out += '<li>' + info + ": " + voter_data[info] + "</li>";
        }
        currAttempt = attempt_id;
        update_schedule_form(currAttempt);
        $("#callback_scheduler").show();

        if (family.length > 1)
            isFam = true;
        $('#statusdiv').html("Status: In call");
        $('#actiondiv').html('<span class="actions"><a href="javascript:processresult(' + attempt_id + ',0,' + isFam + ');" class="action secondary">Submit and Keep Calling</a></span> <span class="actions"><a href="javascript:processresult(' + attempt_id + ',1,' + isFam + ');" class="action secondary">Submit and Stop Calling</a></span> <span class="actions"><a href="javascript:dropcall(' + attempt_id + ');" class="action secondary">End Call</a></span>');
        $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);

        if (family.length == 0) {
            $('#voter_info').html('<input type="hidden" name="familychoice" id="familychoice" value=""><div style="font-size:.7em;">Connected to:</div><ul> ' + voter_out + '</ul>');
        } else {
            voter_out = '';
            for (var index = 0; index < family.length; ++index) {
                var item = family[index];
                var selected = '';
                /*
                 if (item.classname=='Voter')
                 selected='checked';
                 */
                if (family.length == 1)
                    selected = 'checked';
                info = '<div class="clearfix"> <input type="radio" name="familychoice" value="' + item.classname + "_" + item.id + '" ' + selected + ' > Household member ' + (index + 1) + ':<ul>';
                for (var prop in item) {
                    if (prop != "classname" && prop != "id")
                        info += '<li>' + prop + ": " + item[prop] + "</li>";
                }
                info += '</div> <br/>';
                voter_out = voter_out + info + '</ul>';
            }
            $('#voter_info').html('<div style="font-size:.7em;">Connected to:</div> ' + voter_out + '<div> Schedule Callback : </div>');
        }
        $('#voter_info').effect("highlight", {"color":"#3c5b7b"}, 2000);
        $('#response').effect("highlight", {"color":"#3c5b7b"}, 2000);
        $('#result_instruction').hide();
    });

    channel.bind('hangup', function(data) {
        $('#voter_info').hide();
        $('#previewInfo').hide();
        $('#response').hide();
        $('#result_instruction').show();
        $('#statusdiv').html("Status: Hung up");
        $('#actiondiv').html('<%= @start_action_div_contents %>');
        $('#caller_buttons').effect("highlight", {"color":"#3c5b7b"}, 2000);
    });

});



function $RF(el, radioGroup) {
    if ($(el).type && $(el).type.toLowerCase() == 'radio') {
        var radioGroup = $(el).name;
        var el = $(el).form;
    } else if ($(el).tagName.toLowerCase() != 'form') {
        return false;
    }

    var checked = $(el).getInputs('radio', radioGroup).find(
            function(re) {
                return re.checked;
            }
    );
    return (checked) ? $F(checked) : null;
}


function processresult(attempt_id, hangup, isFam) {

    var disposition = $("#disposition").val();
    var familychoice = get_family_value();
    if (isFam) {
        if (familychoice == "") {
            alert('Please select a household member before submitting.');
            return false;
        }
    }

    var jsonUrl = "/caller/submit_result/?key=<%= @session.session_key %>&attempt=" + attempt_id <% @campaign.script.result_sets_used.each do |r| %> + "&disposition<%= r %>=" + escape($("#disposition<%=r%>").val()) <% end %> <% @campaign.script.notes_used.each do |n| %> + "&note<%= n %>=" + escape($("#note<%=n%>").val()) <% end %> + "&hangup=" + hangup + "&family=" + familychoice;
    $("#actiondiv").html(ajax_load);
    resetBoxes();
    $('#response').hide();
    $('#result_instruction').show();
//	document.getElementById('dbx').value=jsonUrl;
    //alert(jsonUrl);
    //$("#db").value=jsonUrl;
    $.getJSON(jsonUrl, {},
            function(json) {
                //var result = "Language code is \"<strong>" + json.responseData.language + "\"";
                //$("#result").html(result);
            }
    );

}

function resetBoxes() {
<% @campaign.script.result_sets_used.each do |r| %>
    document.getElementById('disposition<%= r %>').selectedIndex = 0;
<% end %>
<% @campaign.script.notes_used.each do |n| %>
    document.getElementById('note<%= n %>').value = '';
<% end %>
}
function imdone() {
    var jsonUrl = "/caller/session_end/<%= @session.session_key %>";
    $("#actiondiv").html(ajax_load);
    $.getJSON(jsonUrl, {},
            function(json) {
                //	var result = "Language code is \"<strong>" + json.responseData.language + "\"";
                //	$("#result").html(result);
            }
    );
}


function imready() {
    var jsonUrl = "/caller/session_ready/<%= @session.session_key %>";
    $("#actiondiv").html(ajax_load);
    $.getJSON(jsonUrl, {},
            function(json) {
                //	var result = "Language code is \"<strong>" + json.responseData.language + "\"";
                //	$("#result").html(result);
            }
    );
}

function dropcall(attempt_id) {
    var jsonUrl = "/caller/drop_call?session=<%= @session.session_key %>&attempt=" + attempt_id;
//	$("#actiondiv").html(ajax_load);
    $.getJSON(jsonUrl, {},
            function(json) {
            }
    );

}



function get_family_value() {
    var rad_val = '';
    for (var i = 0; i < document.myform.familychoice.length; i++) {
        if (document.myform.familychoice[i].checked) {
            rad_val = document.myform.familychoice[i].value;

        }
    }
    return rad_val;
}

var currPreview = 0;

function showPreview() {
    if (voters.length == 0) {
        imdone();
        alert('There are no more numbers to call in the <%= escape_javascript(@campaign.name) %> campaign.');
        document.location.href = '/caller/';
        return;
    }
    $('#previewInfo').show();
//	$('#previewInfo').effect("highlight", {"color":"#3c5b7b"}, 2000);
    if (currPreview >= voters.length)
        currPreview = 0;
    curVoter = voters[currPreview];
    document.getElementById('previewvoterInfo').innerHTML = '<p>Name: ' + curVoter[0] + ' ' + curVoter[1] + '</p><p>Phone: ' + curVoter[2] + '</p>';
//	document.getElementById('callButton').innerHTML='<input type="button" class="button" onclick="dialVoter(' + curVoter[3] + ');" value="Dial">';
    document.getElementById('callButton').innerHTML = '<span class="actions"><a href="javascript:dialVoter(' + curVoter[3] + ');" class="action secondary">Dial</a></span>';
    currPreview++;
    if (currPreview >= voters.length)
        currPreview = 0;
}

function dialVoter(vid) {
    $('#previewInfo').hide();
    var url = '/caller/preview_dial?key=<%= @session.session_key %>&voter_id=' + vid;
    $.ajax({
        type: 'GET',
        dataType: 'script',
        url: url
    });

//	document.location.href='/caller/preview_dial?key=
<%= params[:key] %>&voter_id=' + vid;
}

function dpoll() {
    var url = '/caller/dpoll?key=<%= @session.session_key %>&currAttempt=' + currAttempt;
    $.ajax({
        type: 'GET',
        dataType: 'script',
        url: url
    });
    setTimeout("dpoll()", 20000);
}
//setTimeout("dpoll()", 20000);

function update_schedule_form(call_attempt_id) {
    $('#current_call_attempt_id').val(call_attempt_id)
}
