<html><body>
<div id="previewInfo">
	<div id="previewvoterInfo"></div>
	<div id="callButton"></div>
	<div id="nextButton"><input type="button" onclick="showPreview();" value="Skip"></div>
</div>


<script>
voters=[]
<% @voters.each do |v| %>
	v=["<%= escape_javascript v.FirstName %>","<%= escape_javascript v.LastName %>","<%= escape_javascript v.Phone %>","<%=  v.id %>"]
	voters.push(v)
<% end %>

currPreview=0;

function showPreview(){
	curVoter = voters[currPreview];
	document.getElementById('previewvoterInfo').innerHTML='Name: ' + curVoter[0] + ' ' + curVoter[1] + '<br/>Phone: ' + curVoter[2];
	document.getElementById('callButton').innerHTML='<input type="button" onclick="dialVoter(' + curVoter[3] + ');" value="Dial">';
	currPreview++;
	if (currPreview>=voters.length)
		currPreview=0;
}
function dialVoter(vid){
	document.location.href='/caller/preview_dial?key=<%= params[:key] %>&voter_id=' + vid;
}
showPreview();
</script>
</body></html>