<section id="terms">
<h2>Terms of service</h2>
<p>These Terms of Service (“Terms”) are a legal agreement, but we've worked hard to make them short and understandable. Please take a moment to read them entirely.</p>

<h3>This agreement</h3>
<p>This is an agreement between <%= full_title %> (“<%= title %>”, “we”, “us”, “our”) and you or the company or organization you represent (“you”). By using <%= title %>'s auto dialer software (“Dialer”), you are agreeing to these Terms. We may change these Terms, in which case we will notify you by email and when you log in to the Dialer. If you continue to use the Dialer, you have agreed to the updated Terms, and the updated Terms will apply retroactively to your previous usage of the Dialer. You may end this agreement by stopping your use of the Dialer. We may end this agreement by notifying you by email.</p>

<h3>Payment and refunds</h3>
<p><%= title %> will tell you the fees for using the Dialer on our website, in the Dialer, or by email. We may change the fees at any time. If you request that we refund any unused pre-paid charges, we will do so within 30 days. If you cancel your account or for any other reason we request that you pay any outstanding fees, you will do so within 30 days. As a policy, we do not provide refunds other than for unused pre-paid charges, although we may provide refunds for other reasons at our discretion. If <%= title %> has to provide information in response to a subpoena related to your account, you will pay us for all our costs of doing so.</p>

<h3>Ownership of the Dialer</h3>
<p><%= title %> owns the Dialer, and you will respect our proprietary rights (including patents, trademarks, and copyrights). As we work to improve the Dialer, we may change it at any time, without telling you beforehand. </p>

<h3>Ownership of your data</h3>
<p>You own all of the data you upload and input to the Dialer, such as (but not limited to) the names and phone numbers of the people you are calling, and the contents of your scripts. <%= title %> may use information from your calls to improve the Dialer; for example, we may analyze how often your calls were answered to improve our dialing strategy. We will retain records of all phone calls made on the Dialer in case they are needed to verify compliance with the law.</p>

<h3>Compliance with the law</h3>
<p>You represent and warrant that you will comply with all federal, state, local and other laws, rules and regulations that relate to your use of the Dialer, including (but not limited to): the Telephone Consumer Protection Act (47 U.S.C. § 227 et seq.) and the rules, orders, and regulations of the Federal Communications Commission issued thereunder, the Federal Trade Commission Act (15 U.S.C. §§ 41-58), the Federal Trade Commission's Telemarketing Sales Rule, and all applicable state laws, orders and regulations governing telemarketing and unfair or deceptive business practices. You will be solely responsible if you violate or are accused of violating any law, rule, or regulation in your use of the Dialer.</p>

<h3>No warranties</h3>
<p>THIS SECTION IS VERY IMPORTANT. PLEASE READ IT CAREFULLY.</p>
<p><%= title %> works hard to provide a service that our customers appreciate, but we do not make any specific promises about it. The Dialer is provided “as is”. For example, that means (but is not limited to meaning) that we do not promise how the Dialer will work or how reliable it will be. To the extent permitted by law, we exclude all warranties.</p>

<h3>Limitation of liability</h3>
<p>THIS SECTION IS VERY IMPORTANT. PLEASE READ IT CAREFULLY.</p>
<p>To the extent permitted by law, you will be fully responsible for any losses you incur from using the Dialer, including (but not limited to) lost revenue and lost data, even if <%= title %> knew or should have known about the possibility of the losses. Our total liability, including for any implied warranties, will be limited to the amount you paid us to use the Dialer minus our costs of the calls you made.</p>

<h3>Indemnity</h3>
<p>If anyone brings a claim, suit, or action against <%= title %> related to your use of the Dialer or violation of these Terms, you will indemnify and hold <%= title %> and our officers, agents, and employees harmless from any losses (including attorney's fees).</p>

<h3>Legal fine print</h3>
<p>These Terms make up the entire agreement between you and <%= title %> and completely replace any previous agreements. These Terms do not create any third party beneficiary rights. You may not assign any of your rights under this agreement to anyone else. If you and we have a dispute, the State of California's laws will apply, except for conflict of laws rules, and you and we will litigate in Multnomah County, Oregon. Whoever loses the case will pay the other side's attorney fees.</p>
<p><%= title %> reserves all rights not specified in these Terms. If you don't follow these Terms, and we don't immediately take action, we may take action in the future, and we aren't giving up any rights. If it turns out part of these Terms isn't enforceable, you and we will remove that part, and it will not affect the rest of the Terms. Even if you and we end this agreement, these sections will continue to apply indefinitely: <em>Ownership of the Dialer</em>, <em>Ownership of your data</em>, <em>Compliance with the law</em>, <em>No warranties</em>, <em>Limitation of liability</em>, <em>Indemnity</em>, and <em>Legal fine print</em>.</p>
</section>
