<% if request.post? %>
  <%  if @success %>
    SUCCESS!  <%= @emails %> has been charged <%= params[:tocharge].to_f %>.<br/>
    <%= @response.inspect %>
  <% else %>
    FAILURE!
    <%= @response.inspect %>
  <% end %>
  <br/>
  <a href="/admin/users">Back to user admin</a>
<% else %>
  <%= form_tag do |f| %>
    Amount to charge: $<input type="text" name="tocharge">
    <br/> <%= @emails %>
    <%=  submit_tag "Make charge", :disable_with => "Please wait..." %>
  <% end -%>
<% end %>
