<center>
	<Br/><Br/>
<b>Page CMS (<a href="/admin/add_cms">add</a>)</b>
<Br/>
<b>Version: <% if @version.blank? %>Live<% else %><%= @version %><% end %> (<a href="/admin/pick_version">edit</a>)</b>
<style>
	table.tt tr td{border:1px dotted #999;}
</style>
<table cellpadding="5" class="tt" >
	<tr>
		<td>key</td>
		<td>content</td>
		<td></td>
	</tr>
	<% @keys.each do |k| %>
		<% 
		defaulted=true
		entry =  Seo.find_by_crmkey_and_active_and_version(k,1,@version, :order=>"crmkey", :conditions=>"controller is NULL") 
		if entry.blank?
			entry =  Seo.find_by_crmkey_and_active_and_version(k,1,nil, :order=>"crmkey", :conditions=>"controller is NULL") 	else
			defaulted=false
		end
		entry =  Seo.find_by_crmkey_and_active(k,1, :order=>"crmkey", :conditions=>"controller is NULL")  if entry.blank?
	%>
		<tr>
			<td><%= k %> <% if defaulted %>(defaulted)<% end %></td>
			<% if defaulted %>
				<td ><div style="overflow:auto;width:400px; height:100px;"><%= h(entry.content) %></div></td>
				<td><a href="/admin/copy_cms/<%= entry.id %>">edit</a></td>
			<% else %>
				<td ><div style="overflow:auto;width:400px; height:100px;"><%= h(entry.content) %></div></td>
				<td><a href="/admin/edit_cms/<%= entry.id %>">edit</a></td>
			<% end %>
		</tr>
	<% end %>
	<!--
	<# @keys.each do |p| %>
		<tr>
			<td><# p.crmkey %></td>
			<td ><div style="overflow:auto;width:400px; height:100px;"><%# p.content %></div></td>
			<td><a href="/admin/edit_cms/<# p.id %>">edit</a></td>
		</tr>
	<# end %>
	-->

</table>
</center>
<br/>