<center><%= error_messages_for :seo %>
<br/><br/>
<b>Editing  <%= @seo.crmkey %>
	<br/>
	<b>Version: <% if @version.blank? %>Live<% else %><%= @version %><% end %> (<a href="/admin/pick_version">edit</a>)</b>

	</td>
<%= form_for :seo, @seo do |f| -%>
	<table>
		<tr>
			<td>content:</td>
			<td><%= f.text_area :content %></td>
		</tr>
	</table>
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
	<input type="button" value="Cancel" onclick="document.location.href='/admin/cms';">
<% end -%>
</center>
