<ul>
  <li><%= link_to 'Status', '/admin/status' %></li>
  <li><%= link_to 'Reports', '/admin/report' %></li>
  <li><%= link_to 'Campaigns', admin_campaigns_path %></li>
  <li><%= link_to 'Callers', admin_callers_path %></li>
  <li><%= link_to 'Scripts', admin_scripts_path %></li>
</ul>
