<% if params[:id].blank? %>
	<%= form_tag do %>
		Enter call Sid:
  		<input type="textbox" name="id">
		<input type="submit">
	<% end -%>
<% else %>
	<table>
		<tr>
			<td valign="top">
				<table border="1">
					<% @reqs.each do |req| %>
					<tr>
						<td><%= req.url[req.url.index("/callin"),999] %></td>
						<td>
							<%
								begin
									p=YAML.load(req.params )
								rescue
									p=req.params
								end

							%>
							<%if p.class==Hash %>
								<% p.keys.each do |k| %>
								<%= k %>: <%= p[k] %><br/>
								<% end %>
							<% else %>
								<%= p %>
							<% end %>
						</td>
						<td><%= req.first_line %></td>
					</tr>
					<% end %>
				</table>
			</td>
			<td valign="top">

				<% @attempts.each do |a| %>
					<% colour = "%06x" % (rand * 0xffffff) %>
					<table border="1">
					<tr bgcolor="<%= colour %>">
						<td><%= a.id %></td>
						<td><%= a.call_start %></td>
						<td><%= a.call_end %></td>
						<td><%= a.voter.Phone %></td>
					</tr>
					<tr>
						<td colspan="4">
							<table>

								<% attemptreqs=Dump.find_all_by_guid(a.sid, :order=>"first_line") %>
								<% attemptreqs.each do |areq| %>
									<tr bgcolor="<%= colour %>">
										<td><%= areq.url[areq.url.index("/callin"),999] %></td>
										<td>
											<%
												begin
													p=YAML.load(areq.params )
												rescue
													p=areq.params
												end

											%>
											<%if p.class==Hash %>
												<% p.keys.each do |k| %>
												<%= k %>: <%= p[k] %><br/>
												<% end %>
											<% else %>
												<%= p.split(":").collect{|f| "#{f}<br/>" } %>
											<% end %>
										</td>
										<td><%= areq.first_line %></td>
									</tr>
								<% end %>
							</table>
						</td>
					</tr>
				</table>
				<% end %>
			</td>
		</tr>
	</table>

<% end %>
