<h1>Admin Reporting</h1>

Report Date Range:
<%= form_tag ("/admin/report") do %>
  <table>
    <tr>
      <td>From:</td>
      <td> <%= unobtrusive_date_text_picker_tag :from_date,@from_date %> </td>
    </tr>
    <tr>
      <td>
        To:</td>
      <td>  <%= unobtrusive_date_text_picker_tag :to_date,@to_date %>
        <!--<input type="submit" class="button" value="update" size="4">-->
      </td>
    </tr>
  </table>  <button type="submit">Show results</button>
<% end %>

<br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Account ID</th>
    <th>Account Email</th>
    <th>Callers</th>
    <th>Calls</th>
    <th>Transfers</th>
    <th>Total</th>
  </tr>

  <% @output.each do |r| %>
    <% account=r["account"] %>
    <% calls=r["calls"] %>
    <% sessions=r["sessions"] %>
    <% transfers=r["transfers"] %>
    <tr class="<%= cycle("odd","even") %>">
      <td><%= account.id %></td>
      <td><%= account.users.first.email %></td>
      <td><%= sessions %></td>
      <td><%= calls %></td>
      <td><%= transfers %></td>
    <td><%= sessions + calls + transfers %></td>
    </tr>
  <% end %>
</table>
