<%= content_for(:javascripts) do -%>
  <script type="text/javascript">
    $(function() {
      $('.js-show-caller').bind('click', function(event) {
        event.preventDefault();
        $.get($(this).attr('href'), function(data) {
          $('.js-callers-block').html(data.html);
        });
        return false;
      });
    });
  </script>
<% end -%>

<%= form_tag '/admin/twilio_limit' do  %>
  <input id="twilio_limit" type="text" class= "field", name="twilio_limit", value="<%= TwilioLimit.get %>">
  <%= submit_tag "Change Twilio limit" %>
<% end -%>

<table>
  <tr>
    <td>Logged in campaigns:</td>
    <td>
      <%= @logged_in_campaigns.count %>
    </td>
  </tr>
  <tr>
    <td>Logged in callers:</td>
    <td><%= @logged_in_callers_count %></td>
  </tr>
</table>

<table>
  <!-- <tr>
    <td style="vertical-align:top">
      <table> -->
        <tr>
          <th>Campaign</th>
          <th>ID</th>
          <th>Mode</th>
          <th>Callers</th>
          <th>On hold</th>
          <th>Ringing</th>
          <th>Presented</th>
          <th>Remaining</th>
        </tr>
        <% @logged_in_campaigns.each do |campaign| %>
          <tr>
            <td valign="top">
              <a target="_blank" href="/admin/login/<%= User.where(account_id: campaign.account_id).first.id %>" >
                <%= campaign.name %>
              </a>
            </td>
            <td><%= campaign.id %></td>
            <td><%= campaign.type %></td>
            <td>
              <%= link_to "#{campaign.caller_sessions.on_call.count}", admin_caller_sessions_path(campaign), class: "js-show-caller" %>
            </td>
            <td><%= campaign.current_status[:on_hold] %></td>
            <td>
              <%= campaign.ringing_count %>
              <%= link_to '+1', admin_fix_counts_path(id: campaign.id, metric: 'ringing', amount: 1), method: :post %>
              <%= link_to '-1', admin_fix_counts_path(id: campaign.id, metric: 'ringing', amount: -1), method: :post %>
            </td>
            <td>
              <%= campaign.presented_count %>
              <%= link_to '+1', admin_fix_counts_path(id: campaign.id, metric: 'presented', amount: 1), method: :post %>
              <%= link_to '-1', admin_fix_counts_path(id: campaign.id, metric: 'presented', amount: -1), method: :post %>
            </td>
            <td><%= campaign.current_status[:available] %></td>
          </tr>
        <% end -%>
      <!-- </table>
    </td>
    <td style="vertical-align:top">
      <div class='js-callers-block'></div>
    </td>
  </tr> -->
</table>
