<%= content_for(:javascripts) do -%>
  <script type="text/javascript">
    $(function() {
      $('.js-show-caller').bind('click', function(event) {
        event.preventDefault();
        $.get($(this).attr('href'), function(data) {
          $('.js-callers-block').html(data.html);
        });
        return false;
      });
    });
  </script>
<% end -%>

<%= form_tag '/admin/twilio_limit' do  %>
  <label for="twilio_limit">Twilio Limit:</label>
  <input id="twilio_limit" type="text" class= "field", name="twilio_limit", value="<%= TwilioLimit.get %>">
  <%= submit_tag "Change" %>
<% end -%>

<h1>System Status</h1>
<table>
  <tr>
    <td>Logged in campaigns:</td>
    <td><%= @logged_in_campaigns.count %></td>
  </tr>
  <tr>
    <td>Logged in callers:</td>
    <td><%= @logged_in_callers_count %></td>
  </tr>
</table>

<table>
  <tr>
    <td style="vertical-align:top">
      <table>
        <% @logged_in_campaigns.each do |campaign| %>
          <tr>
            <td valign="top">
              <a target="_blank" href="/admin/login/<%= User.where(account_id: campaign.account_id).first.id %>" >
                <%= campaign.name %> (<%= campaign.type %>)
              </a>
            </td>
            <td>
              <%= link_to "#{campaign.caller_sessions.on_call.count} callers", admin_caller_sessions_path(campaign), class: "js-show-caller" %>
            </td>
          </tr>
        <% end -%>
      </table>
    </td>
    <td style="vertical-align:top">
      <div class='js-callers-block'></div>
    </td>
  </tr>
</table>
