<h1>System Status</h1>
<table>
  <tr>
    <td>Calling Status:</td>
    <td><%= @calling_status %></td>
  </tr>
  <tr>
    <td>Logged in campaigns:</td>
    <td><%= @logged_in_campaigns.length %></td>
  </tr>
  <tr>
    <td>Logged in callers:</td>
    <td><%= @logged_in_callers.length %></td>
  </tr>

    <% @logged_in_campaigns.each do |k| %>
      <tr>
        <td valign="top"><%= k.name %> <a target="_blank" href="/admin/login/<%= k.account.users.first.id %>" style="font-size:9px;">login</a></td>
        <td>
          <%
            callers = CallerSession.find_all_by_campaign_id_and_on_call(k,1)
          %>
          <br/>Callers:
          <ul>
            <% callers.each do |ca| %>
              <li>id <%= ca.id %> <%= ca.caller.name %> <%= ca.caller.email %> started <%= ca.starttime %> from <%= ca.caller_number %> <% if !ca.available_for_call %>Not <% end %>Available <%= link_to 'end call', admin_status_path(:end => ca.id) %>
            <% end %>
          </li>
      </ul>
      <hr/>
    </td>
  </tr>
<% end -%>

</table>
