<table border="1">
  <tr>
    <td>id</td>
    <td>email</td>
    <td>card_verified</td>
    <td>activated</td>
    <td>domain</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.id %></td>
      <td><% account.users.each do |user| %>
            <%= link_to user.email, "/admin/login/#{user.id}" %>,
          <% end %></td>
      <td><%= account.card_verified %> </td>
      <td><%= account.activated %> </td>
      <td><%= account.domain_name %> </td>
      <td><a href="/admin/toggle_activated/<%= account.id %>">toggle activated</a></td>
      <td><a href="/admin/toggle_card_verified/<%= account.id %>">toggle card verified</a></td>
      <td><a href="/admin/abandonment/<%= account.id %>">Toggle Abandonment(<%= account.abandonment_value%>)</a></td>
    </tr>
  <% end %>
</table>
