<% if flash[:admin_error].present? %>
  <div class="callout alert clearfix">
    <p><strong><%= flash[:admin_error] %></strong></p>
  </div>
<% end %>

<%= form_tag ("/admin/users") do %>
  <p>
    <label>Email or Account id:</label>
    <input  id="query" name="query" type="text" style="width:250px">
  </p>
  <button type="submit">Search</button>
<% end %>


<table>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.id %></td>
      <td><% account.users.each do |user| %>
            <%= link_to user.email, "/admin/login/#{user.id}" %>
            <%= link_to '(delete)',
                    "/admin/destroy_user/#{user.id}",
                    :confirm => 'Are you sure you want to delete this user?' %>,
          <% end %></td>
      <td><%= account.domain_name %> </td>
      <td><%= link_to("set account to manual", "/admin/set_account_to_manual/#{account.id}", method: :put) %></td>
      <td><a href="/admin/abandonment/<%= account.id %>">Toggle Abandonment(<%= account.abandonment_value%>)</a></td>
      <td>
    </tr>
  <% end %>
    <p><%= page_entries_info @accounts %> <%= will_paginate @accounts %></p>
</table>
