<table border="1">
  <tr>
    <td>id</td>
    <td>names</td>
    <td>email</td>
    <td>phone</td>
    <td>created_at</td>
    <td>paid</td>
    <td>domain</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.id %></td>
      <td><%= account.users.map{|u| "#{u.fname} #{u.lname}"}.join(', ') %></td>
      <td><%= account.users.map(&:email).join(', ') %></td>
      <td><%= account.users.map(&:phone).join(', ') %></td>
      <td><%= account.created_at %></td>
      <td><%= account.paid %> </td>
      <td><%= account.domain %> </td>
      <td><a href="/admin/toggle_paid/<%= account.id %>">toggle paid</a></td>
      <td><a href="/admin/charge/<%= account.id %>">charge</a></td>
      <td><a href="/admin/login/<%= account.users.first.id %>">login</a></td>
    </tr>
  <% end %>
</table>
