<table>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.id %></td>
      <td><% account.users.each do |user| %>
            <%= link_to user.email, "/admin/login/#{user.id}" %>
            <%= link_to '(delete)',
                    "/admin/destroy_user/#{user.id}",
                    :confirm => 'Are you sure you want to delete this user?' %>,
          <% end %></td>
      <td><%= account.domain_name %> </td>
      <td><a href="/admin/set_account_to_manual/<%= account.id %>">set account to manual</a></td>
      <td><a href="/admin/abandonment/<%= account.id %>">Toggle Abandonment(<%= account.abandonment_value%>)</a></td>
      <td>
    </tr>
  <% end %>
    <p><%= page_entries_info @accounts %> <%= will_paginate @accounts %></p>
</table>
