<% if flash[:admin_error].present? %>
  <div class="callout alert clearfix">
    <p><strong><%= flash[:admin_error] %></strong></p>
  </div>
<% end %>

<%= form_tag("/admin/users", method: :get) do %>
  <p>
    <label>Email or Account id:</label>
    <input  id="query" name="query" type="text" style="width:250px">
  </p>
  <button type="submit">Search</button>
<% end %>


<table>
  <tr>
    <th>Account ID</th>
    <th>Users</th>
    <th>Domain</th>
    <th>Subscription</th>
    <th>Access</th>
    <th>Abandonment</th>
    <th>Trial / Enterprise</th>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.id %></td>
      <td><% account.users.each do |user| %>
            <%= link_to user.email, "/admin/login/#{user.id}" %>
            <%= link_to '(delete)', "/admin/destroy_user/#{user.id}",
                    data: {
                      confirm: 'Are you sure you want to delete this user?'
                    } %>
          <% end %></td>
      <td><%= account.domain_name %> </td>
      <td>
        <%= admin_account_billing_subscription_link(account) %>
      </td>
      <td>
        <%= admin_toggle_dialer_access_link(account) %> /
        <%= admin_toggle_all_access_link(account) %>
      </td>
      <td><%= admin_toggle_abandonment_link(account) %></td>
      <td>
        <%= admin_make_trial_trigger(account.billing_subscription) %>
        <%= admin_make_enterprise_trigger(account.billing_subscription) %>
      </td>
    </tr>
  <% end %>
  <p><%= page_entries_info @accounts %> <%= will_paginate @accounts %></p>
</table>
