<% content_for :javascripts do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" %>
  <%= javascript_include_tag 'accounts' %>
<% end %>

<div id="administrators">
<h1>Administrators</h1>
<table>
  <tr>
    <th>Email</th>
    <th width="55" class="ac"></th>
  </tr>
  <% @account.users.each do |user| %>
    <tr class="<%= cycle("odd","even") %>">
      <td><%= user.email %></td>
      <td width="55">
        <%= form_tag client_user_path(user), :method => :delete, :id => "delete_user_#{user.id}" do %>
          <%= link_to 'Delete user', 'javascript:void(0)', :'data-form' => "delete_user_#{user.id}", :'data-message' => 'Are you sure you want to delete this user?', :class => 'ico del action-delete' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<fieldset>
  <legend>Invite a new administrator</legend>

  <% form_tag client_user_invite_path do %>
    <p><label for="">Email</label><br>
     <%= text_field_tag :email %></p>
    <div class="buttons">
        <button type="submit">Send invitation</button>
      </div>
  <% end %>

</fieldset>
</div>