<h1>Users</h1>

<table>
	<tr>
      <th>Email</th>
      <th width="55" class="ac"></th>
	</tr>
	<% @account.users.each do |user| %>
      <tr class="<%= cycle("odd","even") %>">
	<td><%= user.email %></td>
	<td width="55"><%= link_to 'Delete user', client_user_path(user), :confirm => 'Are you sure you want to delete this user?', :method => :delete, :class => 'ico del'%></td>
	<% end %>
</table>

<fieldset>
	<legend>Invite a new user</legend>

<% form_tag client_user_invite_path do %>
  <%= text_field_tag :email %>
  <%= submit_tag 'Send invitation' %>
<% end %>

</fieldset>