<% content_for :javascripts do %>
  <%= javascript_include_tag 'accounts' %>
<% end %>

<div id='administrators'>
<% if @user.administrator? %>
  <h1>Users</h1>
  <table>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @account.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= form_tag client_change_role_path(user), :method => :post do %>
            <%= select("user_#{user.id}",
                       "role",
                       {"Administrator" => "admin", "Supervisor" => "supervisor"},
                       {selected: user.role},
                       {name: "user[role]", class: "user_role"}) %>
            <%= hidden_field(:user, :id, {value: user.id}) %>
            <button type="submit" style="display:none">Change</button>
          <% end %>
        </td>
        <td><%= link_to '',
                client_user_path(user),
                :confirm => 'Are you sure you want to delete this user?',
                :method => :delete,
                :class => "ico del" %></td>
      </tr>
    <% end %>
  </table>

  <fieldset>
    <legend>Invite a new user</legend>
    <%= form_tag client_user_invite_path do %>
      <p><label for="">Email</label>
      <br>
      <%= text_field_tag :email %></p>
      <p><%= select( "user", "role", { "Administrator" => "admin", "Supervisor" => "supervisor"}) %></p>
      <div class="buttons">
          <button type="submit">Send invitation</button>
        </div>
    <% end %>
  </fieldset>
<% end %>
</div>
