<h1>Set password for <%= @user.email %></h1>
  <%= form_for @user, :url => user_update_password_path(@user), :method => :put do |f| %>
    <div id="validationError">
      <%= render "shared/error_messages", :target => @user %>
    </div>
    <fieldset>
    <%= hidden_field_tag :reset_code, @user.password_reset_code %>
      <p><%= label_tag :password, "Password:" %>
        <%= password_field_tag :password %></p>
      <button type="submit">Set password</button>
    </fieldset>
<% end %>
