<% form_for @user, :url => user_update_password_path(@user) do |f| %>
  <%= hidden_field_tag :reset_code, @user.password_reset_code %>
  <h3>Reset password for <%= @user.email %></h3>
  <%= label_tag :password, "New password:" %>
  <%= password_field_tag :password %>
  <%= f.submit 'Update password' %>
<% end %>
