<%= render "shared/error_messages", :target => @caller_group %>
<%= form_for @caller_group, url: "#{client_caller_groups_path}/#{@caller_group.id}" do |f| %>
  <fieldset>
    <legend>Settings</legend>
    <p data-intro="Give your caller group a name." data-step="1">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p data-intro="Choose what campaign callers in this group will be assigned to. If you change this while your callers are making calls, they will be reassigned after they finish their current call." data-step="2">
      <%= f.label :campaign %>
      <%= f.select :campaign_id, options_from_collection_for_select(@campaigns, :id, :name, @caller_group.campaign_id) %>
    </p>
  </fieldset>
   <div class="buttons">
     <button type="submit">Save</button>
   </div>
<% end %>
