<div role="main">
	<h1>Billing</h1>
	<div class="table">
		 <div class="form">
			<%= error_messages_for :billing_account, :header_message => "Please review and correct the following errors:" %>
			<% form_for :billing_account, @billing_account do |f| -%>
			<p>Please verify your payment information. We will not actually charge you until you are ready to make calls.</p>
			<p>We require prepayment for your usage. If you would like to be billed per caller, rather than per minute, or for volume discounts, please contact support at the email in the lower right corner of your screen.</p>			
			<fieldset>
				<legend>Payment information</legend>
				<p><strong>We use industry standard encryption to protect your payment information.</strong></p>
				<p><label for="last_name">Payment type:</label>
				<% if BILLING_GW.class.to_s=="ActiveMerchant::Billing::BogusGateway" %>
					<%= select( "billing_account", "cardtype", { "Bogus" => "bogus"}) %>
				<% else %>
					<%= select( "billing_account", "cardtype", { "eCheck" => "telecheck", "Visa" => "visa", "Mastercard" => "master"}, {}, {:onchange=>"payType();"}) %>
				<% end %>
				</p>
				<div id="echeck" style="display:none;">
					<p><label for="checking_account_type">Account type:</label>
					<%= select( "billing_account", "checking_account_type", { "Personal checking" => "PC", 'Personal savings' => 'PS', "Business checking"=>"BC", "Business savings" => "BS"}) %>
					</p>
					<p><label for="bank_routing_number">Routing number (bottom left of your check):</label>
						<%= f.text_field :bank_routing_number %>
					</p>
					<p><label for="checking_account_number">Account number (next to Routing number):</label>
						<%= f.text_field :checking_account_number %>
					</p>
					<p><label for="check_number">Check number:</label>
						<input type="text" name="check_number" id="check_number" value="<%= params[:check_number] %>">
					</p>
					<p><label for="drivers_license_number">Driver's license/Tax ID number:</label>
						<%= f.text_field :drivers_license_number %>
					</p>

					<p>
						<label for="zip">Driver's license/Tax ID state:</label>
						<%= f.select :drivers_license_state, ['AK',
									'AL',
									'AR',
									'AZ',
									'CA',
									'CO',
									'CT',
									'DC',
									'DE',
									'FL',
									'GA',
									'HI',
									'IA',
									'ID',
									'IL',
									'IN',
									'KS',
									'KY',
									'LA',
									'MA',
									'MD',
									'ME',
									'MI',
									'MN',
									'MO',
									'MS',
									'MT',
									'NC',
									'ND',
									'NE',
									'NH',
									'NJ',
									'NM',
									'NV',
									'NY',
									'OH',
									'OK',
									'OR',
									'PA',
									'RI',
									'SC',
									'SD',
									'TN',
									'TX',
									'UT',
									'VA',
									'VT',
									'WA',
									'WI',
									'WV',
									'WY'],
									:include_blank => false %>				
								</p>

				</div>
				
				<div id="credit_cards">

					<p><label for="email">Card number:</label>
					<% if !@tempcc.blank?
						@billing_account.cc = @tempcc # restore unencrypted card number to view
					end %>
					<%= f.text_field :cc %></p>

					<p><label for="password">Card expiration:</label>


						<%= select( "billing_account", "expires_month", 1..12) %>
						<%= select( "billing_account", "expires_year", Time.now.year..2040) %>
					</p>
					<p><label for="zip">Card security code:</label>
					<input type="text" name="code" value="<%= params[:code] %>">
					</p>
					<p><label for="zip">Name on card:</label>
						<%= f.text_field :name %>
					</p>
				</div>
				<p><label for="zip">Billing address:</label>
					<%= f.text_field :address1 %>
				</p>
				<p>
					<label for="zip">City:</label>
					<%= f.text_field :city %>
				</p>
				<p>
					<label for="zip">State:</label>
					<%= f.select :state, ['AK',
								'AL',
								'AR',
								'AZ',
								'CA',
								'CO',
								'CT',
								'DC',
								'DE',
								'FL',
								'GA',
								'HI',
								'IA',
								'ID',
								'IL',
								'IN',
								'KS',
								'KY',
								'LA',
								'MA',
								'MD',
								'ME',
								'MI',
								'MN',
								'MO',
								'MS',
								'MT',
								'NC',
								'ND',
								'NE',
								'NH',
								'NJ',
								'NM',
								'NV',
								'NY',
								'OH',
								'OK',
								'OR',
								'PA',
								'RI',
								'SC',
								'SD',
								'TN',
								'TX',
								'UT',
								'VA',
								'VT',
								'WA',
								'WI',
								'WV',
								'WY'],
								:include_blank => false %>				</p>
				<p>
					<label for="zip">Zip:</label>
					<%= f.text_field :zip %>
				</p>

				<br/>
				<%# submit_tag "Update account" %>
				<%# f.submit "Submit", :disable_with => 'submiting...', :class=>"button" %>
				<div class="buttons">
					<button type="submit">Verify</button>
				</div>
				</fieldset>
			<% end -%>
		</div>
	</div>
</div>

<script>
function payType(){
	if( $('#billing_account_cardtype').val()=='telecheck'){
		
		$('#echeck').show();
		$('#credit_cards').hide();
		
	} else {
		
		$('#echeck').hide();
		$('#credit_cards').show();
		
	}
}
payType();
</script>