<%
  thisRecord = eval("@script.result_set_#{num}")
  if thisRecord!=nil
    thisJSON=JSON.parse(thisRecord)
  else
    thisJSON={}
  end
%>

<div style="display:none;" id="result_container_<%= num %>">
  <fieldset>
    <legend>Question <%= num %></legend>

    <p>
      <label>Question:</label>
      <input  type="text" name="qname_<%= num %>" size="20" class="field" value="<%= thisJSON["name"] %>" >
    </p>

    <table border=0>
      <tr>
        <th scope="col">Response</th>
        <th scope="col">Phones-only keypad</th>
        <th scope="col">Retry</th>
        <th scope="col">Delete</th>
      </tr>

      <% for i in 1..99 do %>
        <% if i <= 20 %>
          <tr id="result_<%= num %>_<%= i %>" <% if thisJSON["keypad_#{i}"].blank? && i!=1 %>style="display:none;" <% else %> <% @lastone[i-i]=i %> <% end %>>
            <th scope="row"><input  type="text" name="text_<%= num %>_<%= i %>"  id="text_<%= num %>_<%= i %>" size="20" class="field" value="<%= thisJSON["keypad_#{i}"] %>" ></th>
            <td><input type="text" name="keypad_<%= num %>_<%= i %>" id="keypad_<%= num %>_<%= i %>" size="3" maxlength="2" class="field" value="<%= i %>" onchange="checkNum(this)"></td>
            <td><input type="checkbox" name="incomplete_<%= num %>_[]" value="<%= i %>" class="field" <% if !@incompletes.nil? && @incompletes[num.to_s]!=nil && @incompletes[num.to_s].index(i.to_s) %>checked<% end %>></td>
            <td><a href='javascript:void(0)' onclick="var x=$('text_<%= num %>_<%= i %>').value='';var x=$('keypad<%= i %>').value='';" class="ico del">&nbsp</a></td>
          </tr>
        <% else %>
          <%# limit to 20 rows %>
          <input type="hidden" name="text_<%= num %>_<%= i %>" value="">
          <input type="hidden" name="keypad_<%= num %>_<%= i %>" value="" >
        <% end %>
      <% end %>
    </table>

    <p class="actions"><a href="javascript:void(0)" class="action secondary" onclick="dlastone(<%= num %>)">New response</a></p>
  </fieldset>

</div>
