
<%= error_messages_for :user %>

	<div class="box" style="width:400px;">
		<%= render :partial => 'client/boxtop', :locals=>{:title=>@title} %>
		<% form_for :user do |f| -%>
	    <div class="form">

	      <p>
	        <label>First Name <span>(Required Field)</span></label>
			<%= f.text_field :fname, {:class=>"field"} %>
	      </p>
	      <p>
	        <label>Last Name <span>(Required Field)</span></label>
			<%= f.text_field :lname, {:class=>"field"} %>
	      </p>
	      <p>
	        <label>Organization Name <span>(Required Field)</span></label>
			<%= f.text_field :orgname, {:class=>"field"} %>
	      </p>
	      <p>
	        <label>Email <span>(Required Field)</span></label>
			<%= f.text_field :email, {:class=>"field"} %>
	      </p>
		<% if @user==nil || !@user.new_record? %>
	    <p>
	      <label>Current Password <span>(Required Field)</span></label>
			<input type="password" class="field" name="exist_pw" value="<%= params[:exist_pw] %>">
	    </p>
		<% end %>
	      <p>
	        <label><% if !@user.new_record? %>New <% end %>Password <span>(Required Field)</span></label>
			<%= f.password_field :password, {:class=>"field"} %>
	      </p>
	      <p>
	        <label><% if !@user.new_record? %>New <% end %>Password Confirmation<span>(Required Field)</span></label>
			<%= f.password_field :password_confirmation, {:class=>"field"} %>
	      </p>
	<% if @user.new_record? %>
			<p>	
				<label>	<input type="checkbox" name="tos" value="1" <% if params[:tos] %>checked<% end %>/> I agree to the <a href="/home/tos" target="_blank">Terms of Service</a></label>
				
			</p>
			<% end %>
			<%= f.submit "submit", :disable_with => 'submiting...', :class=>"button" %>


	</div>
</div>

<% end -%>