<div id="join">
	<% if @user.new_record? %>
	<h1>Sign up</h1>
	<% else %>
	<h1>My account</h1>
	<% end %>
		<%= render "shared/error_messages", :target => @user %>
		<%= form_for :user do |f| -%>

		<fieldset>
		<p>By signing up, you agree to our <a href="<%= policies_path %>#terms" target="_blank">Terms of Service</a>.</p>
		<p style="display:none">
		<label>Your address</label>
		<%= f.hidden_field :captcha %>
		</p>
		
	    <p>
			        <label>Your email</label>
					<%= f.text_field :email, {:class=>"field"} %>
			      </p>
				<% if @user==nil || !@user.new_record? %>
			    <p>
			      <label>Current password</label>
					<input type="password" class="field" name="exist_pw" value="<%= params[:exist_pw] %>">
			    </p>
				<% end %>
			      <p>
						<label>
						<% if @user.new_record? %>
						Pick a password
						<% else %>
						New password
						<% end %>
						</label>

					<input class="field" id="user_password" name="user[new_password]" size="30" type="password" value="" />

			      </p>


				<% if @user.new_record? %>
				  <p>
			        <label>Your full name<span></span></label>
					<input type="text" name="fullname" value="<%= params[:fullname]%>">
			      </p>
				<% else  %>
				  <p>
			        <label>First name<span></span></label>
					<%= f.text_field :fname, {:class=>"field"} %>
			      </p>
				  <p>
			        <label>Last name<span></span></label>
					<%= f.text_field :lname, {:class=>"field"} %>
			      </p>
				<% end %>
			    <p>
		        <label>Your phone</label>
				<%= f.text_field :phone, {:class=>"field"} %>
		      </p>

	<% if @user.new_record? && false %>
			<p>
        <label>	<input type="checkbox" name="tos" value="1" <% if params[:tos] %>checked<% end %>/> I agree to the <a href="<%= policies_path %>#terms" target="_blank">Terms of Service</a></label>

			</p>
			<% end %>
			<%# f.submit "submit", :disable_with => 'submiting...', :class=>"button" %>
				<% if !@user.new_record? %>
			<p><a href="/client/forgot">Forgot password?</a></p>
			<% end %>
			<div class="buttons">

				<% if @user.new_record? %>
				<button type="submit">Sign up</button>
				<% else %>
				<button type="submit">Save</button>
				<% end %>

			</div>

		</fieldset>
<% end -%>
</div>

<% content_for :kissmetrics do %>
_kmq.push(['record', 'viewed signup form']);
<% end %>