      @campaign = Campaign.new(:account_id => account.id, :type => 'Predictive')<div class="box">
	<%= render :partial => 'shared/boxtop', :locals=>{:title=>"Voters in #{@campaign.name}"} %>
	<% if @voters.length==0 %>
		<div class="form">
	      <label>No voters entered.</label>
		</div>
  		<div class="box-content"> 
			<a href="/client/voter_upload/<%= @campaign.id %>" class="add-button"><span>Upload Voters</span></a>
			<a style="margin-left:20px;" href="/client/voter_add?campaign_id=<%= @campaign.id %>" class="add-button"><span>Enter Voter</span></a>
			<div class="cl">&nbsp;</div>
		</div>
		<% else %>

	  <div class="table">
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
			<th>List</th>
	        <th>Phone</th>
	        <th>Last</th>
	        <th>First</th>
	        <th>Email</th>
	        <th>ID</th>
	        <th>Date Added</th>
	        <th>Result</th>
	        <th width="110" class="ac"></th>
	      </tr>
		<% @voters.each do |v| %>
	      <tr class="<%= cycle("odd","even") %>">
	        <td><%= v.voter_list.name %></td>
	        <td nowrap><h3><%= number_to_phone(v.Phone, :area_code => true) %></h3></td>
	        <td><%= v.LastName %></td>
	        <td><%= v.FirstName %></td>
	        <td><%= v.Email %></td>
	        <td><%= v.CustomID %></td>
	        <td><%= v.created_at.strftime("%m/%d/%Y") %></td>
			<td><%= v.result %></td>
	        <td><a href="javascript:if(confirm('Are you sure you want to delete this voter?')) document.location.href='/client/voter_delete/<%= v.id %>';" class="ico del">Delete</a><a href="/client/voter_add/<%= v.id %>?campaign_id=<%= @campaign.id %>" class="ico edit">Edit</a></td>
	      </tr>
		<% end %>

	    </table>

	    <!-- Pagging -->
	    <div class="pagging">
	   <div class="left"><%= page_entries_info @voters %></div>
	      <div class="right"> <%= will_paginate @voters %>
		</div>
	    </div>
	    <!-- End Pagging -->
	  </div>
	  <!-- Table -->
	<% end %>


  </div>
</div>