<h1>Billing information</h1>

<p>We use industry standard encryption to protect your credit card information.</p>
	<div class="table">
		 <div class="form">
			<%= error_messages_for :account, :header_message => "Please review and correct the following errors:" %>
			<% form_for :account, @account do |f| -%>
			<fieldset>

				<p><label for="last_name">Card type:</label>
				<% if BILLING_GW.class.to_s=="ActiveMerchant::Billing::BogusGateway" %>
					<%= select( "account", "cardtype", { "Bogus" => "bogus"}) %>
				<% else %>
					<%= select( "account", "cardtype", { "Visa" => "visa", "Mastercard" => "master", "American Express"=>"american_express"}) %>
				<% end %>
				</p>

				<p><label for="email">Card number:</label>
				<% if !@tempcc.blank?	
					@account.cc = @tempcc # restore unencrypted card number to view
				end %>
				<%= f.text_field :cc %></p>

				<p><label for="password">Card expiration:</label>


					<%= select( "account", "expires_month", 1..12) %>			
					<%= select( "account", "expires_year", Time.now.year..2040) %>			
				</p>
				<p><label for="zip">Card security code:</label>
				<input type="text" name="code" value="<%= params[:code] %>">
				</p>
				<p><label for="zip">Name on card:</label>
					<%= f.text_field :name %>
				</p>
				<p><label for="zip">Address:</label>
					<%= f.text_field :address1 %>
				</p>
				<p>
					<label for="zip">City:</label>
					<%= f.text_field :city %>
				</p>
				<p>
					<label for="zip">State:</label>
					<%= f.select :state, ['AK',
								'AL',
								'AR',
								'AZ',
								'CA',
								'CO',
								'CT',
								'DC',
								'DE',
								'FL',
								'GA',
								'HI',
								'IA',
								'ID',
								'IL',
								'IN',
								'KS',
								'KY',
								'LA',
								'MA',
								'MD',
								'ME',
								'MI',
								'MN',
								'MO',
								'MS',
								'MT',
								'NC',
								'ND',
								'NE',
								'NH',
								'NJ',
								'NM',
								'NV',
								'NY',
								'OH',
								'OK',
								'OR',
								'PA',
								'RI',
								'SC',
								'SD',
								'TN',
								'TX',
								'UT',
								'VA',
								'VT',
								'WA',
								'WI',
								'WV',
								'WY'], 
								:include_blank => false %>				</p>
				<p>
					<label for="zip">Zip:</label>
					<%= f.text_field :zip %>
				</p>

				<br/>
				<%# submit_tag "Update account" %>
				<%# f.submit "Submit", :disable_with => 'submiting...', :class=>"button" %>
				<div class="buttons">
					<button type="submit">Verify this card</button>
				</div>
				<p>You won't be charged until you make calls.</p>
				</fieldset>
			<% end -%>
		</div>
	</div>

