<h1>Callers</h1>
	<% if @callers.length==0 %>
		<div class="form">
	      <label>No callers entered.</label>
		</div>
	<% else %>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>PIN</th>
        <th>Multi-User</th>
        <th>Date Added</th>
        <th width="55" class="ac"></th>
      </tr>
	<% @callers.each do |c| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><h3><a href="/client/caller_add/<%= c.id %>"><%= c.name %></a></h3></td>
        <td><%= c.email %></td>
        <td><%= c.pin %></td>
		<td><% if c.multi_user? %>Yes<% else %>No<% end %></td>
        <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
        <td><a href="javascript:if(confirm('Are you sure you want to delete this caller?')) document.location.href='/client/caller_delete/<%= c.id %>';" class="ico del">Delete</a>
	<!--<a href="/client/caller_add/<%= c.id %>" class="ico edit">Edit</a>--></td>
      </tr>
	<% end %>

    </table>
	<% end %>

</div>

<p><%= page_entries_info @callers %> <%= will_paginate @callers %></p>
<p class="actions"><a href="/client/caller_add" class="action primary">Add new caller</a></p>
<p class="actions"><%= link_to 'View deleted callers', deleted_callers_path, :class => 'action secondary' %></p>