<%= error_messages_for :caller %>
<div class="box" style="width:400px;">
	<h1><%= @label %></h1>


	<% form_for :caller do |f| -%>
	<fieldset>
      <p>
        <label>Name <span>(Required Field)</span></label>
		<%= f.text_field :name, {:class=>"field"} %>
      </p>
      <p>
        <label>Email </label>
		<%= f.text_field :email, {:class=>"field"} %>
      </p>
      <p>
        <label>Password </label>
		<%= f.text_field :password, {:class=>"field"} %>
      </p>
      <p>
        <label>Multi-User? &nbsp; <%= f.check_box :multi_user%></label>
		
      </p>
	<div class="buttons">
	<button type="submit">Submit</button>
	</div>

    </div>
</fieldset>
	<% end -%>
</div>
<!-- End Box -->
