<%# render :partial => 'voter_list' %>
<table width="100%">
	<tr>
		<td width="50%" valign="top">
			<!--
			<%= error_messages_for :campaign %>
			<div class="box" >
				<%= render :partial => 'boxtop', :locals=>{:title=>"Call results"} %>
    			<% form_for :campaign, @campaign, :url => { :action => "campaign_add", :id=>@campaign.id } do |f| %>
			    <div class="form">
					<% n=0 %>
					<% for i in 1..9 do %>
						<% n=n+1 %>
				        <label>Keypad <%= i %>: </label>
						<%= f.text_field eval(":keypad_" + i.to_s), {:class=>"field"} %><br/>
					<% end %>
					<%= f.submit "update", :disable_with => 'updating...', :class=>"button" %>
			    </div>
				<% end -%>
			</div>
 		-->
			

		
		<div class="box">
			<%= render :partial => 'boxtop', :locals=>{:title=>"Available Lists"} %>
			<% if @lists.length==0 %>
				<div class="form">
			      <label>No lists entered.</label>
				</div>
		  		<div class="box-content"> 
					<a href="/client/voter_upload/<%= @campaign.id %>" class="add-button"><span>Upload Voters</span></a>
					<div class="cl">&nbsp;</div><br/>
					<a href="/client/voter_add?campaign_id=<%= @campaign.id %>" class="add-button"><span>Enter Voter</span></a>
					<div class="cl">&nbsp;</div><br/>
				</div>
				<% else %>
		  		<div class="box-content" style="float:right;"> 
					<a href="/client/voter_upload/<%= @campaign.id %>" class="add-button"><span>Upload Voters</span></a>
					<div class="cl">&nbsp;</div><br/>
					<a href="/client/voter_add?campaign_id=<%= @campaign.id %>" class="add-button"><span>Enter Voter</span></a>
					<div class="cl">&nbsp;</div><br/>
					<a href="/client/voter_view?campaign_id=<%= @campaign.id %>" class="button"><span>View Voters</span></a>
					<div class="cl">&nbsp;</div>
				</div>
			  <div class="box-content">

				(uncheck to stop calling)<br/><br/>

				<% form_for :campaign, :url => { :action => "campaign_add" , :id=>@campaign.id} do |f| %>
				<div class="box-content">
			    	<% @lists.each do |l| %>
			         	<%= check_box_tag "campaign[voter_list_ids][]", "#{l.id}", listInCampaign(l) -%> <%= l.name %><br/>
					<% end %>
					<br/>
				  </div>
			  </div><br/>
			  <!-- Table -->
			    <div class="buttons">
			      <input type="button" class="button" value="cancel" onclick="document.location.href='/client/campaigns';"/>
				<%= f.submit "submit", :disable_with => 'submiting...', :class=>"button" %>
			    </div>
				<% end %>
			<% end %>
		  </div>
		</div>
			
		</td>
		<td> &nbsp; </td>
		<td width="50%" valign="top">
			


			
			<div class="box">
				<%= render :partial => 'boxtop', :locals=>{:title=>"Callers With Access"} %>
				<% if @callers.length==0 %>
					<div class="form">
				      <label>No callers entered.</label>
					</div>
			  		<div class="box-content"> 
						<a href="/client/callers" class="add-button"><span>Add callers</span></a>
						<div class="cl">&nbsp;</div>
					</div>
					<% else %>
			  		<div class="box-content" style="float:right;"> 
						<a href="/client/caller_add" class="add-button"><span>Add Caller</span></a>
						<div class="cl">&nbsp;</div><br/>
					</div>
				<% form_for :campaign, :url => { :action => "campaign_add" , :id=>@campaign.id}, :html => {:name => 'callerForm'}   do |f| %>
				  <div class="box-content">
					<input type="checkbox" value="0" id="listUse" onclick="allCallers();"> All Callers<br/>
			    	<% @callers.each do |l| %>
			         	<%= check_box_tag "campaign[caller_ids][]", "#{l.id}", callerInCampaign(l), :onclick=>"someCallers();" -%> <%= l.name %><br/>
					<% end %>
					<br/>
				  </div>
			    <div class="buttons">
			      <input type="button" class="button" value="cancel" onclick="document.location.href='/client/campaigns';"/>
				<%= f.submit "submit", :disable_with => 'submiting...', :class=>"button" %>
			    </div>

					<% end -%>
				  <!-- Table -->
				<% end %>


			  </div>
			</div>
			
		</td>
	</tr>
</table>


<% content_for :sidebar do %>
<!-- Box -->
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>Campagin Info</h2>
  </div>
  <!-- End Box Head-->
  	<div class="box-content"> 
	  	<% form_for :campaign, :url => { :action => "campaign_add" } do |f| %>
        <label>Name:</label><br/>
		<%= f.text_field :name, {:class=>"field size3"} %>
		<%= f.submit "update", :disable_with => 'update', :class=>"button" %>
		<% end -%>
		<br/>
		Call-in number:
		<br/><div style="font-size:18px; padding-top:6px; "> <%= number_to_phone(APP_NUMBER, :area_code => true) %></div>
		<br/>
		Campaign ID:
		<br/><div style="font-size:18px; padding-top:6px; "> <%= @campaign.group_id %></div>
		<br/>
		Results:
		<br/><div style="font-size:18px; padding-top:6px; ">
		<% form_for :campaign, :url => { :action => "campaign_add" , :id=>@campaign.id} do |f| %>
			
			<%= f.collection_select(:script_id, Script.find_all_by_user_id_and_active(@user.id,1), :id, :name, { :prompt => true},  {:class=>"field", :onchange=>"this.form.submit();"} 
)  %>
		<% end %>
		</div>

	</div>
</div>
<!-- End Box -->


		<a href="/client/campaign_clear_calls/<%=  @campaign.id%>" class="button"><span>Clear Campaign Calls</span></a>
		<div class="cl">&nbsp;</div>

<!--
<div class="box">
  <div class="box-head">
    <h2>View another campaign</h2>
  </div>
  	<div class="box-content"> 
		  <div class="box-content campaignlinks" >
			<% Campaign.find_all_by_user_id_and_active(@user.id,true).each do |c| %>
				<a href="/client/campaign_view/<%= c.id %>" ><%= c.name %></a><br/>
			<% end %>
			</div>
	</div>
</div>
 -->

<% end %>


<script>
function allCallers() {
	var f = document.forms['callerForm'].elements['campaign[caller_ids][]'];

	for(var i = 0; i < f.length; i++){
		f[i].checked = true;
	}
	
}
function someCallers() {
	$('listUse').checked=false;
	isAll();
}

function isAll(){
	var f = document.forms['callerForm'].elements['campaign[caller_ids][]'];
	var n=0;
	for(var i = 0; i < f.length; i++){
		if (f[i].checked == true)
		n++;
	}
	if (n==<%= @callers.length %>){
		$('listUse').checked=true;
	
		}
}
isAll();
</script>
<%= float_sidebar %>