<%= error_messages_for :campaign %>
<div class="box" style="width:400px;">
	<%= render :partial => 'boxtop', :locals=>{:title=>@label} %>

	<% form_for :campaign do |f| -%>
    <div class="form">
      <p>
        <label>Name <span>(Required Field)</span></label>
		<%= f.text_field :name, {:class=>"field"} %>
      </p>
      <p>
        <label>Answer % for Dial Ratio 2x</label>
		<%= f.text_field :ratio_2, {:class=>"field"} %>
      </p>

      <p>
        <label>Answer % for Dial Ratio 3x</label>
		<%= f.text_field :ratio_3, {:class=>"field"} %>
      </p>

      <p>
        <label>Answer % for Dial Ratio 4x</label>
		<%= f.text_field :ratio_4, {:class=>"field"} %>
      </p>
      <p>
        <label>Dial Ratio Override </label>
		<%= f.text_field :ratio_override, {:class=>"field"} %>
      </p>
      <p>
        <label>Pacing Prediction Method</label>
			<select class="field" id="campaign_ending_window_method" name="campaign[ending_window_method]"> 
				<option value="Not Used"  <% if @campaign.ending_window_method=="Not Used" %>selected<% end %>>Not Used</option>
				<option value="Longest" <% if @campaign.ending_window_method=="Longest" %>selected<% end %>>Longest</option>
				<option value="Average" <% if @campaign.ending_window_method=="Average" %>selected<% end %>>Average</option>
			</select>
      </p>

	</div>
    <div class="buttons">
      <input type="button" class="button" value="cancel" onclick="document.location.href='/client/campaigns';"/>
	<%= f.submit "submit", :disable_with => 'submiting...', :class=>"button" %>
    </div>
    <!-- End Form Buttons -->
	<% end -%>
</div>
<!-- End Box -->

<!--
<script>
	function defaults(ty){
		if (ty==1){
			$('campaign_keypad_1').value='Strong supportive';
			$('campaign_keypad_2').value='Lean supportive';
			$('campaign_keypad_3').value='Undecided';
			$('campaign_keypad_4').value='Lean opposed';
			$('campaign_keypad_5').value='Strong opposed';
		} else {	
			$('campaign_keypad_1').value='Will vote early';
			$('campaign_keypad_2').value='Will vote on election day';
			$('campaign_keypad_3').value='Already voted';
			$('campaign_keypad_4').value='Will not vote';
			$('campaign_keypad_5').value=' Not a supporter';
		}	
		$('campaign_keypad_6').value='Refused (complete)';
		$('campaign_keypad_7').value='Not home/call back (incomplete)';
		$('campaign_keypad_8').value='Language barrier (complete)';
		$('campaign_keypad_9').value='Wrong number (complete)';
	}
	
	if ($('campaign_keypad_6').value=='')
		 defaults(1);
</script>
-->