<script>
var num='';
function eavesdrop(sess,type){
	if (num==''){
		num = prompt("Enter your phone number:", "Type your phone number here");
	}
	<%= remote_function(:url => { :action => 'eavesdrop_call'} , :with =>	"'session_id='+ sess + '&num=' + num + '&type=' + type") %>
}
</script>
<div class="box">
	<%= render :partial => 'boxtop', :locals=>{:title=>"Active Campaigns"} %>
	<% if @logged_in_campaigns.length==0 %>
		<div class="form">
	      <label>No campaigns active.</label>
		</div>
	<% else %>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Name</th>
        <th>Callers Logged In</th>
        <th>#'s remaining</th>
      </tr>
	<% @logged_in_campaigns.each do |c| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><h3><a href="/client/campaign_view/<%= c.id %>"><%= c.name %></a></h3></td>
        <td><%= CallerSession.find_all_by_on_call_and_campaign_id(1, c.id).length %></td>
        <td><%= c.voters_count("not called",false).length %></td>
      </tr>
	<% end %>

    </table>

  </div>
<% end %>


</div>


<% if @logged_in_campaigns.length > 0 %>
<div class="box">
	<%= render :partial => 'boxtop', :locals=>{:title=>"Active Callers"} %>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Caller</th>
        <th>Campaign</th>
        <th>Phone Number</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
      </tr>
	<% @logged_in_campaigns.each do |c| %>
	<% CallerSession.find_all_by_on_call_and_campaign_id(1, c.id).each do |session| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><%= session.caller.name %></td>
        <td><%= session.campaign.name %></td>
		<% if session.voter_in_progress!=nil %>
			<% voter = Voter.find(session.voter_in_progress) %>
			<td><%= voter.Phone %></td>
			<td><input type="button" value="Eavesdrop" class="button" onclick="eavesdrop(<%= session.id %>,0);"></td>
			<td><input type="button" value="Break In" class="button" onclick="eavesdrop(<%= session.id %>,1);"></td>
			<td><input type="button" value="Take Over" class="button" onclick="eavesdrop(<%= session.id %>,2);"></td>
			<td>Record</td>
		<% end %>
      </tr>
	<% end %>

    </table>

  </div>
<% end %>


</div>

<% end %>