<%= form_for @account, url: "/client/recharge" do |f| %>
<fieldset>
  <legend>Auto-recharge</legend>

  <p>
    <label>Auto-recharge enabled?</label>
<%= f.radio_button :autorecharge_enabled, true %> 
<%= f.label :autorecharge_enabled, "Yes", {:style=>"display:inline;"} %>	
<span style="display:block"></span>
<%= f.radio_button :autorecharge_enabled, false %> 
<%= f.label :autorecharge_enabled, "No", {:style=>"display:inline;"} %>
  </p>


	  <p>
	    <label>If the balance falls below</label>
		<%= select(:account, :autorecharge_trigger, @recharge_options) %>
	  </p>
	  <p>
	    <label>Add this amount to the balance</label>
		<%= select(:account, :autorecharge_amount, @recharge_options) %>
	  </p>
</fieldset>
<div class="buttons">
  <button type="submit">Save</button>
</div>
<% end -%>


