<% if params[:id].blank? %>

<div class="box" style="width:600px;">
	<%= render :partial => 'shared/boxtop', :locals=>{:title=>"Choose a campaign"} %>
	<div class="box-content">
		<% @account.campaigns.each do |c| %>
		<a href="/client/reports/<%= c.id %>"><%= c.name %></a><br/>
		<% end %>
	</div>
</div>

<% else %>
<form method="post" style="padding:0; margin:0;">
Recent timeframe:	<select name="timeframe" style="padding:0; margin:0;" onchange="document.forms[0].submit();">
		<%
		count = 0
		10.times do
		  count += 10
		%>
		  <option value="<%= count.to_s %>" <% if params[:timeframe]==count.to_s %>selected<% end %>><%= count.to_s %></option>
		<%
		end
		 %>
		  <option value="1000000" <% if params[:timeframe]=="1000000" %>selected<% end %>>All time</option>
	</select> minutes
</form><br/>
<% end -%>
<% form_tag do %>
<% if params[:id]=="38" %>
Load testin':
<input type="button" value="Add Caller" onclick="document.location.href='/client/test/add_caller';">
<input type="button" value="Add 5 Callers" onclick="document.location.href='/client/test/add_caller_5';">
<input type="button" value="Add 15 Callers" onclick="document.location.href='/client/test/add_caller_15';">
<input type="button" value="Drop all Callers" onclick="document.location.href='/client/test/drop_all_caller';">
<br/><br/>
<% end %>

<div id="status">Loading...</div>
<%= periodically_call_remote(:url => { :action => 'update_report', :id=>params[:id], :timeframe=>params[:timeframe] }, :update => 'status',  :frequency => '30')  %>
<script>
<%= remote_function(:url => { :action => 'update_report', :id=>params[:id] , :timeframe=>params[:timeframe]}, :update => 'status')  %>
</script>
<% end %>

