<div class="box" >
	<h1><%= @campaign.name %> By Caller</h1>
	<div class="box-content">


		<div class="table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
				 <tr>
			        <th></th>
					<% @callers.each do |caller| %>
			        <th colspan="2"> <%= caller.pin %> <%= caller.name %></th>
					<% end %>
			        <th>Total</th>
			        <th></th>
			      </tr>		      <tr>
		        <th>Status</th>
				<% @callers.each do |caller| %>
		        <th>Total</th>
		        <th>Percentage</th>
				<% end %>
		        <th>Total</th>
		        <th>Percentage</th>
		      </tr>
			<% @responses.each do |voter| %>
			<% overall_total=0 %>
			<tr>
				<td><% if voter.result=="No Disposition" %>[No Result Entered]<% else  %><%= voter.result %><% end %></td>
				<% @callers.each do |caller| %>
					<% thisTotal = Voter.find_all_by_campaign_id_and_caller_id_and_result(@campaign.id, caller.id, voter.result, :conditions=>"result_date > '#{@from_date.strftime("%Y-%m-%d")}' and result_date < '#{(@to_date+1.day).strftime("%Y-%m-%d")}'").length %>
					<% overall_total=overall_total+ thisTotal %>
		        	<td><%= thisTotal %></td>
		        	<td><%=  sprintf('%.2f', (thisTotal.to_f/@num_responses.to_f)*100)%>%</td>
				<% end %>
	        	<td><%= overall_total %></td>
	        	<td><%=  sprintf('%.2f',(overall_total.to_f/@num_responses)*100) %>%</td>
			</tr>
			<% end %>


		    </table>

		</div>

	</div>

<h2>Report Date Range:</h2>
	<%= form_tag ("/client/report_caller?id=#{ params[:id]}") do %>

	<table>
		<tr>
			<td>From:</td>
			<td> <%= unobtrusive_date_text_picker_tag :from_date,@from_date %> </td>
		</tr>
		<tr>
			<td>
				To:</td>
			<td>  <%= unobtrusive_date_text_picker_tag :to_date,@to_date %>
				<input type="submit" class="button" value="update" size="4">
				</td>
		</tr>
	</table>
	<% end %>

