<% content_for :javascripts do%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" %>
<% end %>

<% if params[:id].blank? %>
  <div class="box" style="width:600px;">
    <%= render :partial => 'shared/boxtop', :locals=>{:title=>"Choose a campaign"} %>
    <div class="box-content">
      <% @account.campaigns.each do |c| %>
        <a href="/client/report_real/<%= c.id %>"><%= c.name %></a><br/>
      <% end %>
    </div>
  </div>
<% else %>

  <div id="status">Loading...</div>
  <script type='text/javascript'>
    $(document).ready(function(){
        $('#status').load('<%= client_update_report_real_path(:id => params[:id], :timeframe => params[:timeframe]) %>')
        setInterval(function(){
          $('#status').load('<%= client_update_report_real_path(:id => params[:id], :timeframe => params[:timeframe]) %>')
          }, 30000)
        })
  </script>
<% end %>

