<div class="box" style="width:600px;">
	<%= render :partial => 'shared/boxtop', :locals=>{:title=>"#{@campaign.name} Answered Calls Report"} %>
	<div class="box-content">
		
		
		<div class="table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <th>Status</th>
		        <th>Number</th>
		        <th>Percentage</th>
		      </tr>
			
				<% @records.each do |r| %>
				<tr class="<%= cycle("odd","even") %>">
					<td>
					<% if r[1].blank? %>Unanswered<% end %>
					<%= r[1] %></td>
					<td><%= r[0] %></td>
					<td><%= ((r[0].to_f/@total)*100).to_i %>%</td>
				</tr>
				<% end %>
		    </table>

		    <div class="pagging">
		   		<div class="left"><%= @total %> calls total</div>
		    </div>

		</div>
		
		<br/>
		
		<% if params[:type]!="1" %>
			<% if @totalvoters>0 %>
			<div class="table">
			    <table width="100%" border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <th>Type</th>
			        <th>Numbers</th>
			        <th>Percentage</th>
			      </tr>

					<tr class="odd">
						<td>Remaining Numbers</td>
						<td><%= @voters_to_call.length %></td>
						<td><%=@voters_to_call.length/@totalvoters*100  %></td>
					</tr>
					<tr class="event">
						<td>Finished Numbers</td>
						<td><%= @voters_called.length %></td>
						<td><%=@voters_called.length/@totalvoters*100  %>%</td>
					</tr>
			    </table>
			
			</div>
			<% end %>
		<% end %>

		
	</div>
	<div class="box-content">
	Report Date Range:
	<% form_tag ("/client/report_overview_old?id=#{ params[:id]}&type=#{params[:type]}") do %> 
	  
	<table>
		<tr>
			<td>From:</td>
			<td> <%= unobtrusive_date_text_picker_tag :from_date,@from_date %> </td>
		</tr>
		<tr>
			<td>
				To:</td>
			<td>  <%= unobtrusive_date_text_picker_tag :to_date,@to_date %> 
				<input type="submit" class="button" value="update" size="4">
				</td>
		</tr>
	</table>
	<% end %>
	
	</div>
</div>



