<div class="box" style="width:600px;">
	<h1><%= @campaign.name %> Dials</h1>
	<div class="box-content">
		<div class="table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <th width="300">Call status</th>
		        <th>Dials</th>
		        <th>Percentage</th>
		      </tr>
				
				<% @records.each do |r| %>
				<tr class="<%= cycle("odd","even") %>">
					<td>
					<% if r[1].blank? %>Unanswered
					<% elsif r[1]=="Call completed with success."%>
					Answered
					<% else %>
					<%= r[1] %>
					<% end %>
					</td>
					<td><%= r[0] %></td>
					<td><%= ((r[0].to_f/@total)*100).to_i %>%</td>
				</tr>
				<% end %>
		    </table>
		</div>
	</div>
</div>

<h3>Date range:</h3>
<% form_tag ("/client/report_overview?id=#{ params[:id]}") do %> 
<table>
	<tr>
		<td>From:</td>
		<td> <%= unobtrusive_date_text_picker_tag :from_date,@from_date %> </td>
	</tr>
	<tr>
		<td>
			To:</td>
		<td>  <%= unobtrusive_date_text_picker_tag :to_date,@to_date %> 
			</td>
	</tr>
</table>
<div class="buttons"><button type="submit">Update date range</button></div>
<% end %>