<div class="box" >
	<%= render :partial => 'shared/boxtop', :locals=>{:title=>"#{@campaign.name} Caller usage"} %>
	<div class="box-content">
		<div class="table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
				 <tr>
					<th>Caller</th>
			        <th>Total logged-in time</th>
					<th>Total talk time</th>
					<th>Total answered calls</th>
					<th>Last login</th>
			      </tr>
				<% @callers.each do |caller| %>
					<% logintime=0 %>
					<% talktime=0 %>
					<% answercalls=0 %>
					<% lastLogin=nil %>


					<% sessions = CallerSession.find_all_by_campaign_id_and_caller_id(@campaign.id, caller.id, :conditions=>"created_at > '#{@from_date.strftime("%Y-%m-%d")}' and created_at < '#{(@to_date+1.day).strftime("%Y-%m-%d")}'", :order=>"id") %>
					<%#
						idList=sessions.collect{|s| s.id}.join(",")
						sql = "select sum(ceil(tDuration/60)) as dur, sum(!isNULL(result_digit)) as result from call_attempts where
							caller_session_id in  (#{idList},0)"
						stats = ActiveRecord::Base.connection.execute(sql)
						result = stats.fetch_hash
				      	talktime = talktime + result["dur"].to_i if result["dur"]!=nil
						answercalls = answercalls + result["result"].to_i if result["result"] !=nil

 %>
	<% sessions.each do |session| %>
		<%  logintime = logintime + session.tDuration/60.ceil if session.tDuration!=nil %>
		<% lastLogin=session.created_at %>
		<%
		sql = "select sum(ceil(tDuration/60)) as dur, sum(!isNULL(result_digit)) as result from call_attempts where caller_session_id=#{session.id}"
		stats = ActiveRecord::Base.connection.execute(sql)
		result = stats.fetch_hash
   	talktime = talktime + result["dur"].to_i if result["dur"]!=nil
		answercalls = answercalls + result["result"].to_i if result["result"] !=nil
		%>
		<%# attempts = CallAttempt.find_all_by_caller_session_id(session.id) %>
		<%# attempts.each do |attempt| %>
			<%#  talktime = talktime + attempt.tDuration/60.ceil if attempt.tDuration!=nil %>
			<%# answercalls = answercalls +1 if attempt.result_digit != nil%>
		<%# end %>
	<% end %>

					<tr>
						<td><%= caller.pin %> <%= caller.name %></td>
						<td><%= logintime %></td>
						<td><%= talktime %></td>
						<td><%= answercalls %></td>
						<td><%= lastLogin.strftime("%m/%d/%Y %I:%M%p") if lastLogin!=nil %></td>
					</tr>
				<% end %>


		    </table>

		</div>

	</div>
	<div class="box-content">
	<h3>Date range:</h3>
	<%= form_tag ("/client/report_caller_overview?id=#{ params[:id]}") do %>

	<table>
		<tr>
			<td>From:</td>
			<td> <%= unobtrusive_date_text_picker_tag :from_date,@from_date %> </td>
		</tr>
		<tr>
			<td>
				To:</td>
			<td>  <%= unobtrusive_date_text_picker_tag :to_date,@to_date %>
				</td>
		</tr>
	</table>
	<div class="buttons"><button type="submit">Update</button></div>
	<% end %>

	</div>
</div>



