<h1><%= @campaign.name} %> Answered calls</h1>

<% @json_fields.each do |f| %>
	<% num=f[f.length-1,1] %>
	<% if f.index("result") #no notes %>
		<% script_json=eval("@script.result_set_#{num}") %>
		<% if !script_json.blank? %>
			<% this_result_set = JSON.parse(script_json) %>
			<% name = this_result_set["name"] %>
			<% if name.blank? %>
				<h3><%=f%></h3>
				
			<% else %>
				<h3><%=name%></h3>
			<% end %>
		<% end %>

	   <table width="100%" border="0" cellspacing="0" cellpadding="0">
	     <tr>
	       <th>Answer</th>
	       <th>Number</th>
	       <th>Percentage</th>
	     </tr>

		<% cnt=0 %>
		<% @results_hash[f].keys.each do |r| %>
			<% cnt+=@results_hash[f][r] %>
		<% end %>
		<% @results_hash[f].keys.each do |r| %>
			<% this_num=@results_hash[f][r].to_i %>
			<tr class="<%= cycle("odd","even") %>">
				<td><%= r %></td>
				<td><%= this_num %></td>
				<td><%=((this_num.to_f/cnt.to_f) *100).round%>
				<%# ((r[0].to_f/@total)*100).to_i %>%</td>
			</tr>
		<% end %>
		</table>
	<% end %>

<% end %>

<!-- old penetration report stuff

<br/>
	<% if @totalvoters>0 %>
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <th>Type</th>
	        <th>Numbers</th>
	        <th>Percentage</th>
	      </tr>

			<tr class="odd">
				<td>Remaining Numbers</td>
				<td><%= @voters_to_call.length %></td>
				<td><%=@voters_to_call.length/@totalvoters*100  %></td>
			</tr>
			<tr class="event">
				<td>Finished Numbers</td>
				<td><%= @voters_called.length %></td>
				<td><%=@voters_called.length/@totalvoters*100  %>%</td>
			</tr>
	    </table>
	<% end %>

-->


	<h3>Date range:</h3>
	<% form_tag ("/client/reports/answer?id=#{params[:campaign_id]}") do %>

	<table>
		<tr>
			<td>From:</td>
			<td> <%= unobtrusive_date_text_picker_tag :from_date,@from_date %> </td>
		</tr>
		<tr>
			<td>
				To:</td>
			<td>  <%= unobtrusive_date_text_picker_tag :to_date,@to_date %>
				</td>
		</tr>
	</table>
	<div class="buttons"><button type="submit">Update</button></div>
	<% end %>

