<div class="box" style="width:600px;">
	<%= render :partial => 'boxtop', :locals=>{:title=>"#{@campaign.name} Overview Report"} %>
	<div class="box-content">
		
		
		<div class="table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <th width="300">Calls</th>
		        <th>Number</th>
		        <th>Percentage</th>
		      </tr>
			
				<% @records.each do |r| %>
				<tr class="<%= cycle("odd","even") %>">
					<td>
					<% if r[1].blank? %>Unanswered<% end %>
					<%= r[1] %></td>
					<td><%= r[0] %></td>
					<td><%= ((r[0].to_f/@total)*100).to_i %>%</td>
			</tr>
				<% end %>
		    </table>

		    <div class="pagging">
		   		<div class="left"><%= @total %> calls total</div>
		    </div>

		</div>
		
		<br/>
		
			<% if @totalvoters>0 %>
			<div class="table">
			    <table width="100%" border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <th width="300">Penetration</th>
			        <th>Numbers</th>
			        <th>Percentage</th>
			      </tr>

					<tr class="odd">
						<td>Remaining Numbers</td>
						<td><%= @voters_to_call.length %></td>
						<td><%=@voters_to_call.length/@totalvoters*100  %>%</td>
					</tr>
					<tr class="event">
						<td>Finished Numbers</td>
						<td><%= @voters_called.length %></td>
						<td><%=@voters_called.length/@totalvoters*100  %>%</td>
					</tr>
			    </table>
			
			</div>
			<br/>
			<% end %>

			<div class="table">
			    <table width="100%" border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <th width="300">Minutes</th>
			        <th>Minutes</th>
			      </tr>
					<tr class="event">
						<td>Voter Talk Time</td>
						<td><%= @talkmins %></td>
					</tr>
					<tr class="odd">
						<td>Caller Talk Tim</td>
						<td><%= @callerMins  %></td>
					</tr>
			    </table>
			

			    <div class="pagging">
			   		<div class="left"><%= @callerMins + @talkmins%> total minutes</div>
			    </div>
			</div>
						 
			
			
		
	</div>
</div>


