<div class="box">
	<%= render :partial => 'boxtop', :locals=>{:title=>"Scripts"} %>
	<% if @scripts.length==0 %>
		<div class="form">
	      <label>No scripts entered.</label>
		</div>
	<% else %>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Name</th>
        <th>Date Added</th>
        <th width="55" class="ac"></th>
      </tr>
	<% @scripts.each do |c| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><h3><a href="/client/script_add/<%= c.id %>"><%= c.name %></a></h3></td>
        <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
        <td><a href="javascript:if(confirm('Are you sure you want to delete this script?')) document.location.href='/client/script_delete/<%= c.id %>';" class="ico del">Delete</a>
	<!--<a href="/client/script_add/<%= c.id %>" class="ico edit">Edit</a>--></td>
      </tr>
	<% end %>

    </table>

    <!-- Pagging -->
    <div class="pagging">
   <div class="left"><%= page_entries_info @scripts %></div>
      <div class="right"> <%= will_paginate @scripts %>
	</div>
    </div>
    <!-- End Pagging -->
  </div>
  <!-- Table -->	<% end %>
  <div class="box-content"> <a href="/client/script_add" class="add-button"><span>Add new Script</span></a><div class="cl">&nbsp;</div></div>
</div>

<% content_for :sidebarx do %>
<!-- Box -->
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>Management</h2>
  </div>
  <!-- End Box Head-->
  <div class="box-content"> <a href="/client/script_add" class="add-button"><span>Add new Script</span></a><div class="cl">&nbsp;</div></div>
</div>
<!-- End Box -->

<% end %>