<h1><%= @label %></h1>
<%= error_messages_for :script %>
<% @lastone=[]
for i in 0..NUM_RESULT_FIELDS do
	@lastone<<0
end
%>

<%= form_for :script, :url => { :action => "script_add" , :id=>@script.id}, :html => {:name => 'callerForm', :id => 'callerForm'}   do |f| %>

     <p>
       <label>Script name</label>
		<%= f.text_field :name, {:class=>"field"} %>
     </p>

	<fieldset>
		<legend>Display above script</legend>
		<ul class="clearfix">
			<% @fields.each do |field| %>
			<li>	<input  type="checkbox" name="voter_field[]" value="<%= field %>"  <% if @voter_fields.index(field) %>checked<% end %>> <%= field %> </input></li>
			<% end %>

		</ul>
	</fieldset>

	<fieldset>
	<legend>Script</legend>
	<p>	<%= f.text_area :script, {:cols=>50, :rows=>10} %></p>
	</fieldset>


	<fieldset>
		<legend>Call results</legend>
	<% (1..NUM_RESULT_FIELDS).each do |i| %>
	 	<%= render :partial => 'call_result', :locals => { :num => i }  %>
	<% end %>
	<% (1..NUM_RESULT_FIELDS).each do |i| %>
		<%= render :partial => 'call_note' , :locals => { :num => i }  %>
	<% end %>



	<p class="actions">
  <a href="javascript:void(0)" onclick="addResult();" class="action secondary">New question</a>
  <a href="javascript:void(0)" onclick="remResult();" class="action secondary">Delete last question</a>
  <a href="javascript:void(0)" onclick="addNote();" class="action secondary">New note</a>
  <a href="javascript:void(0)" onclick="delNote();" class="action secondary">Delete last note</a>
	</p>


	</fieldset>



								<input type="hidden" id="numResults" name="numResults" value="">
								<input type="hidden" id="numNotes" name="numNotes" value="">

								<div class="buttons">
								<button type="button" onclick="saveForm();">Save</button>
								</div>
								<% end -%>




<script>

	var numResults=<%= @numResults %>;
	var numNotes=<%= @numNotes %>;
	var maxNotes=<%= NUM_RESULT_FIELDS %>;

	for (i=1; i<=numResults;i++)
		$('result_container_' + i).style.display='block';

	for (i=1; i<=numNotes;i++)
		$('note_container_' + i).style.display='block';

	function addResult(){
		if (numResults==maxNotes){
			alert ('Maximum number of result sets is ' + maxNotes);
			return true;
		}
		numResults+=1;
		for (i=1; i<=numResults;i++)
			$('result_container_' + i).style.display='block';
	}

	function remResult(){
		num=numResults;
		if (num==1){
			alert('You must have at least one result set.')
			return true;
		}
		$('result_container_' + num).style.display='none';
		numResults=numResults-1;
	}

	<% for i in 1..NUM_RESULT_FIELDS do %>
		var lastone_<%= i %>=<%= @lastone[i] %>;
	<% end %>

	function dlastone(num) {
		var lastone=0;
		for (i=1;i<99;i++){
			idiv = $('result_' + num + '_' + i);
			if (idiv.style.display!=''){
				lastone=i;
				idiv.style.display='';
				break;
			}
		}
//		alert(lastone);
//		lastone++;
//		idiv = $('result_' + num + '_' + lastone);

	}

	function addNote(){
		if (numNotes==maxNotes){
			alert ('Maximum number of notes is '+ maxNotes);
			return true;
		}

		numNotes+=1;
		for (i=1; i<=numNotes;i++)
			$('note_container_' + i).style.display='block';
	}


	function delNote(){
		if(numNotes==0)
			return true;
		num=numNotes;
		$('note_container_' + num).style.display='none';
		numNotes=numNotes-1;
	}

	function checkNum(field){
		if (field.value==0){
			alert('Keypad 0 is not allowed.')
			field.value=1;
			}
	}

	function saveForm(){
		$('numResults').value=numResults;
		$('numNotes').value=numNotes;
		$('numResults').value=numResults;
		$('callerForm').submit();
	}
	/*
	for (x=1; x<100; x++){
		idiv = $('result' +x);
		ifrm = $('script_keypad_' + x);

		if (ifrm.value!='' || x < 10)
			idiv.style.display='block';
	}

	function newVal(){
		maxN=0;
		for (x=1; x<100; x++){
			idiv = $('result' +x);
			ifrm = $('script_keypad_' + x);

			if (ifrm.value!='' || x < 10)
				maxN=x;
		}
		sfrm = $('script_keypad_' + (maxN));
		sdiv = $('result' + (maxN+1));
		if (sfrm.value=='')
			alert('Enter a value for keypad ' + maxN );
		else
			sdiv.style.display='block';
	}
	$('content').style.float='left';
	*/
</script>
