<h1>Scripts</h1>
<% if @scripts.length==0 %>
  <div class="form">
    <label>No scripts entered.</label>
  </div>
<% else %>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Name</th>
        <th>Date Added</th>
        <th width="55" class="ac"></th>
      </tr>
      <% @scripts.each do |c| %>
        <tr class="<%= cycle("odd","even") %>">
          <td><h3><a href="/client/script_add/<%= c.id %>"><%= c.name %></a></h3></td>
          <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
          <td><a href="javascript:if(confirm('Are you sure you want to delete this script?')) document.location.href='/client/script_delete/<%= c.id %>';" class="ico del">Delete</a>
            <!--<a href="/client/script_add/<%= c.id %>" class="ico edit">Edit</a>--></td>
        </tr>
      <% end %>

    </table>
  </div>


  <!-- New HTML -->
  <p><%= page_entries_info @scripts %> <%= will_paginate @scripts %></p>
  <!-- / New HTML -->

  <!-- Table -->
<% end %>
<p class="actions"><a href="/client/script_add" class="action primary">Add new script</a></p>
<p class="actions"><%= link_to 'View deleted scripts', client_deleted_scripts_path, :class => 'action secondary' %></p>

