		<% campaign = @campaign %>
		<% stats = campaign.call_stats(@timeframe) %>
		<% attempts = stats[:attempts] %>

		<div class="box" style="width:350px; float:right;">
			<%= render :partial => 'boxtop', :locals=>{:title=>"#{campaign.name}: Recent Calls (#{attempts.length})"} %>
			<div class="box-content">

				
				<% if attempts.length==0 %>None 
					<% if @timeframe==1000000 %>
					<% else %>
						in last <%= @timeframe %> minutes
					<% end %>
				<% end %>
				<table class="statTable">
				<% attempts.each do |attempt| %>
					<tr class="<%= cycle('odd', 'even') %>">
						<td><%= attempt.id %></td>
						<td nowrap><% if attempt.voter!=nil %><%=  number_to_phone(attempt.voter.Phone, :area_code => true) %> <% end %></td>
						<td><%= attempt.status %></td>
						<td><% if attempt.duration!=nil %> <%= attempt.duration %>s <% end %></td>
					</tr>
				<% end %>
				</table>
			</div>
		</div>
		<div class="box" style="width:370px;">
			<%= render :partial => 'boxtop', :locals=>{:title=>"#{campaign.name}: Recent Call Stats"} %>



		    <%# callers = info["callers"]  %>
		    <%# calls = info["calls"] %>
		    <% callers = CallerSession.find_all_by_campaign_id_and_on_call(campaign.id, 1) %>
		    <% calls = CallAttempt.find_all_by_campaign_id(campaign.id, :conditions=>"call_end is  NULL") %>
		
		    <% voters = campaign.voters_count("not called") %>
		
			<div class="box-content">
				Dials needed:  <b><%= stats[:dials_needed] %></b><br/>
				Answered call ratio: <b><%= (stats[:answer_pct] * 100).to_i %>%</b><br/>
				Short threshold: <b><%= sprintf( "%0.02f",stats[:short_new_call_time_threshold]) %></b><br/>
				Long threshold:  <b><%= sprintf( "%0.02f",stats[:long_new_call_time_threshold]) %></b><br/>
<!--
			    Unanswered Calls: <b><%= stats[:no_answer] %></b><br/>
				Answered call ratio: <b><%= (stats[:answer_pct] * 100).to_i %>%</b><br/><br/>-->
				Answered Calls: <b><%= stats[:answer] %></b><br/>
			    Abandoned Calls: <b><%= stats[:abandon] %></b><br/>
				Abandoned call ratio: <b><%= (stats[:abandon_pct] * 100).to_i %>%</b><br/>
				Short ratio: <b><%= sprintf( "%0.02f", stats[:ratio_short]) %></b><br/>
				
				<br/>
				Callers logged in: <b><%= callers.length %></b><br/>
			    Calls in progress: <b><%= calls.length %></b><br/>
			    Voters to call: <b><%= voters.length %></b><br/>
				Avg caller hold time: <b><%= stats[:avg_hold_time].to_i %>s</b>
				
				<!--
			    Avg call length: <b><%= (stats[:avg_duration]).to_i %>s</b><br/>
				Short calls: <b><%= stats[:total_short] %></b><br/>
				Long calls: <b><%= stats[:total_long] %></b><br/>
				-->
				<!--
				Average long: <b><%= stats[:avg_long] %>s</b><br/>
				Longest long: <b><%= stats[:biggest_long] %>s</b>
				-->
			</div>

			<% if callers.length > 0 %>
			<div class="box-content">
				Callers logged in:<br/>
				<% callers.each do |callerSession| %>
					PIN <%=  callerSession.caller.pin %> <%= callerSession.caller.email %> <br/>
				<% end %>
			</div>
			<% end %>
			<% if calls.length > 0 %>
			<div class="box-content">
				Calls in progress: (<%= calls.length %>)<br/>
				<% calls.each do |call| %>
					<%= call.id %>
					<%=  number_to_phone(call.voter.Phone, :area_code => true)  if call.voter!=nil %>
					<%= call.status  if call.voter!=nil %>
					<%= call.voter.FirstName   if call.voter!=nil %>
					<%= call.voter.LastName  if call.voter!=nil %> <br/>
				<% end %>
			</div>
			<% end %>
		</div>

		<% v = Voter.find_all_by_campaign_id(campaign.id, :conditions=>"result_digit is not null and result_date > DATE_SUB(now(),INTERVAL #{@timeframe} MINUTE)", :order=>"id desc") %>
		<% if v.length > 0 %>

		<div class="box" style="width:370px;">
			<%= render :partial => 'boxtop', :locals=>{:title=>"#{campaign.name}: Call Results"} %>
			<div class="box-content">
				Results:<br/>
				<% v.each do |voter| %>
					<li> <%= voter.result %> <%=  number_to_phone(voter.Phone, :area_code => true)   %> <%= voter.FirstName %> <%= voter.LastName %>
				<% end %>
			</div>
		</div>
<% end %>