<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/recurly_overrides.css?v=1" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/recurly.css" type="text/css" />
<% end %>

<script src="/javascripts/recurly.min.js" type="text/javascript"></script>
<script>

Recurly.config({
    subdomain: '<%= RECURLY_SUBDOMAIN %>'
  , currency: 'USD'
  }
);


  Recurly.buildBillingInfoUpdateForm({
    target: '#recurly-form'
  , accountCode: '<%= @account_code %>'
  , distinguishContactFromBillingInfo: false
  , successURL: 'http://<%= APP_HOST %><%= Settings.twilio_callback_port=="80" ? "" : ":#{Settings.twilio_callback_port}/client/billing_updated" %>'
  , signature: '<%= Recurly.js.sign :account => { :account_code =>  @account_code } %>',
billingInfo: {
    firstName: '<%= @billing_info.nil? ? @user.fname : @billing_info.first_name %>'
  , lastName: '<%= @billing_info.nil? ? @user.lname : @billing_info.last_name %>'
  , address1: '<%= @billing_info.nil? ? "" : @billing_info.address1 %>'
  , address2: '<%= @billing_info.nil? ? "" : @billing_info.address2 %>'
  , country: '<%= @billing_info.nil? ? "" : @billing_info.country %>'
  , city: '<%= @billing_info.nil? ? "" : @billing_info.city %>'
  , state: '<%= @billing_info.nil? ? "" : @billing_info.state %>'
  , zip: '<%= @billing_info.nil? ? "" : @billing_info.zip %>'
  }
  });
</script>

<h1>Update billing</h1>
<div role="main">
  <fieldset>
    <div id="recurly-form">
    </div>
  </fieldset>
</div>
