<h1>Billing</h1>
<div class="content clearfix">

<form action="/client/subscriptions/<%= @account.subscription.id%>/update_callers" method="POST">
	<input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
 	<input name="_method" type="hidden" value="PUT" />
<fieldset>
	<p>Current number of callers: <%= @user.account.subscription.number_of_callers %></p>
	<p>New number of callers:</p>
   	<select name="subscription[num_callers]">
			<% (1..99).each do |n| %>
				<option value="<%= n %>" <% if @user.account.subscription_count.to_i==n %>selected<% end %> ><%= n %></option>
			<% end %>
		</select>
	</fieldset>
</div>
<div class="buttons">
<button type="submit">Update</button>
</form>

</div>