<% if !@result.blank? %>
	<div class="box">
		<%= render :partial => 'boxtop', :locals=>{:title=>"Upload Results"} %>
		
		<div style="padding:20px;">
			<% if @result.has_key?(:successCount) && @result[:successCount]!=0 %>
			<div class="msg msg-ok"> 
						<p><strong>Successfully imported <%= @result[:successCount] %> records</strong></p> 
			</div>
			<% end %>
			<% if @result.has_key?(:failedCount) && @result[:failedCount] > 0 %>
			<div class="msg msg-error"> 
						<p><strong>Unable to import <%= @result[:failedCount] %> records</strong></p> 
			</div>
			<% end %>
	

			<% if @result.has_key?(:error) %>
			<div class="msg msg-error"> 
						<p><strong><%= @result[:error] %></strong></p> 
			</div>
			<% end %>
			<% if @result.has_key?(:uploads) && @result[:uploads].length > 0%>
			<div class="msg msg-caution"> 
				<p><strong>
					<% @result[:uploads].each do |r| %>
					<%= r %><br/>
					<% end %>
					</strong></p> 
			</div>
			<% end %>
			<br/>
			<input type="button" class="button" value="Done" onclick="document.location.href='/client/campaign_view/<%= @campaign.id %>';" /> 
		</div>
	</div>
<% else %>


<div class="box">
	<%= render :partial => 'boxtop', :locals=>{:title=>"Add a list to #{@campaign.name}"} %>
	<% form_tag ({}, :multipart => true) do %>

	<!-- Form --> 
	<div class="form"> 
		<p> 
			<label>Select list</label> 
			<%= file_field 'upload', 'datafile' %>
		</p>	
	   <p>
	        <label>List name</label>
			<%= text_field_tag "list_name" %>
	      </p>
<!--
		<p> 
			<label>Select Voter List <span>(Required Field)</span></label> 
			<select name="voterList" id="voterList" onchange="checklist();"> 
				<%  @lists.each do |l| %>
					<option value="<%= l.id %>"><%= l.name %></option>
				<% end %>
				<option value="0">New List...</option>
			</select>
			 <div id="newListDiv" style="display:none;"> Enter new list name: <input type="text" name="new_list_name"></div>
		</p>	-->
		
		<p class="inline-field"> 
			<!--
			<div style="float:right;">
				<label>Required Upload File Header: Phone</label>
				<label><span>Optional File Headers: "VAN ID"	LastName FirstName	MiddleName	Suffix		Email</span></label>
				</div>
			-->
			<label>File type</label> 
			<select class="field size3" name="seperator"> 
				<option value="tab">Tab (*.txt)</option> 
				<option value="comma">Comma (*.csv)</option> 
			</select> 
		</p> 
	</div> 
	<!-- End Form --> 

	<!-- Form Buttons --> 
	<div class="buttons"> 
		<input type="button" class="button" value="Cancel" onclick="document.location.href='/client/campaign_view/<%= @campaign.id %>';" /> 
		<input type="submit" class="button" value="Add list" /> 
	</div> 
	<!-- End Form Buttons --> 
	<% end %>
<!---

	<script>
	function checklist(){
		if (($('voterList').value)==0)
			$('newListDiv').style.display='block';
		else
			$('newListDiv').style.display='none';
	}
	checklist();
	</script>
--->
</div>
<% end %>


<% content_for :sidebar do %>
<!-- Box -->
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>Upload help</h2>
  </div>
  <!-- End Box Head-->
	<div class="box-content">
		Your list must be either a "comma-separated value" spreadsheet (these files usually have the extension .csv) or a "tab-separated text" spreadsheet (usually with extension .txt). Any spreadsheet can be saved in one of these formats in a spreadsheet editor like Microsoft Excel. In the spreadsheet, the column containing the phone numbers must have the header "Phone". The other optional headers that Impact Dialing can process are ID, FirstName, MiddleName, LastName, Suffix, Age, Gender, and Email.
	</div>
</div>
<!-- End Box -->

<% end %>
<%= float_sidebar %>