<%= error_messages_for :voter %>
<div class="box" style="width:400px;">
	<%= render :partial => 'shared/boxtop', :locals=>{:title=>@label} %>
	<%= form_for :voter do |f| -%>
	<input type="hidden" name="campaign_id" value="<%= @campaign.id %>">
    <div class="form">
		<p>
			<label>Select Voter List <span>(Required Field)</span></label>
			<select name="voterList" id="voterList" onchange="checklist();">
				 <% @lists = @campaign.voter_lists.active.each do |l| %>
					<option value="<%= l.id %>" <% if l.id ==@voter.voter_list_id %>selected<% end %>><%= l.name %></option>
				<% end %>
				<option value="0">New List...</option>
			</select>
			 <div id="newListDiv" style="display:none;"> Enter new list name: <input type="text" name="new_list_name"></div>
		</p>
	<% Voter.upload_fields.each do |h| %>
    <p>
      <label><%= h %> <% if h=="Phone" %><span>(Required Field)</span><% end %></label>
		<%= f.text_field h.to_sym, {:class=>"field"} %>
    </p>
	<% end %>
	</div>

    <div class="buttons">
      <input type="button" class="button" value="cancel" onclick="document.location.href='<%= client_campaign_path(@campaign) %>"/>
	<%= f.submit "submit", :disable_with => 'submiting...', :class=>"button" %>
    </div>
    <!-- End Form Buttons -->
	<% end -%>
</div>
<!-- End Box -->

<script>
function checklist(){
	if (($('voterList').value)==0)
		$('newListDiv').style.display='block';
	else
		$('newListDiv').style.display='none';
}
checklist();
</script>
