<% if !@result.blank? %>
    <div class="box">
      <%= render :partial => 'shared/boxtop', :locals=>{:title=>"Upload Results"} %>

      <div style="padding:20px;">
        <% if @result.has_key?(:successCount) && @result[:successCount]!=0 %>
            <div class="msg msg-ok">
              <p><strong>Successfully imported <%= @result[:successCount] %> records</strong></p>
            </div>
        <% end %>
        <% if @result.has_key?(:failedCount) && @result[:failedCount] > 0 %>
            <div class="msg msg-error">
              <p><strong>Unable to import <%= @result[:failedCount] %> records</strong></p>
            </div>
        <% end %>


        <% if @result.has_key?(:error) %>
            <div class="msg msg-error">
              <p><strong><%= @result[:error] %></strong></p>
            </div>
        <% end %>
        <% if @result.has_key?(:messages) && @result[:messages].length > 0 %>
            <div class="msg msg-caution">
              <p><strong>
                <% @result[:messages].each do |r| %>
                    <%= r %><br/>
                <% end %>
              </strong></p>
            </div>
        <% end %>
        <br/>
        <input type="button" class="button" value="Done" onclick="document.location.href='/client/campaign_view/<%= @campaign.id %>';"/>
      </div>
    </div>
<% else %>
    <h2>You should be accessing this page only after uploading a voters list.</h2>
<% end %>


<%= render :partial => "voter_lists/sidebar" %>