<h1>Policies</h1>
<section id="privacy">
<h2>Privacy policy</h2>
<h3>Information we collect</h3>
<p>When you sign up to use the <%= title %> auto dialer, you provide us with your your name, email address, and phone number. In using our services, you upload data on individuals to be contacted by telephone. All of the information you provide or submit to <%= title %> is referred to in this Privacy Policy as &#8220;User Information.&#8221;</p>
<p>When you use the <%= title %> website and software, we send you one or more cookies. The cookie(s) help provide a more tailored and user-friendly service to you. We also record information that your browser sends when you visit a website, such as your web request, Internet Protocol address, browser type, browser language, and the date and time of your request.</p>
<p>The <%= title %> auto dialer collects information about the phone calls that it makes. This information includes (but is not limited to) the length of the calls, the amount of time callers spend waiting between calls, which calls are and are not answered, and the names and phone numbers of the people you call. This information helps us improve the quality of the service we provide. We do not record the calls themselves except upon your request.</p>
<h3>Information sharing</h3>
<p><%= title %> will not disclose your User Information to any person or entity outside of its employees, contractors, and firms involved in building the <%= title %> auto dialer. We will not sell, trade, or rent your User Information for any purpose, EXCEPT when appropriate to comply with the law (e.g., a lawful subpoena), to protect our rights or property, or to protect other users or vendors from fraudulent, abusive, or unlawful conduct, or if we reasonably believe that an emergency involving immediate danger of death or serious physical injury to any person requires disclosure of User Information.</p>
<p>If <%= title %> becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will ensure the confidentiality of any User Information involved in such transactions and provide notice before User Information is transferred and becomes subject to a different privacy policy.</p>
<h3>Information security</h3>
<p><%= title %> uses industry standard security measures to protect User Information. Only <%= title %> employees, contractors, and firms involved in building the <%= title %> auto dialer who need to know that information to provide services to you have permission to access your User Information. Although we make good faith efforts to maintain the privacy of User Information, we cannot guarantee complete security.</p>
<h3>Changes to this Privacy Policy</h3>
<p>This Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any Privacy Policy changes on this page and, if the changes are significant, we will email you a notice.</p>
</section>
<section id="terms">
<h2>Terms of service</h2>
<h3>Your agreement with <%= full_title %> (henceforth "<%= title %>")</h3>
<p>Your use of <%= title %>'s auto dialer software (henceforth "Services") is subject to a legal agreement between you and <%= title %>. This document contains the terms of that agreement (henceforth "Terms").</p>
<p>In order to use the Services, you must agree to these Terms. You may not use the Services if you do not agree to the Terms.</p>
<p>You may end this agreement for any reason by stopping use of the Services. <%= title %> may end this agreement for any reason by notifying you by email. If you have any unused pre-paid charges, <%= title %> will refund them within 30 days of your request to do so. If you have any accrued but unpaid charges for use of <%= title %>, you will pay them within 30 days of <%= title %>'s request to do so. Any part of this agreement that is agreed to continue indefinitely will not be affected by this agreement's termination. </p>
<h3>Your license</h3>
<p>If you agree to these Terms and create an account on <%= title %>'s website, <%= title %> will provide you with use of the Services. As <%= title %> works to improve the Services, it may change them as it sees fit. You agree that the Services may change without notice to you. </p>
<p>You agree that <%= title %> owns the Services, including any intellectual property rights which exist in them (whether those rights happen to be registered or not, and wherever in the world those rights may exist). You may not (and you may not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of all or any part of the Services, unless this is expressly permitted or required by law, or unless <%= title %> has specifically told you in writing that you may do so. </p>
<h3>Your responsibilities</h3>
<p>You agree to comply with all federal, state and local laws governing the use of auto dialers. Without limiting the generality of the previous sentence, you represent that:
  <ul>
    <li>you have read and understand, or will do so, the Telephone Consumer Protection Act of 1991, 47 U.S.C. ยง 227 ("TCPA"), and the rules and regulations of the Federal Communications Commission implementing the TCPA located at 47 C.F.R. ยง 64.1200 ("TCPA Regulations");</li>
    <li>you will not use the Services to call any cell phone, pager, or phone number associated with any service in which the called party is charged to receive calls, unless you have an established business relationship, as defined by the TCPA, with the called party;</li>
    <li>you will not use the Services to call any emergency telephone line, including any 911 line, or to any emergency line of a hospital, medical physician or medical service office, health care facility, poison control center or fire protection or law enforcement agency, or to the telephone line of any guest or patient room of a hospital, health care facility, elderly home or similar establishment;</li>
    <li>any messages you transmit will comply with the TCPA; and</li>
    <li>you understand that you are solely responsible for the content of all messages you transmit using the Services, and that <%= title %> takes no responsibility for the content of your messages.</li>
  </ul>
</p>
<h3>Exclusion of warranties</h3>
<p>In no event shall <%= title %> be liable for lost profits or any special, incidental, or consequential damages arising out of or in connection with services. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation and exclusions may not apply to you.</p>
<p>The services are provided on an "as is, as available" basis and <%= title %> makes no warranties, express or implied, with respect to the services.</p>
<p>In particular, <%= title %> does not represent or warrant to you that: your use of the services will meet your requirements; your use of the services will be uninterrupted, timely, secure or free from error, and; that defects in the operation or functionality of the services will be corrected.</p>
<p>No advice or information, whether oral or written, obtained by you from <%= title %> or through or from the services shall create any warranty not expressly stated in the terms.</p>
<p><%= title %> further expressly disclaims all warranties and conditions of any kind, whether express or implied, including, but not limited to the implied warranties and conditions of merchantability, fitness for a particular purpose and non-infringement.</p>
<h3>Limitation of liability</h3>
<p>You expressly understand and agree that <%= title %> shall not be liable to you for: </p>
<ul>
  <li>any direct, indirect, incidental, special consequential or exemplary damages which may be incurred by you, however caused and under any theory of liability. This shall include, but not be limited to, any loss of profit (whether incurred directly or indirectly), any loss of goodwill or business reputation, any loss of data suffered, cost of procurement of substitute goods or services, or other intangible loss;</li>
  <li>any loss or damage which may be incurred by you, including but not limited to loss or damage as a result of: any changes which <%= title %> may make to the services, or for any permanent or temporary cessation in the provision of the services (or any features within the services); the deletion of, corruption of, or failure to store, any content and other communications data maintained or transmitted by or through your use of the services; your failure to provide <%= title %> with accurate account information; your failure to keep your password or account details secure and confidential.</li>
</ul>
<p>The limitations on <%= title %>'s liability to you shall apply whether or not <%= title %> has been advised of or should have been aware of the possibility of any such losses arising.</p>
<h3>General legal terms</h3>
<p><%= title %> may amend these Terms at any time by posting the amended Terms on its website. If the changes are significant, <%= title %> will provide a more prominent notice (such as by email or when you log in to the <%= title %> auto dialer). You agree that if you use <%= title %> after <%= title %> has changed these Terms, you have agreed to the updated Terms.</p>
<p>These Terms are the entire legal agreement between you and <%= title %>, and completely replace any prior agreements between you and <%= title %>. You agree that if <%= title %> does not exercise or enforce any legal right or remedy in this Agreement (or which <%= title %> has the benefit of under any applicable law), those rights or remedies will still be available to <%= title %>.</p>
<p>If any court of law, having the jurisdiction to decide on this matter, rules that any provision of this agreement is invalid, then that provision will be removed from the Terms without affecting the rest of the Terms. The remaining provisions of the Terms will continue to be valid and enforceable.</p>
<p>The rights and obligations of the parties under this agreement shall be governed by the laws of the State of California. The Superior Court of San Francisco County or the United States District Court for the Northern District of California will have exclusive jurisdiction and venue over all controversies. Notwithstanding this, you agree that <%= title %> shall still be allowed to apply for injunctive remedies (or an equivalent type of urgent legal relief) in any jurisdiction.</p>
</section>
</div>