<%= javascript_include_tag 'prototype' %>

<h1>Campaigns</h1>
<% if @campaigns.length==0 %>
  <div class="form">
    <label>No campaigns entered.</label>
  </div>
<% else %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Campaign ID</th>
      <th>Date Added</th>
      <th>Date Deleted</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @campaigns.each do |c| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><h3><a href="<%= client_campaign_path(c) %>"><%= c.name %></a></h3></td>
        <td><%= c.account.users.map(&:email).join(', ') %></td>
        <td><%= c.id %></td>
        <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= c.active? ? '' : c.updated_at.strftime("%m/%d/%Y") %></td>
        <td>
          <% if !c.active? %>
            <%= form_tag(admin_campaign_restore_path(c), :id => "restore-campaign#{c.id}-form", :method => :put) do |f| %>
              <%= link_to 'Restore', 'javascript:void(0)', :onclick => "$('restore-campaign#{c.id}-form').submit()" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </table>

  <p><%= page_entries_info @campaigns %> <%= will_paginate @campaigns %></p>

<% end %>
