<%= render "shared/error_messages", :target => @campaign %>
<%= form_for @campaign, url: "#{client_campaigns_path}/#{@campaign.id}" do |f| %>
  <fieldset>
    <fieldset>
      <legend>Settings</legend>
      <%= f.hidden_field :id, {name: "campaign[id]", id: "campaign_id"} %>
      <p data-intro="Give your campaign a name." data-step="1">
        <%= f.label :name %>
        <%= f.text_field :name, name: "campaign[name]" %>
      </p>
      <p data-intro="Choose the Caller ID to be displayed on outgoing calls. The law requires that this be a real number associated with your business or organization." data-step="2">
        <label>Caller ID</label>
        <%= f.text_field :caller_id, name: "campaign[caller_id]" %>
      </p>
      <p data-intro="Choose which script your callers should use." data-step="3">
        <%= f.label :script %>
        <%= f.collection_select(:script_id, @scripts, :id, :name, {}, name: "campaign[script_id]",
        id: "campaign_script") %>
      </p>
      <p data-intro="There are three dialing modes. Preview mode shows the name of the lead and lets your caller choose to dial or skip it. Power mode dials a new lead immediately after the previous one is finished. Predictive mode will dial more lines than you have callers, intelligently adapting to the answer rate and conversation length; occasionally, however, a call will be answered when no caller is available. Predictive should generally only be used when several callers are calling at the same time." data-step="4">
        <%= f.label :dialing_mode %>
        <select class="field" id="campaign_type" name="campaign[type]">
          <%= options_for_select @campaign.campaign_type_options,
                                 @campaign.type %>
        </select>
      </p>
      <div id="abandon_rate_edit" style="display: none">
        <p>
          <%= f.label :abandonment_rate %>
          <select class="field" id="campaign_acceptable_abandon_rate" name="campaign[acceptable_abandon_rate]">
            <% if @campaign.account.variable_abandonment? %>
              <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03], ["4%", 0.04], ["5%", 0.05],
                                      ["6%", 0.06], ["7%", 0.07], ["8%", 0.08], ["9%", 0.09],["10%", 0.1]],
                                     @campaign.acceptable_abandon_rate %>
            <% else %>
              <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03]], @campaign.acceptable_abandon_rate %>
            <% end %>
          </select>
        </p>
      </div>

      <p data-intro="Choose what time zone you're calling so that the correct time is used for the dialing hours and reports." data-step="5">
        <label>Time zone</label>
        <%= time_zone_select("campaign", 'time_zone', ActiveSupport::TimeZone.us_zones, :default => @campaign.time_zone) %>
      </p>

      <p data-intro="Outside of the dialing hours, the dialer won't make calls." data-step="6">
        <label for="">Dialing hours</label>
        <select class="field" id="campaign_start_time" name="campaign[start_time]">
          <%= options_for_select hours, @campaign.start_time.try(:hour) %>
        </select>
        to
        <select class="field" id="campaign_end_time" name="campaign[end_time]">
          <%= options_for_select hours, @campaign.end_time.try(:hour) %>
        </select>
      </p>

      <p data-intro="The recycle rate sets the minimum amount of time before calling somebody back." data-step="7">
        <label for="">Recycle rate</label>
        <select id="campaign[recycle_rate]" name="campaign[recycle_rate]">
          <%= options_for_select [1,2,3,4,6,10,12,16,24,48,72], @campaign.recycle_rate %>
        </select>
      </p>

      <%= render :partial => 'voicemail', :locals => {:form => f} %>
    </fieldset>

    <fieldset>
      <legend>Lists</legend>
      <% if @campaign.new_record? %>
        <p>After saving this campaign, you can edit it again to add lists.</p>
      <% elsif @campaign.voter_lists.length == 1 %>
          <p>You haven't uploaded any lists yet.</p>
      <% else %>
          <table>
            <tr>
              <th>Name</th>
              <th>Phone #s</th>
              <th>Remaining</th>
            </tr>
            <% i = 0 %>
            <% @campaign.voter_lists.each do |list| %>
              <% unless list.new_record? %>
                <tr>
                  <td valign="top">

                    <%= f.fields_for :voter_lists, list do |list_fields| %>
                      <%= list_fields.hidden_field :id, {name: "campaign[voter_lists_attributes][#{i}][id]"} %>
                      <%= list_fields.check_box :enabled, {name: "campaign[voter_lists_attributes][#{i}][enabled]"} %> <%= list.name %></td>
                    <% end %>
                  <% i= i+1 %>
                  </td>
                  <td valign="top"><%= list.voters.size %></td>
                  <td valign="top"><%= Voter.remaining_voters_for_voter_list(list).count %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
      <% end %>
    </fieldset>

    <div class="buttons">
      <button type="submit">Save</button>
    </div>
  </fieldset>
<% end %>
