<%= render "shared/error_messages", :target => @campaign %>
<%= form_for @campaign, url: "#{client_campaigns_path}/#{@campaign.id}" do |f| %>
  <%= f.hidden_field :account_id %>
  <fieldset>
    <legend>Settings</legend>
    <p>
      <label for="">Name</label><br>
      <%= f.text_field :name, {:class=>"field size3", name: "campaign[name]"} %>
    </p>

    <p>
      <label for="">Caller ID</label><br>
      <%= f.text_field :caller_id, {:class=>"field size3", name: "campaign[caller_id]"} %>
    </p>

    <p>
      <label for="">Script</label><br>
      <%= f.collection_select(:script_id, @scripts, :id, :name,{}, {:class=>"field", name: "campaign[script_id]"}) %>
    </p>

    <p>
      <label for="">Dialing mode</label>
      <select class="field" id="campaign_type" name="campaign[type]" onchange="dialingModeOnChange()">
        <%= options_for_select [["Predictive", "Predictive"],
                                ["Power", "Progressive"],
                                ["Preview", "Preview"]],
                               @campaign.type %>
      </select>
    </p>
    <div id="abandon_rate_edit" style="display: none">
      <p><label>Abandonment rate</label>
        <select class="field" id="campaign_abandon_rate" name="campaign[acceptable_abandon_rate]">
          <% if @campaign.account.variable_abandonment? %>
            <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03],["4%", 0.04], ["5%", 0.05], ["6%", 0.06],["7%", 0.07], ["8%", 0.08], ["9%", 0.09],["10%", 0.1]], @campaign.acceptable_abandon_rate %>
          <%else%>
            <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03]], @campaign.acceptable_abandon_rate %>
          <%end%>
        </select>
      </p>
    </div>

    <p>
      <label for="">Time zone</label>
      <%= time_zone_select("campaign", 'time_zone', ActiveSupport::TimeZone.us_zones, :default => @campaign.time_zone) %>
    </p>

    <p>
      <label for="">Dialing hours</label>
      <select class="field" id="campaign_start_time" name="campaign[start_time]">
        <%= options_for_select hours, @campaign.start_time.try(:hour) %>
      </select>
      to
      <select class="field" id="campaign_end_time" name="campaign[end_time]">
        <%= options_for_select hours, @campaign.end_time.try(:hour) %>
      </select>
    </p>

    <%= render :partial => 'shared/recycle_rate', :locals => {:recycle_hour => @campaign.recycle_rate} %>
    <%= render :partial => 'voicemail', :locals => {:form => f} %>
  </fieldset>

  <fieldset>
    <legend>Lists</legend>
    <% if @campaign.voter_lists.blank? %>
        <p>You haven't uploaded any lists yet.</p>
    <% else %>
        <table>
          <tr>
            <th>Name</th>
            <th>Phone #s</th>
            <th>Remaining</th>
          </tr>
          <% @campaign.voter_lists.each do |list| %>
              <tr>
                <td valign="top">
                  <%= f.fields_for :voter_lists, list do |list_fields| %>
                    <%= list_fields.check_box :enabled %> <%= list.name %></td>
                  <% end %>
                </td>
                <td valign="top"><%= list.voters.size %></td>
                <td valign="top"><%= Voter.remaining_voters_count_for('voter_list_id', list.id) %></td>
              </tr>
          <% end %>
        </table>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Add a list</legend>
    <p>
      Please upload a comma-separated value (CSV) or tab-delimited text (TXT) file.
      If your list is in Excel format (XLS or XLSX), use "Save As" to change it to one of these formats.
    </p>
    <%= f.fields_for @voter_list do |ff| %>
      <%= ff.file_field :file %>
    <% end %>
  </fieldset>
  <div class="buttons">
    <button type="submit">Save</button>
  </div>
<% end %>

<script>
    function dialingModeOnChange() {
        var dialMode = $('#campaign_type').val();
        if (dialMode == "Predictive") {
            $('#abandon_rate_edit').show();
            $('#campaign_abandon_rate').val(0.03);
        } else {
            $('#abandon_rate_edit').hide();
        }
    }

    $(function () {
        if ($("#campaign_type").val() == "Predictive") {
            $("#abandon_rate_edit").show();

        }

        $('#campaign_answering_machine_detect').click(function () {
            if ($('#campaign_answering_machine_detect').attr('checked') == false) {

                if ($("#campaign_use_recordings").attr('checked') == true) {
                    $("#recordingsdiv").toggle($("#campaign_use_recordings").checked);
                    $("#campaign_use_recordings").attr('checked', false);
                }
            }
        });

    });

    <% if !@campaign.account.recordings.blank? %>
    function updatePreview() {
        recording_id = $("#campaign_recording_id").val();
    <%@account.recordings.each do |recording| %>
        if (recording_id ==<%= recording.id %>) {
            path = '<%= recording.file.url %>';
            name = '<%= escape_javascript recording.name %>';
        }
    <% end %>

        var o = 'Preview: ' + name + '<br/>';

        if (path.indexOf('mp3') > -1)
            o = o + '<object type="application/x-shockwave-flash" width="200" height="14" data="/xspf_player_slim.swf?player_title=' + name + '&song_title=' + name + '&song_url=' + escape(path) + '"><param name="movie" value="/xspf_player_slim.swf?player_title=' + name + '&song_title=' + name + '&song_url=' + escape(path) + '" /></object>';
        else
            o = o + '<EMBED SRC="' + path + '" WIDTH="240" HEIGHT = "25" AUTOPLAY="false" CONTROLLER="true" LOOP="false" PLUGINSPAGE="http://www.apple.com/quicktime/">';
        $('sndPreview').innerHTML = o;
    }
    <% end %>
    updatePreview();
</script>
