<%= content_for :javascripts do %>
  <%= javascript_include_tag 'campaign/campaign', 'campaign/list_upload_form',
    'campaign/voter_lists', 'form_helpers/grouped_selects', 'jquery.form' %>

  <script type="text/javascript">
    $(function(){
      campaign = new Campaign();
      $('#campaign-tabs').tabs();
      $('#campaign-tabs').show();
    });
  </script>
<% end %>

<% unless @campaign.new_record? %>
<div id="dial-info" class="sidebar-right">
  <h3>Info</h3>
  <div>
    <% if dials_summary.present? %>
      <%= dials_summary %>
    <% else %>
      <p>This will display once the campaign is saved.</p>
    <% end %>
  </div>
</div>
<% end %>

<div class="main-content">
  <%= render "shared/error_messages", :target => @campaign %>

  <div id="campaign-tabs" style="display: none;">
    <ul>
      <li><a href="#settings">Settings</a></li>
      <li><a href="#upload">Upload</a></li>
      <li><a href="#upload-history">Upload history</a></li>
    <% if @campaign.lists.disabled.count > 0 %>
      <li><a href="#disabled-lists">Disabled lists</a></li>
    <% end %>
    </ul>

    <div id="settings" style="display: none;">
      <%= render 'settings' %>
    </div>

    <div id="upload" style="display: none;">
      <% unless @campaign.new_record? %>
        <%= render 'upload_form' %>
      <% else %>
        <p>Lists can be uploaded once the campaign has been saved.</p>
      <% end %>
    </div>

    <div id="upload-history" style="display: none;">
      <% unless @campaign.new_record? or @campaign.voter_lists.count.zero? %>
        <%= render 'upload_history' %>
      <% else %>
        <p>A record of uploaded lists will display here.</p>
      <% end %>
    </div>

  <% if @campaign.lists.disabled.count > 0 %>
    <div id="disabled-lists" style="display: none;">
      <%= render 'disabled_lists' %>
    </div>
  <% end %>
  </div>
</div>
