<% if !@campaign.account.recordings.blank? %>
  <div id="sndPreview" style="vertical-align: middle;"></div>
  <%= content_for :javascripts do %>
    <script type="text/javascript">
      function updatePreview() {
        var path = '';
        var recording_id = $("#campaign_recording_id").val();
        <% @account.recordings.each do |recording| %>
          if( recording_id == <%= recording.id %> ) {
            path        = '<%= recording.file.url %>';
            name        = '<%= escape_javascript recording.name %>';
            contentType = '<%= recording.file.content_type %>';
          }
        <% end %>

        var fallbackMessage = '<p>Your browser does not support audio previews. ' +
                              'You can <a href="' + path + '">download ' + name + '</a> ' +
                              'to verify it was uploaded correctly.</p>';
        var audioPreview = '<p>Previewing <b>' + name + '</b></p>' +
                           '<audio controls>' +
                           '<source src="' + path + '">' +
                           fallbackMessage + 
                           '</audio>';
        // try/catch here is to allow fallback for IE9
        // IE8 fallback display requires changing selected recording to trigger updatePreview
        // which fails to run on page load to to error in voters_lists.js
        try {
          var audioTag = document.createElement('audio');

          if (!(!!(audioTag) && !!(audioTag.canPlayType) && ("no" != audioTag.canPlayType(contentType)) && ("maybe" != audioTag.canPlayType(contentType)) && ("" != audioTag.canPlayType(contentType)))) {
            console.log('updating audioPreview');
            audioPreview = fallbackMessage;
          } else {
            console.log('audioPreview failed: ', contentType, audioTag.canPlayType, audioTag.canPlayType(contentType), audioTag.canPlayType(contentType));
          }

        } catch (e) {
          console.log('Caught audio js error', e);
          audioPreview = fallbackMessage;
        }

        $('#sndPreview').html(audioPreview);
      }

      $(function() {
        updatePreview();
        $("#campaign_recording_id").change(updatePreview);
      });
    </script>
  <% end %>
<% end %>
