  <fieldset>
    <legend>Recorded message settings</legend>
    <p><strong>With machine detection on, callers will not hear the lead say "hello".</strong></p>
    <p><strong>With message dropping enabled, calls will ring for up to 30 seconds, rather than the default of 15 seconds.</strong></p>
    <ul>
      <li id="campaign_answering_machine_detect_container">
        <label for="campaign_answering_machine_detect" class="inline" style="margin-right: 8px;">
          <%= form.check_box :answering_machine_detect, {
            name: 'campaign[answering_machine_detect]',
            id: "campaign_answering_machine_detect"
          } %>
          Auto-detect whether human or machine answers a call
        </label>
      </li>
      <% if !@campaign.account.recordings.blank? %>
        <li id="campaign_use_recordings_container">
          <label for="campaign_use_recordings">
            When a machine is detected
          </label>
          <%= form.select :use_recordings, [["Hang-up", "false"],
              ["Drop message", "true"]], {}, {id: 'campaign_use_recordings',
              name: 'campaign[use_recordings]'} %>
        </li>
        <li id="campaign_caller_can_drop_message_manually_container">
          <label for="campaign_caller_can_drop_message_manually">
            <%= form.check_box :caller_can_drop_message_manually,
                {name: 'campaign[caller_can_drop_message_manually]',
                id: 'campaign_caller_can_drop_message_manually'} %>
            Callers can click to drop recorded message after a call is answered
          </label>
        </li>
        <li id="campaign_call_back_after_voicemail_delivery_container">
          <label for="campaign_call_back_after_voicemail_delivery">
            After a message is dropped
          </label>
          <%= form.select :call_back_after_voicemail_delivery,
              [["Do not call back", "false"], ["Call back", "true"]], {},
              {id: 'campaign_call_back_after_voicemail_delivery',
              name: 'campaign[call_back_after_voicemail_delivery]'} %>
        </li>
        <li id="campaign_recording_id_container">
          <div id="recordingsdiv">
            <p>
              <label for="campaign_recording_id">
                Message
              </label>
              <%= form.collection_select(:recording_id, @account.recordings.active,
                  :id, :name, {:prompt => false}, {:class=>"field",
                  name: 'campaign[recording_id]',
                  id: "campaign_recording_id"}) %>
            </p>
            <%= render partial: 'javascript' %>
          </div>
        </li>
      <% end %>
    </ul>
    <% if !@campaign.new_record? %>
      <p class="actions">
        <a href='/client/recording_add?campaign_id=<%= @campaign.id %>'
           class="action secondary">Add recording</a>
      </p>
    <% end %>
  </fieldset>

  <div class="buttons">
    <button type="submit">Save</button>
  </div>
