  <fieldset>
    <legend>General settings</legend>
    <%= form.hidden_field :id, {name: "campaign[id]", id: "campaign_id"} %>
    <p id="campaign_name_container">
      <%= form.label :name %>
      <%= form.text_field :name, name: "campaign[name]" %>
    </p>
    <p id="campaign_caller_id_container">
      <label for="campaign_caller_id">Caller ID</label>
      <%= form.text_field :caller_id, name: "campaign[caller_id]", id: 'campaign_caller_id' %>
    </p>
    <p id="campaign_script_container">
      <%= form.label :script, for: 'campaign_script' %>
      <%= form.collection_select(:script_id, @scripts, :id, :name, {prompt: true}, name: "campaign[script_id]",
      id: "campaign_script") %>
    </p>
    <% if ENV['CELL_COMPLIANCE_MODE'] %>
      <%= form.hidden_field :type, name: "campaign[type]", value: 'Preview' %>
    <% else %>
      <p id="campaign_dial_mode_container">
        <%= form.label :dialing_mode, for: 'campaign_type' %>
        <select class="field" id="campaign_type" name="campaign[type]">
          <%= options_for_select_campaign_type(@campaign) %>
        </select>
      </p>
      <div id="abandon_rate_edit" style="display: none">
        <p>
          <label for="campaign_acceptable_abandon_rate">Compliance abandonment rate</label>
          <select class="field" id="campaign_acceptable_abandon_rate" name="campaign[acceptable_abandon_rate]">
            <% if @campaign.account.variable_abandonment? %>
              <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03], ["4%", 0.04], ["5%", 0.05],
                                      ["6%", 0.06], ["7%", 0.07], ["8%", 0.08], ["9%", 0.09],["10%", 0.1]],
                                     @campaign.acceptable_abandon_rate %>
            <% else %>
              <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03]], @campaign.acceptable_abandon_rate %>
            <% end %>
          </select>
        </p>
      </div>
    <% end %>

    <p id="campaign_time_zone_container">
      <label for="campaign_time_zone">Time zone</label>
      <%= time_zone_select("campaign", 'time_zone', ActiveSupport::TimeZone.us_zones, :default => @campaign.time_zone) %>
    </p>

    <p id="campaign_dialing_hours_container">
      <label for="">Dialing hours</label>
      <select class="field" id="campaign_start_time" name="campaign[start_time]">
        <%= options_for_select hours, @campaign.start_time.try(:hour) %>
      </select>
      to
      <select class="field" id="campaign_end_time" name="campaign[end_time]">
        <%= options_for_select hours, @campaign.end_time.try(:hour) %>
      </select>
    </p>

    <p id="campaign_recycle_rate_container">
      <label for="campaign_recycle_rate">Hours between redials</label>
      <input id="campaign_recycle_rate" type="text" name="campaign[recycle_rate]" value="<%= @campaign.recycle_rate %>">
    </p>
  </fieldset>

  <div class="buttons">
    <button type="submit">Save</button>
  </div>
