<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $('#campaign-tabs').tabs();
    });
  </script>
<% end %>

<div id="campaign-tabs">
  <ul>
    <li><a href="#dial-info">Dial info</a></li>
    <li><a href="#settings">Settings</a></li>
    <li><a href="#upload">Upload</a></li>
    <li><a href="#upload-history">Upload history</a></li>
  </ul>

  <div id="dial-info" style="display: none;">
    <h4>Dial info</h4>
    <% if dials_summary.present? %>
      <%= dials_summary %>
    <% else %>
      <p>This will display once the campaign is saved.</p>
    <% end %>
  </div>

  <div id="settings" style="display: none;">
    <h4>Settings</h4>
    <%= render 'tabbed_form' %>
  </div>

  <div id="upload" style="display: none;">
    <%= render 'tabbed_upload_form' %>
  </div>

  <div id="upload-history" style="display: none;">
    <%= render 'upload_history' %>
  </div>
</div>
