<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $('#campaign-tabs').tabs();
      $('#campaign-tabs').show();
    });
  </script>
<% end %>

<div id="dial-info" class="sidebar-right">
  <h3>Info</h3>
  <div>
    <% if dials_summary.present? %>
      <%= dials_summary %>
    <% else %>
      <p>This will display once the campaign is saved.</p>
    <% end %>
  </div>
</div>

<div class="main-content">
  <div id="campaign-tabs" style="display: none;">
    <ul>
      <li><a href="#settings">Settings</a></li>
      <li><a href="#upload">Upload</a></li>
      <li><a href="#upload-history">Upload history</a></li>
    </ul>

    <div id="settings" style="display: none;">
      <h4>Settings</h4>
      <%= render 'tabbed_form' %>
    </div>

    <div id="upload" style="display: none;">
      <%= render 'tabbed_upload_form' %>
    </div>

    <div id="upload-history" style="display: none;">
      <%= render 'upload_history' %>
    </div>
  </div>
</div>
