<p>
  All times display in <%= @campaign.time_zone %>.
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Activity</th>
    <th>Date</th>
  </tr>
  <% @campaign.list_activities.each do |list| %>
    <% next if list.new_record? %>
    <tr title="List contained
<%= list.stats[:total_numbers] %> valid Households
<%= list.stats[:total_leads] %> valid Leads
<% if list.stats[:pre_existing_numbers] > 0 -%>
<%= list.stats[:pre_existing_numbers] %> Households had leads added<%= ' or updated' if @campaign.using_custom_ids? %> 
<% end -%>
<%- if @campaign.using_custom_ids? -%>
<%= list.stats[:updated_leads] %> Leads were updated
<% end -%>">
      <td valign="top" class="tight">
        <%= list.name %>
      </td>
      <td valign="top" class="tight">
        <% if list.purpose == 'import' %>
          Added <%= pluralize(list.stats[:new_numbers], 'household') %>
          and <%= pluralize(list.stats[:new_leads], 'lead') %>
        <% elsif list.purpose == 'prune_numbers' %>
          Removed <%= pluralize(list.stats[:removed_numbers], 'household') %>
        <% elsif list.purpose == 'prune_leads' %>
          Removed <%= pluralize(list.stats[:removed_numbers], 'household') %> and <%= pluralize(list.stats[:removed_leads], 'leads') %>
        <% end %>
      </td>
      <td valign="top">
        <%= list.created_at.in_time_zone(@campaign.time_zone).strftime('%b %e, %Y at %l:%M%P') %>
      </td>
    </tr>
  <% end %>
</table>
