<fieldset>
  <legend>Lists</legend>
  <% if @campaign.new_record? %>
    <p>After saving this campaign, you can open it again to add lists.</p>
  <% elsif @campaign.voter_lists.length == 1 %>
    <p>You haven't uploaded any lists yet.</p>
  <% else %>
      <table>
        <tr>
          <th>Name</th>
          <th>Phone #s</th>
          <th>Remaining</th>
        </tr>
        <% i = 0 %>
        <% @campaign.voter_lists.each do |list| %>
          <% unless list.new_record? %>
            <tr>
              <td valign="top">

                <%= f.fields_for :voter_lists, list do |list_fields| %>
                  <%= list_fields.hidden_field :id, {name: "campaign[voter_lists_attributes][#{i}][id]"} %>
                  <%= list_fields.check_box :enabled, {name: "campaign[voter_lists_attributes][#{i}][enabled]"} %> <%= list.name %></td>
                <% end %>
              <% i= i+1 %>
              </td>
              <td valign="top"><%= list.voters.size %></td>
              <td valign="top"><%= Voter.remaining_voters_count_for('voter_list_id', list.id) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
  <% end %>
</fieldset>