<fieldset>
  <legend>Lists</legend>
  <% if @campaign.voter_lists.length == 1 %>
      <p>You haven't uploaded any lists yet.</p>
  <% else %>
      <table>
        <tr>
          <th>Name</th>
          <th>Phone #s</th>
          <th>Remaining</th>
        </tr>
        <% @campaign.voter_lists.each do |list| %>
          <% unless list.new_record? %>
            <tr>
              <td valign="top">
                <%= f.fields_for :voter_lists, list do |list_fields| %>
                  <%= list_fields.check_box :enabled %> <%= list.name %></td>
                <% end %>
              </td>
              <td valign="top"><%= list.voters.size %></td>
              <td valign="top"><%= Voter.remaining_voters_count_for('voter_list_id', list.id) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
  <% end %>
</fieldset>