<% content_for :callers_data do %>
  data-intro="After you create a campaign, set up your callers." data-step="5"
<% end %>
<!-- abstracting the object out (campaigns), i can create a method to share the conditional logic between this and callers -->

<h1>Campaigns</h1>

<%= missing_data_text(@campaigns, @account.scripts.active, { collection_type: 'campaign', dependency_type: 'script'}) do %>
  <table data-intro="This is a list of all the campaigns you have created." data-step="2">
    <tr>
      <th>Name</th>
      <th>Callers assigned</th>
      <th>Date added</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @campaigns.each do |c| %>
      <tr>
        <td>
          <%= '<b>'.html_safe if @caller_counts[c.id] %>
          <%= link_to c.name, edit_client_campaign_path(c) %>
          <%= '</b>'.html_safe if @caller_counts[c.id] %>
        </td>
        <td>
          <%= '<b>'.html_safe if @caller_counts[c.id] %>
          <%= @caller_counts[c.id] || 0 %>
          <%= '</b>'.html_safe if @caller_counts[c.id] %>
        </td>
        <td>
          <%= '<b>'.html_safe if @caller_counts[c.id] %>
          <%= c.created_at.strftime("%m/%d/%Y") %>
          <%= '</b>'.html_safe if @caller_counts[c.id] %>
        </td>
        <td><%= link_to '',
                client_campaign_path(c),
                :data => {
                  :confirm => 'Are you sure you want to archive this campaign?'
                },
                :method => :delete,
                :class => "ico del" %></td>
      </tr>
    <% end %>
  </table>
  <p><%= page_entries_info @campaigns, model: 'campaign' %> <%= will_paginate @campaigns %></p>
<% end %>

<p class="actions"><%= link_to 'Add new campaign',
                               new_client_campaign_path,
                               :class => 'action primary',
                               :data => {"intro" => "Click here to create a new campaign.",
                                         "step" => "1"} %></p>
<p class="actions"><%= link_to 'View archived campaigns',
                               client_archived_campaigns_path,
                               :class => 'action secondary',
                               :data => {"intro" => "Click here to view and restore your archived campaigns.",
                                         "step" => "3"} %></p>
<p class="actions"><%= link_to 'Manage Do Not Call list',
                               blocked_numbers_path,
                               :class => 'action secondary',
                               :data => {"intro" => "Click here to manage your Do Not Call list.",
                                         "step" => "4"} %></p>
