<% content_for :javascripts do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" %>
<% end %>

<h1>Campaigns</h1>
<% if @campaigns.length==0 %>
  <div class="form">
    <label>No campaigns entered.</label>
  </div>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Date added</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @campaigns.each do |c| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><strong><%= link_to c.name, edit_client_campaign_path(c) %></strong></td>
        <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
        <td>
          <%= form_tag client_campaign_path(c), :method => 'delete', :id => "campaign_delete_form_#{c.id}" do %>
            <%= link_to 'Delete', 'javascript:void(0)', :class => 'ico del', :onclick => "delete_entity('#campaign_delete_form_#{c.id}')" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <p><%= page_entries_info @campaigns %> <%= will_paginate @campaigns %></p>
<% end %>

<p class="actions">
    <%= link_to 'Add new campaign', new_client_campaign_path, :class => 'action primary' %>
</p>
<p class="actions"><%= link_to 'View deleted campaigns', client_deleted_campaigns_path, :class => 'action secondary' %></p>
