<% content_for :callers_data do %>
  data-intro="After you create a campaign, set up your callers." data-step="5"
<% end %>

<h1>Campaigns</h1>

<%= missing_data_text(@campaigns.count, @account.scripts.active.count, { collection_type: 'campaign', dependency_type: 'script'}) do %>
  <table data-intro="This is a list of all the campaigns you have created." data-step="2">
    <tr>
      <th>Name</th>
      <th>Callers assigned</th>
      <th>Date added</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @campaigns.each do |c| %>
      <tr>
        <td>
          <%= '<b>'.html_safe if @caller_counts[c.id] %>
          <%= link_to c.name, edit_client_campaign_path(c) %>
          <%= '</b>'.html_safe if @caller_counts[c.id] %>
        </td>
        <td>
          <%= '<b>'.html_safe if @caller_counts[c.id] %>
          <%= @caller_counts[c.id] || 0 %>
          <%= '</b>'.html_safe if @caller_counts[c.id] %>
        </td>
        <td>
          <%= '<b>'.html_safe if @caller_counts[c.id] %>
          <%= c.created_at.strftime("%m/%d/%Y") %>
          <%= '</b>'.html_safe if @caller_counts[c.id] %>
        </td>
        <td><%= link_to '',
                client_campaign_path(c),
                :data => {
                  :confirm => 'Archived campaigns cannot be called again (reports will remain available). Go ahead and archive?'
                },
                :method => :delete,
                :class => "ico del" %></td>
      </tr>
    <% end %>
  </table>
  <p><%= page_entries_info @campaigns, model: 'campaign' %> <%= will_paginate @campaigns %></p>
<% end %>

<nav role="navigation" class="actions clearfix">
  <ul class="clearfix">
    <li>
      <%= link_to('Add new campaign', new_client_campaign_path, {
            :class => 'action primary',
            :data => {
              "intro" => "Click here to create a new campaign.",
              "step" => "1"
            }
      }) %>
    </li>
    <li>
      <%= link_to('View archived campaigns', client_archived_campaigns_path, {
            :class => 'action secondary',
            :data => {
              "intro" => "Click here to view and restore your archived campaigns.",
              "step" => "3"
            }
      }) %>
    </li>
  </ul>
  <ul class="clearfix">
    <li>
      <%= link_to('Manage Do Not Call list', blocked_numbers_path, {
            :class => 'action secondary',
            :data => {
              "intro" => "Click here to manage your Do Not Call list.",
              "step" => "4"
            }
      }) %>
    </li>
  </ul>
</nav>
