<h1>New campaign</h1>
<%= javascript_include_tag "campaign/auto_save" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" %>
<div id="callerid"></div>

<%= form_for @campaign, url: "#{client_campaigns_path}/#{@campaign.id}", :html => {:name => 'callerForm', :id => 'callerForm'} do |f| %>
    <div id="validationError">
      <%= render "shared/error_messages", :target => @campaign %>
    </div>
    <fieldset>
      <%= hidden_field_tag :id, @campaign.id, {:class=>"field"} %>
      <legend>Campaign options</legend>
      <fieldset>
        <legend>Basic settings</legend>
        <p><label for="">Name</label><br>
          <%= f.text_field :name, {:class=>"field size3"} %></p>

        <p><label for="">Caller ID</label><br>
          <%= f.text_field :caller_id, {:class=>"field size3"} %></p>
        <p><label for="">Script</label><br>
          <%= f.collection_select(:script_id, @scripts, :id, :name, {:prompt => true}, {:class=>"field"}) %>
        </p>

        <p><label for="">Dialing mode</label>
          <select class="field" id="campaign_predictive_type" name="campaign[predictive_type]" onchange="dialingModeOnChange()">
            <% public_dialers = [["Predictive", "algorithm1"], ["Power", "progressive"], ["Preview", "preview"],] %>
            <%= options_for_select public_dialers, ["Power", "progressive"] %>
          </select>
          </p>
				<div id="abandon_rate" style="display: none">
        	<p><label>Abandonment rate</label>
	           <select class="field" id="campaign_abandon_rate" name="campaign[acceptable_abandon_rate]">
	            <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03]], 0.03 %>
	          </select>
	        </p>
				</div>
        <p id="abandon_rate" style="display: none;"><label>Abandonment rate</label>
           <select class="field" id="campaign_abandon_rate" name="campaign[acceptable_abandon_rate]">
            <%= options_for_select [["1%", 0.01], ["2%", 0.02], ["3%", 0.03]], 0.03 %>
          </select>
         </p>
        <p><label for="">Time zone</label>
          <%= time_zone_select("campaign", 'time_zone', ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %>
        </p>

        <p><label for="">Dialing hours</label>
          <select class="field" id="campaign_start_time" name="campaign[start_time]">
            <option value="8" selected>8 AM</option>
            <%= options_for_select hours %>
          </select>
          to
          <select class="field" id="campaign_end_time" name="campaign[end_time]">
            <option value="21" selected>9 PM</option>
            <%= options_for_select hours %>
          </select>
        </p>
        <%= render :partial => 'shared/recycle_rate', :locals => {:recycle_hour => @campaign.recycle_rate} %>
        <p><%= f.check_box :answering_machine_detect %>&nbsp;Automatically detect
          voicemails</p>
        <% if !@campaign.account.recordings.blank? %>
            <p><%= f.check_box :use_recordings, :onclick=>"doRecord();" %>&nbsp;Leave voicemail message</p>

            <div id="recordingsdiv"
                 <% if  !@campaign.use_recordings? %> style="display:none;"
                 <% end %>>
              <p>Recording:</p>
              <%= f.collection_select(:recording_id, @account.recordings.active, :id, :name, {:prompt => false}, {:class=>"field", :onchange=>"updatePreview();"}) %>
              <div id="sndPreview"></div>
            </div>
        <% end %>

        <p class="actions">
          <a href='/client/recording_add?campaign_id=<%= @campaign.id %>' class="action secondary">Add voicemail
            message</a>
        </p>
      </fieldset>
      
      <fieldset>
        <legend>Lists</legend>
        <% if @lists.length==0 %>
            <p>You haven't uploaded any lists yet.</p>
        <% else %>
            <table>
		              <tr>
		                <th>Name</th>
		                <th>Phone #s</th>
		                <th>Remaining</th>
		              </tr>
		              <% @lists.each do |l| %>
		                  <tr>
		                    <td valign="top"><%= check_box_tag "voter_list_ids[]", "#{l.id}", l.enabled -%> <%= l.name %></td>
		                    <td valign="top"><%= l.voters.size %></td>
		                    <td valign="top"><%= Voter.find_all_by_voter_list_id_and_active(l.id, 1, :conditions=>"status= 'Not Called' or call_back=1").size %></td>
		                  </tr>
		              <% end %>
			</table>
        <% end %>
      </fieldset>
      <div class="buttons">
        <button type="submit">Save</button>
      </div>
    </fieldset>
<% end %>
<fieldset>
  <legend>Add list</legend>
  <%= render :partial => "voter_lists/new", :locals => {:path => campaign_client_voter_lists_path(@campaign)} %>
</fieldset>

<script>
    function dialingModeOnChange(){
        var dialMode = $('#campaign_predictive_type').val();
        if(dialMode == "algorithm1"){
            $('#abandon_rate').show();
            $('#campaign_abandon_rate').val(0.03);
        }else{
            $('#abandon_rate').hide();
        }
    }

    $(function () {
      $('#callers input[type="checkbox"]').attr('checked', true);
      $('#selectAll').click(function () {
       $('#callers').find(':checkbox').attr('checked', true);
      });


      $('#callers input[name^= "campaign[caller_ids]"]').change(function(){
        if ($('#callers input[name^= "campaign[caller_ids]"]:checked').length == <%= @callers.length %> ){
          $('#selectAll').attr('checked', true)
        }
        if ($('#callers input[name^= "campaign[caller_ids]"]:checked').length < <%= @callers.length %> ){
          $('#selectAll').attr('checked', false)
        }
      });
			
			$('#campaign_answering_machine_detect').click(function () {
				if($('#campaign_answering_machine_detect').attr('checked')== false){

					if($("#campaign_use_recordings").attr('checked') == true){
						$("#recordingsdiv").toggle($("#campaign_use_recordings").checked);
						$("#campaign_use_recordings").attr('checked', false);
					}
				}
			});
			     
    });

    function doRecord() {
        if ($("#campaign_use_recordings").attr('checked') == true) {
            $('#campaign_answering_machine_detect').attr('checked', true);
        }
        $("#recordingsdiv").toggle($("#campaign_use_recordings").checked);
    }
    <% if !@campaign.account.recordings.blank? %>
    function updatePreview() {
        recording_id = $("#campaign_recording_id").val();
    <%@account.recordings.each do |recording| %>
        if (recording_id ==<%= recording.id %>) {
            path = '<%= recording.file.url %>';
            name = '<%= escape_javascript recording.name %>';
        }
    <% end %>

        var o = 'Preview: ' + name + '<br/>';

        if (path.indexOf('mp3') > -1)
            o = o + '<object type="application/x-shockwave-flash" width="200" height="14" data="/xspf_player_slim.swf?player_title=' + name + '&song_title=' + name + '&song_url=' + escape(path) + '"><param name="movie" value="/xspf_player_slim.swf?player_title=' + name + '&song_title=' + name + '&song_url=' + escape(path) + '" /></object>';
        else
            o = o + '<EMBED SRC="' + path + '" WIDTH="240" HEIGHT = "25" AUTOPLAY="false" CONTROLLER="true" LOOP="false" PLUGINSPAGE="http://www.apple.com/quicktime/">';
        $('sndPreview').innerHTML = o;
    }
    <% end %>
    updatePreview();
</script>
