<h2>Campaigns</h2>
<div class="table">
  <table id="campaign_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="">
      <th>Name</th>
      <th>Callers logged in</th>
      <th>On Call</th>
      <th>Wrap up</th>      
      <th>On hold</th>            
      <th>Live lines</th>
      <th>Ringing lines</th>      
      <th>Numbers remaining</th>
      <th>Numbers Available</th>
    </tr>
    
    <% if @campaigns.present? %>
      <% @campaigns.each do |c| %>
        <tr id="<%= "campaign_"+c.id.to_s %>" class="campaign <%= cycle("odd", "even") %>">
          <td><%= c.name %></td>
          <td class="callers_logged_in"><%= c.caller_sessions.on_call.length %></td>
          <td class="live_lines"></td>       
          <td class="ringing_lines"></td>              
          <td class="voters_count"><%= Voter.remaining_voters_count_for("campaign_id", c.id) %></td>
          <td class="dials_in_progress"><%= c.call_attempts.not_wrapped_up.try(:size) %></td>
          <td class="voters_count"><%= Voter.remaining_voters_count_for("campaign_id", c.id) %></td>
          <td class="num_voters_available"></td>          
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
