<h2>Campaigns</h2>
<div class="table">
  <table id="campaign_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="">
      <th>Name</th>
      <th>Callers logged in</th>
      <th>On Call</th>
      <th>Wrap up</th>      
      <th>On hold</th>            
      <th>Live lines</th>
      <th>Ringing lines</th>      
      <th>Numbers remaining</th>
      <th>Numbers Available</th>
    </tr>
    
    <tr id="<%= "campaign_"+ @campaign.id.to_s %>" class="campaign <%= cycle("odd", "even") %>">
      <td><%= ModeratorCampaign.name(@campaign.id) %></td>
      <td class="callers_logged_in"><%= ModeratorCampaign.callers_logged_in(@campaign.id) %></td>
      <td class="on_call"><%= ModeratorCampaign.on_call(@campaign.id) %></td>       
      <td class="wrap_up"><%= ModeratorCampaign.wrapup(@campaign.id) %></td>       
      <td class="on_hold"><%= ModeratorCampaign.on_hold(@campaign.id) %></td>                 
      <td class="live_lines"><%= ModeratorCampaign.live_lines(@campaign.id) %></td>       
      <td class="ringing_lines"><%= ModeratorCampaign.ringing_lines(@campaign.id) %></td>              
      <td class="numbers_remaining"><%= ModeratorCampaign.available(@campaign.id) %></td>
      <td class="numbers_available"><%= ModeratorCampaign.remaining(@campaign.id) %></td>
    </tr>
  </table>
</div>
