<h2>Campaigns</h2>
<div class="table">
  <table id="campaign_table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="">
      <th>Name</th>
      <th>Callers logged in</th>
      <th>On Call</th>
      <th>Wrap up</th>      
      <th>On hold</th>            
      <th>Live lines</th>
      <th>Ringing lines</th>      
      <th>Numbers remaining</th>
      <th>Numbers Available</th>
    </tr>
    
    <% unless @campaigns_information.empty? %>
      <% @campaigns_information.each do |information| %>
        <tr id="<%= "campaign_"+information[:id].to_s %>" class="campaign <%= cycle("odd", "even") %>">
          <td><%= information[:name] %></td>
          <td class="callers_logged_in"><%= information[:logged_in] %></td>
          <td class="on_call"><%= information[:on_call] %></td>       
          <td class="wrap_up"><%= information[:wrap_up] %></td>       
          <td class="on_hold"><%= information[:on_hold] %></td>                 
          <td class="live_lines"><%= information[:live_lines] %></td>       
          <td class="ringing_lines"><%= information[:ringing_lines] %></td>              
          <td class="numbers_remaining"><%= information[:numbers_remaining] %></td>
          <td class="numbers_available"><%= information[:numbers_available] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
