<%= link_to "Campaigns", campaigns_monitors_url, :class=>'client-include' , :style => "display:none"%>
<h2>Campaigns</h2>
    <div class="table">
      <table id="campaign_table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="table_header">
          <th>Name</th>
          <th>Callers logged in</th>
          <th>Dials in progress</th>
          <th>Numbers remaining</th>
        </tr>
        <% if @campaigns.present? %>
          <% @campaigns.each do |c| %>
              <tr id="<%= "campaign_"+c.id.to_s %>" class="campaign <%= cycle("odd", "even") %>">
                <td><%= c.name %></td>
                <td class="callers_logged_in"><%= c.caller_sessions.on_call.size %></td>
                <td class="dials_in_progress"><%= c.call_attempts.not_wrapped_up.try(:size) %></td>
                <td class="voters_count"><%= Voter.remaining_voters_for_campaign(c).count %></td>
              </tr>
          <% end %>
        <% end %>
      </table>
    </div>

