<script type="text/javascript" src="https://static.twilio.com/libs/twiliojs/1.0/twilio.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script src="https://d3ds63zw57jt09.cloudfront.net/1.9/pusher.min.js" type="text/javascript" ></script>
<%= javascript_include_tag 'monitors/monitor_pusher' %>

  <script type="text/javascript">
      var pusher = new Pusher('<%= Pusher.key %>');
  </script>

<script type="text/javascript">

  Twilio.Device.setup("<%= @token %>", {'debug':true});

  Twilio.Device.connect(function (conn) {
    console.log("Successfully established call");
  });
  Twilio.Device.ready(function (device) {})
  Twilio.Device.error(function (error) {
    alert(error.message);
  });

  function monitor(session_id, action, status) {
    params = {'session_id': session_id, 'type': action, monitor_session : $('monitor_session').text()};
    $('status').text(status)
    Twilio.Device.connect(params)
  }
  function stop_monitoring(){
    $('status').text("You are monitoring nothing")
    Twilio.Device.disconnectAll();
  }

  function switch_mode(session, mode){
    $.ajax({
        url : "/client/monitors/switch_mode",
        data : {session_id : session,type : mode},
        type : "GET",
        success : function(response) {
          $('status').text(response)
          }
    })
  }

  $(function() {
    $('.monitor').click(function(){

      if($(this).parent().parent().attr("on_call")){
        switch_mode($(this).attr("session_id"), $(this).attr("action"));
      }
      else{
        $.each($(this).parent().parent().siblings(), function(){
          if($(this).attr("on_call")){
            stop_monitoring();
            $(this).removeAttr("on_call");
          }
        });

        status = "Your currently "+$(this).attr("action") + " on "+$(this).parent().prevAll('td.caller_name').text();
        monitor($(this).attr("session_id"), $(this).attr("action"), status);
        $(this).parent().parent().attr("on_call","true")
      }
    })

  });

</script>
<style type = "text/css">
input.monitor,.stop_monitor{
  background-image: -moz-linear-gradient(center top , #456587, #2B4863);
  -moz-transition: opacity 0.15s linear 0s;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9), 0 1px 2px #5179A2 inset, 0 -2px 2px #446485 inset;*/
  border-radius: 24px 24px 24px 24px;
  background-color: #456587;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 400;
  text-shadow: 0 -1px 1px #000000;
  padding: 6px 24px 7px;
  font-size: 0.875em;
}
</style>

<h1>Monitor</h1>
<monitor_session><%= @user.id %></monitor_session>
<div class="box">
  <%= render :partial => 'shared/boxtop', :locals=>{:title=>"Active campaigns"} %>
  <% if @campaigns.empty? %>
      <div class="form">
        <label>No campaigns active.</label>
      </div>
  <% else %>
      <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Name</th>
            <th>Callers logged in</th>
            <th>Numbers remaining</th>
          </tr>
          <% @campaigns.each do |c| %>
              <tr class="<%= cycle("odd", "even") %>">
                <td><h3><%= link_to c.name, campaign_path(c) %></h3></td>
                <td><%= c.caller_sessions.on_call.length %></td>
                <td><%= c.voters_count("not called", false).length %></td>
              </tr>
          <% end %>
        </table>
      </div>
  <% end %>
</div>

<% if @campaigns.length > 0 %>
    <div class="box">
      <%= render :partial => 'shared/boxtop', :locals=>{:title=>"Active callers"} %>
      <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Caller</th>
            <th>Campaign</th>
            <th></th>
            <th></th>
          </tr>
          <% @campaigns.each do |c| %>
              <% c.caller_sessions.on_call.each do |session| %>
                  <tr class="<%= cycle("odd", "even") %> ">
                    <td class="caller_name"><%= session.caller.name %></td>
                    <td><%= session.campaign.name %></td>
                    <% if session.voter_in_progress!=nil %>
                        <% voter = Voter.find(session.voter_in_progress) %>
                        <td>
                          <input type="button" value="Eavesdrop" class="monitor" action="eavesdrop" session_id="<%= session.id %>" >
                        </td>
                        <td>
                          <input type="button" value="Break in" class="monitor" action="breakin" session_id="<%= session.id %>" >
                        </td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
        </table>
        <input type="button" value="Stop monitoring" class="stop_monitor" onclick="javascript:stop_monitoring();">
        <status style="float : right;"></status>
      </div>
    </div>
<% end %>
