<% content_for :javascripts do %>
<script type="text/javascript" src="https://static.twilio.com/libs/twiliojs/1.0/twilio.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script src="https://d3dy5gmtp8yhk7.cloudfront.net/1.11/pusher.min.js" type="text/javascript" ></script>
<%= javascript_include_tag %>
<%= javascript_include_tag 'monitors/jquery.stopwatch', 'monitors/monitor_pusher', 'monitors/assign_caller_to_campaign','ICanHaz.min.js' %>


  <script type="text/javascript">
      var pusher = new Pusher('<%= Pusher.key %>');      
      var monitors = new Monitors()
      monitors.setup_twilio("<%= @token %>")
      $(window).bind("beforeunload", function(){
         monitors.de_activate_monitor($('monitor_session').text());
      });
      
  </script>

<script type="text/javascript">
  $(function() {
		$('.stop').live('click', function(){
			stop($(this).attr("session_id"))
		});

    $('.monitor').live('click', function(){
			var session_id = $(this).attr("session_id");
			var action = $(this).attr("action");
			if (action == 'kickoff'){
			  kick_off(session_id);
			  return;
			}

      if($(this).parent().parent().attr("on_call") == "true"){
        switch_mode(session_id, action);
				$(this).parent().parent().attr("mode", action)
      }
      else{
				var no_monitoring = true;
        $.each($(this).parent().parent().siblings(), function(){
          if($(this).attr("on_call") == "true"){
						switch_caller($(this).children().children().attr("session_id"), session_id, action, status);
						no_monitoring = false;
            $(this).removeAttr("on_call");
            $(this).removeAttr("mode");
          }
        });
				$(this).parent().parent().attr("on_call","true");
				$(this).parent().parent().attr("mode", $(this).attr("action"))
				if(no_monitoring){
        	monitor(session_id, action);
				}
      }
      return false;
    })

  });

</script>

<script id="caller" type="text/html">
  <tr id="caller_{{session_id}}" class="caller <%= cycle("odd", "even") %> " session_id={{session_id}} caller_id={{id}}>
      <td class="caller_name">{{email}}</td>
      <td class="campaigns"></td>
			<td class="status">On hold</td>
			<td>
				<div class="timer">
					<div class="display"><span class="hr">00</span>:<span class="min">00</span>:<span class="sec">00</span></div>
				<div>
			</td>
      <td>
        <a class ="action secondary monitor" href="#" action="eavesdrop" session_id={{session_id}}>Eavesdrop</a>
      </td>
      <td>
        <a class ="action secondary monitor" href="#" action="breakin" session_id={{session_id}}>Break in</a>
      </td>
      <td>
        <a class ="action secondary monitor" href="#" action="kickoff" session_id={{session_id}}>Kick off</a>
      </td>
      
  </tr>
</script>
<script id="campaign" type="text/html">
  {{#campaign_fields}}
    <tr id="campaign_{{id}}" class="campaign <%= cycle("odd", "even") %>" campaign_id={{id}}>
       <td>{{campaign_name}}</td>
       <td class="callers_logged_in">{{callers_logged_in}}</td>
       <td class="live_lines">{{live_lines}}</td>       
       <td class="ringing_lines">{{ringing_lines}}</td>              
       <td class="voters_count">{{voters_remaining}}</td>
       <td class="num_voters_available">{{num_voters_available}}</td>
    </tr>
  {{/campaign_fields}}

</script>

<% end %>
<h1>Monitor</h1>
<monitor_session style="display:none"></monitor_session>

<%= render :partial => 'campaigns' %>
<br>


<br>

<h2>System-wide settings</h2>
<p>Call recording is currently <%= @account.record_calls? ? "on" : "off" %>. Links to recordings will appear in each campaign's Download report.</p>
<p class="actions"><%= link_to "Turn call recording #{@account.record_calls? ? "off" : "on" }", {:action=>"toggle_call_recording"}, {:class => 'action secondary'}, %></p>
<p class="actions"><%= link_to "Manage Do Not Call list", blocked_numbers_path, :class => 'action secondary' %></p>
