<table>
  <tr>
    <th>Campaign reports</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Downloaded reports</th>
  </tr>
  <% @campaigns.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= link_to "Dials", dials_client_reports_path(:campaign_id => c.id) %></td>
        <td><%= link_to "Answered", answer_client_reports_path(:campaign_id => c.id) %></td>
        <td><%= link_to "Usage", usage_client_reports_path(:campaign_id => c.id) %></td>
        <td><%= link_to "Download", download_report_client_campaign_reports_path(c) %><br/></td>
        <td><%= link_to "[#{@download_report_count[c.id.to_s] || 0 }]", downloaded_reports_client_campaign_reports_path(c) %></td>
      </tr>
  <% end %>
</table>
