<table>
  <tr>
    <th>Campaign reports</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Downloaded reports</th>
  </tr>
  <% @campaigns.each_with_index do |c, index| %>
      <tr>
        <td><%= c.name %></td>
        <td <% if index == 0 %>
              data-intro="The Dials report gives stats on all of the dials that you've made." data-step="1"
            <% end %>
            ><%= link_to "Dials", dials_client_reports_path(:campaign_id => c.id) %></td>
        <td <% if index == 0 %>
              data-intro="The Answered report tells you the number and percentage of leads who responded to each question in the campaign's script." data-step="2"
            <% end %>
            ><%= link_to "Answered", answer_client_reports_path(:campaign_id => c.id) %></td>
        <td <% if index == 0 %>
              data-intro="The Usage report gives stats on how much time your callers have spent making calls, and how they used that time." data-step="3"
            <% end %>
            ><%= link_to "Usage", usage_client_reports_path(:campaign_id => c.id) %></td>
        <td <% if index == 0 %>
              data-intro="The Download report lets you export your data to a CSV file." data-step="4"
            <% end %>
            ><%= link_to "Download", download_report_client_campaign_reports_path(c) %><br/></td>
        <td <% if index == 0 %>
              data-intro="This column tells you how many reports have been downloaded for each campaign in the last 24 hours, and lets you re-download the reports from the web interface." data-step="5"
            <% end %>
            ><%= link_to "[#{@download_report_count[c.id.to_s] || 0 }]", downloaded_reports_client_campaign_reports_path(c) %></td>
      </tr>
  <% end %>
</table>
