<table>
  <tr>
    <th colspan="6">Campaign reports</th>
    <th>Ready for download</th>
  </tr>
  <% @campaigns.each_with_index do |c, index| %>
      <tr>
        <td><%= c.name %></td>
        <td <% if index == 0 %>
              data-intro="Provides an overview of the current state of a campaign and breaks down the number of dials by outcome (answered, hung-up, etc)." data-step="1"
            <% end %>
            ><%= link_to "Dials", dials_client_reports_path(:campaign_id => c.id) %></td>
        <td <% if index == 0 %>
              data-intro="Provides a detailed view of conversation outcomes (how many responded and in what way)." data-step="2"
            <% end %>
            ><%= link_to "Answers", answer_client_reports_path(:campaign_id => c.id) %></td>
        <td <% if index == 0 %>
              data-intro="Provides general performance stats (dials per hour, etc)." data-step="3"
            <% end %>
            ><%= link_to "Stats", stats_client_campaign_path(c.id) %></td>
        <td <% if index == 0 %>
              data-intro="Provides billable and total minutes used." data-step="4"
            <% end %>
            ><%= link_to "Usage", usage_client_reports_path(:campaign_id => c.id) %></td>
        <td <% if index == 0 %>
              data-intro="Export your data to a CSV file (exports are automatically purged 24 hours from click)." data-step="5"
            <% end %>
            ><%= link_to "Download", download_report_client_campaign_reports_path(c) %><br/></td>
        <td <% if index == 0 %>
              data-intro="The number of exported CSV files available for download." data-step="6"
            <% end %>
            ><%= link_to "[#{@download_report_count[c.id.to_s] || 0 }]", downloaded_reports_client_campaign_reports_path(c) %></td>
      </tr>
  <% end %>
</table>
