<% if @account.campaigns.length==0 %>
    <p>You haven't created any campaigns yet.</p>
<% else %>
    <table>
      <tr>
        <th>Campaign</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @campaigns.each do |c| %>
          <tr>
            <td><%= c.name %></td>
            <td><a href="<%= dials_client_reports_path(:campaign_id => c.id) %>">Dials</a></td>
            <td><a method="post" href="/client/reports/answer?campaign_id=<%= c.id %>">Answered</a><br/></td>
            <td><a href="<%= usage_client_reports_path(:id => c.id) %>">Usage</a><br/></td>
            <td><%= link_to "Download", download_report_client_campaign_reports_path(c) %>
            <%= link_to "[#{c.downloaded_reports.size}]", download_report_client_campaign_reports_path(c) %>
            </td>
              <br/>
          </tr>
      <% end %>
    </table>
<% end %>