 <%= render({
  partial: 'dial_row',
  locals: {
    row_title:"Answered",
    dial_count: sanitize_dials(dials[CallAttempt::Status::SUCCESS]) + sanitize_dials(dials['retry']) + sanitize_dials(dials[CallAttempt::Status::SCHEDULED]),
    total_dials: total_dials
  }) %>

  <%= render({
    partial: 'dial_row',
    locals: {
      row_title:"No answer",
      dial_count: dials[CallAttempt::Status::NOANSWER],
      total_dials: total_dials
  }) %>

  <%= render({
    partial: 'dial_row',
    locals: {
      row_title:"Busy",
      dial_count: dials[CallAttempt::Status::BUSY],
      total_dials: total_dials
  }) %>

  <%= render({
    partial: 'dial_row',
    locals: {
      row_title:"Answering machine",
      dial_count: dials[CallAttempt::Status::HANGUP],
      total_dials: total_dials
  }) %>

  <%= render({
    partial: 'dial_row',
    locals: {
      row_title:"Message left",
      dial_count: dials[CallAttempt::Status::VOICEMAIL],
      total_dials: total_dials
  }) %>

  <%= render({
    partial: 'dial_row',
    locals: {
      row_title:"Failed",
      dial_count: dials[CallAttempt::Status::FAILED],
      total_dials: total_dials
  }) %>

  <%= render({
    partial: 'dial_row',
    locals: {
      row_title:"Abandoned",
      dial_count: dials[CallAttempt::Status::ABANDONED],
      total_dials: total_dials
  }) %>

  <tr class="<%= cycle("odd","even") %>">
  	<td>Total dials</td>
  	<td><%= total_dials %></td>
  	<td></td>
  </tr>