<tr>
	<td><%= row_title %></td>
	<td><%= sanitize_dials(dial_count) %></td>
	<td><%= percent_dials(dial_count, total_dials) %>%</td>
</tr>
<% if row_title == 'Answered' %>
<tr>
  <td style="padding-left: 18px;">
    Messages Left by caller
  </td>
  <td style="padding-left: 18px;">
    <% manual_count = CallAttempt.where('recording_id IS NOT NULL').
        where('recording_delivered_manually=?', true).
        where(campaign_id: @campaign.id).count %>
    <%=
      manual_count
    %>
  </td>
  <td style="padding-left: 18px;">
    <%= percent_dials(manual_count, dial_count) %>%
  </td>
</tr>
<% end %>