<h2>Overview</h2>
<p>The data in the overview table gives the current state of the campaign.</p>

<table>
  <tr>
    <th>Status</th>
    <th>Number</th>
    <th>Percent</th>
  </tr>
  <tr>
    <td>Not dialed</td>
    <td><%= dials_report.leads_not_dialed %></td>
    <td><%= ((dials_report.leads_not_dialed.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
  <tr>
    <td>Dialed and available for retry</td>
    <td><%= dials_report.leads_available_for_retry %></td>
    <td> <%= ((dials_report.leads_available_for_retry.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
  <tr>
    <td>Dialed and not available for retry</td>
    <td><%= dials_report.leads_not_available_for_retry %></td>
    <td> <%= ((dials_report.leads_not_available_for_retry.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
  <tr>
    <td>Dialed and complete</td>
    <td><%= dials_report.dialed_and_completed %></td>
    <td> <%= ((dials_report.dialed_and_completed.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
</table>
