<h2>Overview</h2>
<p>The data in the overview table gives the current state of the campaign.</p>

<table data-intro="This table shows the current status of every lead in the campaign." data-step="1">
  <tr>
    <th>Status</th>
    <th>Number</th>
    <th>Percent</th>
  </tr>
  <tr>
    <td data-intro="This reports the leads who have never been dialed." data-step="2">Not dialed</td>
    <td><%= dials_report.leads_not_dialed %></td>
    <td><%= ((dials_report.leads_not_dialed.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
  <tr>
    <td data-intro="This reports the leads who have been dialed, but who either did not answer or who were given a 'retry' answer by the caller." data-step="3">Dialed and available for retry</td>
    <td><%= dials_report.leads_available_for_retry %></td>
    <td> <%= ((dials_report.leads_available_for_retry.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
  <tr>
    <td data-intro="This reports the leads who have been dialed, but they were dialed too recently to be called back. If you lower the recycle rate in the campaign settings, you can make these leads available." data-step="4">Dialed and not available for retry</td>
    <td><%= dials_report.leads_not_available_for_retry %></td>
    <td> <%= ((dials_report.leads_not_available_for_retry.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
  <tr>
    <td data-intro="This reports the leads who have been dialed and reached." data-step="5">Dialed and complete</td>
    <td><%= dials_report.dialed_and_completed %></td>
    <td> <%= ((dials_report.dialed_and_completed.to_f/dials_report.overview_summary)*100).round %>%</td>
  </tr>
</table>
