<h1>Account usage by campaign</h1>
<div class="content clearfix">
  <table>
    <tr>
      <th>Campaign</th>
      <th>Total Billable Minutes</th>
    </tr>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= @billiable_total[campaign.id] %></td>
      </tr>
    <%end%>
    <tr>
      <td>Total</td>
      <td><%= @billiable_total.values.inject(0){|sum,x| sum+x} %></td>
    </tr>
    
    
    
  </table>
	
</div>

<h3>Date range:</h3>
<% form_tag(usage_client_reports_url(:id => params[:id]), :method => :get) do %>
  <input type="hidden" name="id" value="<%= params[:id] %>" />
  <%= render :partial => 'shared/date_picker' %>
  <div class="buttons">
    <button type="submit">Update</button>
  </div>
  
<% end %>
