<div role="main">
  <h1>Account usage by caller</h1>
  <div class="content clearfix">
    <table>
      <tr>
        <th>Caller</th>
        <th>Total billable minutes</th>
      </tr>
      <% @callers.each do |caller| %>
        <tr>
          <td><%= caller.identity_name %></td>
          <td><%= @billiable_total[caller.id] %></td>
        </tr>
      <%end%>

      <tr>
        <td>Abandoned calls</td>
        <td><%= sanitize_dials(@status_usage[CallAttempt::Status::ABANDONED]).to_i %></td>
      </tr>

      <tr>
        <td>Voicemails</td>
        <td><%= sanitize_dials(@status_usage[CallAttempt::Status::VOICEMAIL]).to_i + sanitize_dials(@status_usage[CallAttempt::Status::HANGUP]).to_i %></td>
      </tr>


      <tr>
        <td>Total</td>
        <td><%= @final_total %></td>
      </tr>
    </table>
  </div>

  <%= form_tag(account_callers_usage_client_reports_path(:id => @account.id), :method => :get) do %>
    <input type="hidden" name="id" value="<%= params[:id] %>" />
    <%= render :partial => 'shared/date_picker' %>
    <div class="buttons">
      <button type="submit">Update</button>
    </div>
  <% end %>
</div>
