<div class="content clearfix">
  <table>
    <tr>
      <th>Campaign</th>
      <th>Billable Minutes</th>
      <th>Total Minutes</th>
    </tr>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><a href="<%= usage_client_reports_path(:id => campaign.id) %>"><%= campaign.name %></a></td>
        <td><%= @billiable_total[campaign.id] %></td>
        <td></td>
      </tr>
    <%end%>
    
    
  </table>
	
</div>

<h3>Date range:</h3>
<% form_tag(usage_client_reports_url(:id => params[:id]), :method => :get) do %>
  <input type="hidden" name="id" value="<%= params[:id] %>" />
  <%= render :partial => 'shared/date_picker' %>
<% end %>
