<h1><%= @campaign.name %> Answered Calls Report</h1>

<% total_answers = 0 %>

<div role="main" data-intro="This report shows you how people answered each of the questions in your script for this campaign." data-step="1">
  <% if @results.empty? %>
    <p>This campaign has not had any calls answered yet.</p>
  <% else %>
    <% @results.each do |script, data| %>
      <h2><%= "Script: #{data[:script]}" %></h2>
      <% i = 1 %>
      <% data[:questions].each do |question, stats| %>
        <h3>Question <%= i %>: <%= question %></h3>
         <table>
           <tr>
             <th>Answer</th>
             <th>Number</th>
             <th>Percentage</th>
           </tr>
           <% stats.each do |answers| %>
            <% total_answers += answers[:number].to_i %>
            <tr>
              <td><%= answers[:answer]%></td>
              <td><%= answers[:number]%></td>
              <td><%= answers[:percentage]%> %</td>
            </tr>
            <% end %>
         </table>
        <% i += 1 %>
      <% end %>
    <% end %>

    <% unless @transfers.blank? %>
      <h3>Transfers</h3>
      <table>
        <tr>
          <th>Transfer</th>
          <th>Number</th>
          <th>Percentage</th>
        </tr>
        <% @transfers.each_pair do |key, value| %>
          <tr>
            <td><%= value[:label] %></td>
            <td><%= value[:number] %></td>
            <td><%= value[:percentage] %> %</td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <h3>Messages Left</h3>
    <table>
      <tr>
        <th>Recording</th>
        <th>Number</th>
        <th>Percentage (of answered calls)</th>
      </tr>
      <% drops = CallAttempt.where('recording_id IS NOT NULL').
                      where('recording_delivered_manually=?', true).
                      where(campaign_id: @campaign.id)
         recording_ids = drops.map(&:recording_id)
         messages = Recording.where(id: recording_ids) %>
      <% messages.each do |message| %>
        <tr>
          <td><%= message.name %></td>
          <td><%= drops.count %></td>
          <td><%= ((drops.count / total_answers.to_f) * 100.0).to_i %>%</td>
        </tr>
      <% end %>
    </table>

    <%= render partial: 'shared/date_picker_campaigns', locals: {target: answer_client_reports_path} %>
  <% end %>
</div>
