<div role="main">
  <h1><%= @campaign.name %> Dials</h1>

  <% if @show_summary %>
    <%= render partial: 'summary_dial', locals: { dials_report: @dials_report} %>
  <% end %>
  <%= render partial: 'leads_dial', locals: { dials_report: @dials_report} %>
  <%= render partial: 'attempts_dial', locals: { dials_report: @dials_report} %>

  <%= render partial: 'shared/date_picker_campaigns', locals: {target: dials_client_reports_path} %>
</div>
