<div role="main">
  <p>
    <%= link_to 'Summary Report', dials_summary_client_reports_path(campaign_id: params[:campaign_id]) %>
  </p>
  
  <h1><%= @campaign.name %> Dials</h1>
  <h4><%= nice_date(@date_range.from, @campaign.time_zone) %> - <%= nice_date(@date_range.to, @campaign.time_zone) %> <%= @date_range.time_zone.name %></h4>

  <%= @by_contact.html_safe %>
  <%= @by_attempt.html_safe %>

  <%= render('selective_date_range_picker', {
    datepicker_path: dials_client_reports_path,
    campaign_id: @campaign.try(:id),
    campaign: @campaign,
    from_date: @date_range.from,
    to_date: @date_range.to
  }) %>
</div>
