<% content_for :javascripts do %>
<script type="text/javascript">
  $(function () {
    $('#download_all_voters_submit').click(function(){
      $('#download_all_voters').attr('checked','checked');
    });
    $('#range_voters_submit').click(function(){
      $('#download_all_voters').removeAttr('checked');
    });

    $('#selectAll').click(function () {
      $('#fields').find(':checkbox').prop('checked', this.checked);
    });

    $('#fields input[name^= "voter_fields[]"]').change(function(){
      set_select_all_checkbox();
    });
    $('#fields input[name^= "custom_voter_fields[]"]').change(function(){
      set_select_all_checkbox();
    });
    function set_select_all_checkbox(){
      var voter_fields_count = $('#fields input[name^= "voter_fields[]"]:checked').length
      var voter_custom_fields_count = $('#fields input[name^= "custom_voter_fields[]"]:checked').length
      if ((voter_fields_count + voter_custom_fields_count) == <%= (@voter_fields.length + @custom_voter_fields.try(:length)) %> ){
        $('#selectAll').attr('checked', true)
      }
      if ((voter_fields_count + voter_custom_fields_count) < <%= (@voter_fields.length + @custom_voter_fields.try(:length)) %> ){
        $('#selectAll').attr('checked', false)
      }
    }
  });
</script>
<% end %>

<h1>Download <%= @campaign.name %></h1>

<div role='main'>
  <%= form_tag(download_client_campaign_reports_path(@campaign), :method => "POST") do %>
    <fieldset>
      <div id="fields">
      <legend>Fields to include</legend>
      <select class="field" id="lead_dial" name="lead_dial">
        <option value="lead">One row for each lead</option>
        <option value="dial">One row for each dial</option>
      </select>
        <ul>
          <li>
            <label for="selectAll">
              <input type="checkbox" value="0" id="selectAll">&nbsp;Select all
            </label>
          </li>
        <% @voter_fields.try(:each_pair) do |key, value| %>
          <li>
            <label for="voter_fields_<%= key.underscore.downcase %>">
              <input  type="checkbox" name="voter_fields[]" value="<%= key %>" id="voter_fields_<%= key.underscore.downcase %>">&nbsp;<%= value %>
            </label>
          </li>
        <% end %>
        <% @custom_voter_fields.try(:each) do |field| %>
          <li>
            <label for="custom_voter_fields_<%= field.underscore.downcase %>">
              <input  type="checkbox" name="custom_voter_fields[]" value="<%= field %>" id="custom_voter_fields_<%= field.underscore.downcase %>">&nbsp;<%= field %>
            </label>
          </li>
        <% end %>
        </ul>
      </div>
    </fieldset>
    <input type="hidden" name="strategy" value="webui">

    <input type="checkbox" style="display:none" id="download_all_voters" name="download_all_voters"></input>
    <div class="buttons"><button type="submit" id="download_all_voters_submit">Download entire campaign</button></div>

    <%= render 'shared/date_picker' %>
    <div class="buttons"><button id="range_voters_submit" type="submit">Download just this date range</button></div>
  <% end %>
</div>
