<%= render :partial => 'shared/boxtop', :locals=>{:title=>"#{@campaign.name} Usage"} %>
<div class="content clearfix">
  <div role="main">
    <p>Two sets of metrics are provided for you below. First, you can see how much time your callers actually spent on
      the phone; each call is rounded to the nearest second. Next, you can see how much time you are being billed for;
      each call is rounded to the nearest minute. You caller time is only billed when your callers dial in, instead of
      using a microphone on their computer.</p>

    <table>
      <%= render :partial => 'shared/utilization', :locals => {:report => @campaign} %>
      <tr>
        <th>Billable time (1-minute increments)</th>
        <th>Minutes</th>
      </tr>
      <tr>
        <td>Callers</td>
        <td><%= @caller_time %></td>
      </tr>
      <tr>
        <td>Leads</td>
        <td><%= @lead_time %></td>
      </tr>
      <tr>
        <td>Transfers</td>
        <td><%= @campaign.transfer_time(@from_date, @to_date) %></td>
      </tr>
      <tr>
        <td>Voicemails</td>
        <td><%= @campaign.voicemail_time(@from_date, @to_date) %></td>
      </tr>
      <tr>
        <td>Abandoned calls</td>
        <td><%= @campaign.abandoned_calls_time(@from_date, @to_date) %></td>
      </tr>
    </table>
  </div>
</div>

<h3>Date range:</h3>
<% form_tag(usage_client_reports_url(:id => params[:id]), :method => :get) do %>
  <input type="hidden" name="id" value="<%= params[:id] %>" />
  <%= render :partial => 'shared/date_picker' %>
	<div class="buttons">
	  <button type="submit">Update</button>
	</div>
<% end %>
