<%= render "shared/error_messages", :target => @caller %>
<%= form_for @caller, url: "#{client_callers_path}/#{@caller.id}" do |f| -%>
  <fieldset>
  <legend>Settings</legend>
  <% if @caller.is_phones_only? %>
    <%= render :partial => 'phones_only_caller', :locals => {:f => f} %>
  <% else %>
    <%= render :partial => 'web_ui_caller', :locals => {:f => f} %>
  <% end %>
  <% if can? :manage, CallerGroup %>
    <p data-intro="If you'd like to assign your caller to a campaign through a caller group, do so here." data-step="3">
      <%= f.label :caller_group, nil, {for: 'caller_caller_group_id'} %>
      <%= f.select :caller_group_id,
                   options_from_collection_for_select(@caller_groups, :id, :name, @caller.caller_group_id),
                   {:include_blank => '(None)'},
                   {:onchange => 'hideCampaignsIfCallerGroup()'} %>
    </p>
  <% end %>
  <p id='campaigns' data-intro="If your caller isn't in a caller group, assign them directly to a campaign. If you change this while your callers are making calls, they will be reassigned after they finish their current call." data-step="4">
    <label for="caller_campaign_id">Campaign</label>
    <%= f.select("campaign_id", @campaigns.try(:collect){|c| [ c.name, c.id ]}) %>
  </p>
  <%= f.hidden_field :active %>
  </fieldset>
  <div class="buttons">
    <button type="submit">Save</button>
  </div>
<% end %>

<script>
  function hideCampaignsIfCallerGroup() {
    if ($('#caller_caller_group_id').val() != '' && $('#caller_caller_group_id').is(':visible')) {
      $('#campaigns').hide();
    }
    else {
      $('#campaigns').show();
    }
  };

  $(document).ready(function() {
    hideCampaignsIfCallerGroup();
  });
</script>
