<fieldset>
  <%= hidden_field_tag :id, @caller.id, {:class=>"field"} %>
  <p>
    <label>Name</label>
    <%= f.text_field :name, {:class=>"field"} %>
    <%= f.hidden_field :is_phones_only, {:class=>"field"} %>
  </p>
	<p>
		<label>Campaign</label>
		<%= f.select("campaign_id", @campaigns.try(:collect){|c| [ c.name, c.id ]}) %>
	</p>
  <p>PIN: <%= @caller.pin || "to be generated" %></p>
<p>Phones-only PINs can be shared and used by multiple people at the same time.</p>
</fieldset>