<h1><%= "#{@campaign.try(:name)} Answered Calls Report" %></h1>
  <% if @campaign.nil? %>
  <p><%= "This caller has not called this campaign." %></p>
  <% else %>
    <p><%= form_tag(call_details_client_caller_path(:id => params[:id]), :method => :get) do %>
        <%= select_tag 'campaign_id', options_from_collection_for_select(@campaigns, 'id', 'name', @campaign.id) %>
        <div class="buttons"></p>
          <button type="submit">Switch campaign</button>
        </div>
        <% i = 1 %>
        <% @answered_call_stats.each_pair do |question, stats| %>
        	  <h3><%= @campaign.robo == true ? "Recording" : "Question" %> <%= i %>: <%= question %></h3>
        	   <table>
        	     <tr>
        	       <th>Answer</th>
        	       <th>Number</th>
        	       <th>Percentage</th>
        	     </tr>
               <% stats.each do |answers| %>
                <tr>
                  <td><%= answers[:answer]%></td>
                  <td><%= answers[:number]%></td>
                  <td><%= answers[:percentage]%> %</td>
          	    </tr>
        	      <% end %>
             </table>
             <% i = i + 1%>
        <% end %>

        <%unless @transfers.blank?%>
          <table>
            <h3>Transfers</h3>
            <tr>
              <th>Transfer</th>
              <th>Number</th>
              <th>Percentage</th>
            </tr>
            <%@transfers.each_pair do |key, value|%>
            <tr>
              <td><%= value[:label]%></td>
              <td><%= value[:number]%></td>
              <td><%= value[:percentage]%> %</td>
            </tr>

            <%end%>
          </table>
        <%end%>
        <h3>Date range:</h3>
        <%= render :partial => 'shared/date_picker' %>    
        <div class="buttons">
          <button type="submit">Update</button>
        </div>            
    <% end %>

<% end %>
