<div role="main">
  <h1><%= "Answered Calls Report" %></h1>
  <h2>for <%= @caller.identity_name %></h2>
  <% if @campaign.nil? %>
    <p><%= "This caller has not called this campaign." %></p>
  <% else %>
    <h3>Script: <%= @campaign.script.name %></h3>
    <%= form_tag(call_details_client_caller_path(id: params[:id]), {
      method: :get
    }) do %>
      <%= render 'shared/switch_campaign', {
        without_prompt: true
      } %>
      <%= render 'shared/answer_call_details', {
        answer_stats: @answered_call_stats
      } %>
      <%= render 'client/reports/selective_date_range_picker', {
        caller_id: @caller.try(:id),
        from_date: @date_range.from,
        to_date: @date_range.to,
        embedded: true,
        include_button: true
      } %>
    <% end %>

  <% end %>
</div>
