<h3><%= "#{@campaign.name} Answered Calls Report" %></h3>
  <% if @campaign.nil? %>
  <p><%= "This caller has not called this campaign." %></p>
  <% else %>
    <p><%= form_tag(call_details_client_caller_path(:id => params[:id]), :method => :get) do %>
        <%= select_tag 'campaign_id', options_from_collection_for_select(@campaigns, 'id', 'name', @campaign.id) %>
        <div class="buttons"></p>
          <button type="submit">Switch campaign</button>
        </div>
        <% @answered_call_stats = @caller.answered_call_stats(@from_date, @to_date, @campaign) %>
        <% @questions_and_responses.each do |question, responses| %>
            <h3><%= @campaign.robo == true ? "Recording" : "Question" %>: <%= question %></h3>
            <table>
              <tr>
                <th>Answer</th>
                <th>Number</th>
                <th>Percentage</th>
              </tr>
              <% responses.each do |response, stats| %>
                  <tr>
                    <td><%= response %></td>
                    <td><%= @answered_call_stats[question][response][:count] rescue 0 %></td>
                    <td><%= @answered_call_stats[question][response][:percentage].to_i rescue 0 %> %</td>
                  </tr>
              <% end %>
            </table>
            <h3>Date range:</h3>
            <%= render :partial => 'shared/date_picker' %>
        <% end %>
    <% end %>

<% end %>
