<%= csrf_meta_tag %>

<h1>Deleted callers</h1>
<% if @callers.empty? %>
  <p>No callers deleted.</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Date deleted</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @callers.each do |c| %>
      <tr>
        <td><strong><%= link_to c.known_as, edit_client_caller_path(c) %></strong></td>
        <td><%= c.updated_at.strftime("%m/%d/%Y") %></td>
        <td><%= link_to 'Restore', client_caller_restore_path(c), :method => :put %></td>
      </tr>
    <% end %>
  </table>
  <p><%= page_entries_info @callers %> <%= will_paginate @callers %></p>
<% end %>
