<%= error_messages_for :caller %>
	<h1>Add caller</h1>
	<%= form_for :caller, url:  client_callers_path(@caller) do |f| -%>  
  	<fieldset>
  	  <%= hidden_field_tag :id, @caller.id,{:class=>"field"} %>
        <p>
          <label>Email</label>
  		<%= f.text_field :email, {:class=>"field"} %>
        </p>
        <p>
          <label>Password</label>
  		<%= f.text_field :password, {:class=>"field"} %>
        </p>
      </fieldset>

  	<div class="buttons">
  	<button type="submit">Save</button>
  	</div>
  <% end -%>


