<div class="content clearfix">
  <div role="main">
	<h1><%= @caller.name %> Usage</h1>
      <% form_tag(usage_client_caller_path(:id => params[:id]), :method => :get) do %>

      <%= select_tag 'campaign_id', options_from_collection_for_select(@campaigns, 'id', 'name', @campaign.try(:id)), {:include_blank => 'Total'} %>

      <div class="buttons"></p>
        <button type="submit">Switch campaign</button>
      </div>
    <p>Two sets of metrics are provided for you below. First, you can see how much time your caller actually spent on
      the phone; each call is rounded to the nearest second. Next, you can see how much time you are being billed for;
      each call is rounded to the nearest minute. You caller time is only billed when your callers dial in, instead of
      using a microphone on their computer.</p>
    <table>
      <%= render :partial => 'shared/utilization', :locals => {:report => @caller} %>
      <tr>
        <th>Billable time (1-minute increments)</th>
        <th>Minutes</th>
      </tr>
      <tr>
        <td>Caller</td>
        <td><%= @caller_time %></td>
      </tr>
      <tr>
        <td>Leads</td>
        <td><%= @lead_time %></td>
      </tr>
    </table>
  </div>
</div>

<h3>Date range:</h3>
  <%= render :partial => 'shared/date_picker' %>
	<div class="buttons">
	  <button type="submit">Update</button>
	</div>
<% end %>
