<% if campaigns.length==0 %>
    <div class="form">
      <label>No campaigns entered.</label>
    </div>
<% else %>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Name</th>
        <th>Numbers called</th>
        <th>Numbers remaining</th>
        <th width="55" class="ac"></th>
      </tr>
      <% campaigns.each do |c| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><h3><%= link_to c.name, campaign_path(c) %></h3></td>
            <td><%= c.voters_dialed %></td>
            <td><%= c.voters_remaining %></td>
            <td width="20%">
              <% if c.calls_in_progress? %>
                  <%= link_to "Stop", stop_campaign_path(c), :method => :post %>
              <% else %>
                  <%= link_to "Start", start_campaign_path(c), :method => :post %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
    <p><%= page_entries_info campaigns %> <%= will_paginate campaigns %></p>
<% end %>
