<%= csrf_meta_tag %>

<h1>Deleted campaigns</h1>
<% if @campaigns.empty? %>
  <p>No campaigns deleted.</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Date deleted</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @campaigns.each do |c| %>
      <tr>
        <td><strong><%= link_to c.name, edit_client_campaign_path(c) %></strong></td>
        <td><%= c.updated_at.strftime("%m/%d/%Y") %></td>
        <td><%= link_to 'Restore', client_campaign_restore_path(c), :method => :put %></td>
      </tr>
    <% end %>
  </table>
  <p><%= page_entries_info @campaigns %> <%= will_paginate @campaigns %></p>
<% end %>
