<% content_for :javascripts do %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" %>
<% end %>

<h1>Campaigns</h1>
<% if @campaigns.length==0 %>
  <div class="form">
    <label>No campaigns entered.</label>
  </div>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Date Added</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @campaigns.each do |c| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><h3><%= link_to c.name,c %></h3></td>
        <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
        <td><a href="javascript:if(confirm('Are you sure you want to delete this campaign?')) document.location.href='/client/campaign_delete/<%= c.id %>';" class="ico del">Delete</a>
          <!--<a href="/client/campaign_add/<%= c.id %>" class="ico edit">Edit</a>--></td>
      </tr>
    <% end %>
  </table>
  <p><%= page_entries_info @campaigns %> <%= will_paginate @campaigns %></p>
<% end %>

<p class="actions">
  <% form_tag @campaigns_path, :id => 'campaign_create_form' do %>
    <%= link_to "Add a new campaign", 'javascript:void(0)', :class => "action primary", :onclick => "$('#campaign_create_form').submit()" %>
  <% end %>
</p>
<p class="actions"><%= link_to 'View deleted campaigns', broadcast_deleted_campaigns_path, :class => 'action secondary' %></p>
