<%= @breadcrumb = "Campaigns" %>

<h1>Campaigns</h1>
<% if @campaigns.length==0 %>
  <div class="form">
    <label>No campaigns entered.</label>
  </div>
<% else %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>Name</th>
      <th>Campaign ID</th>
      <th>Date Added</th>
      <th width="55" class="ac"></th>
    </tr>
    <% @campaigns.each do |c| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><h3><%= link_to c.name,c %></h3></td>
        <td><%= c.group_id %></td>
        <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
        <td><a href="javascript:if(confirm('Are you sure you want to delete this campaign?')) document.location.href='/client/campaign_delete/<%= c.id %>';" class="ico del">Delete</a>
          <!--<a href="/client/campaign_add/<%= c.id %>" class="ico edit">Edit</a>--></td>
      </tr>
    <% end %>

  </table>

  <p><%= page_entries_info @campaigns %> <%= will_paginate @campaigns %></p>

<% end %>
<p class="actions"><%= link_to "Add a new campaign", "#", :method => :post, :class => "action primary", :id => "add_campaign" %></p>
<p class="actions"><%= link_to 'View deleted campaigns', client_deleted_campaigns_path, :class => 'action secondary' %></p>
