<% content_for :javascripts do %>
    <%= javascript_include_tag "campaign/auto_save" %>
    <%= javascript_include_tag "campaign/campaign" %>
<% end %>

<h1>Edit campaign</h1>

<div id="callerid"></div>

<%= form_for @campaign, url: "#{campaigns_path}/#{@campaign.id}" :html => {:name => 'callerForm', :id => 'callerForm'} do |f| %>
    <div id="validationError">
      <%= render "shared/error_messages", :target => @campaign %>
    </div>
    <fieldset>
      <legend>Campaign options</legend>
      <fieldset>
        <legend>Basic settings</legend>
        <p><label for="">Name</label><br>
          <%= f.text_field :name, {:class=>"field size3"} %></p>

        <p><label for="">Caller ID</label><br>
          <%= f.text_field :caller_id, {:class=>"field size3"} %></p>

        <p><label for="">Live
          message</label><%= f.collection_select(:script_id, @scripts, :id, :name, {:prompt => true}, {:class=>"field"}) %>
        </p>

        <p><label for="">Voicemail message</label><br>
          <%= render :partial => 'voicemail', :locals => {:form => f} %>
        </p>
      </fieldset>
      <fieldset>
        <legend>Available lists</legend>
        <% if @lists.length==0 %>
            <p>You haven't uploaded any lists yet.</p>

            <% if @user.show_voter_buttons? %>
                <a href="/client/voter_add?campaign_id=<%= @campaign.id %>" class="add-button"><span>Enter Voter</span></a>
            <% end %>
        <% else %>
            Uncheck a list to stop calling it:
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th>Name</th>
                <th nowrap>Phone #s</th>
                <th>Remaining</th>
              </tr>
              <% @lists.each do |l| %>
                  <tr>
                    <td valign="top"><%= check_box_tag "voter_list_ids[]", "#{l.id}", l.enabled -%> <%= l.name %></td>
                    <td valign="top"><%= l.voters.size %></td>
                    <td valign="top"><%= l.voters_remaining %></td>
                  </tr>
              <% end %>
            </table>
            <input type="hidden" name="listsSent" value="1">

            <% if @user.id==1 && @user.show_voter_buttons? %>
                <a href="/client/voter_add?campaign_id=<%= @campaign.id %>" class="add-button"><span>Enter Voter</span></a>
                <a href="/client/voter_view?campaign_id=<%= @campaign.id %>" class="button"><span>View Voters</span></a>
            <% end %>
        <% end %>
      </fieldset>
      <div class="buttons">
        <button type="submit">Save</button>
      </div>
    </fieldset>
<% end %>
<fieldset>
  <legend>Add lists</legend>
  <%= render :partial => "voter_lists/new", :locals => {:path => campaign_voter_lists_path(@campaign)} %>
</fieldset>
