<div class="box" style="width:600px;">
	<%= render :partial => 'shared/boxtop', :locals=>{:title=>"#{@campaign.name} Dials"} %>
	<div class="box-content">
		<div class="table">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <th width="300">Call status</th>
		        <th>Dials</th>
		        <th>Percentage</th>
		      </tr>			
		
					<tr class="<%= cycle("odd","even") %>">
						<td>Answered</td><td><%= @answered %></td><td><%= ((@answered.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>No answer</td><td><%= @no_answer %></td><td><%= ((@no_answer.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>Busy signal</td><td><%= @busy_signal %></td><td><%= ((@busy_signal.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>Answering machine</td><td><%= @answering_machine %></td><td><%= ((@answering_machine.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>Message left</td><td><%= @voicemail %></td><td><%= ((@voicemail.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>Failed</td><td><%= @failed %></td><td><%= ((@failed.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>Ringing</td><td><%= @ringing %></td><td><%= ((@ringing.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>Not dialed</td><td><%= @not_dialed %></td><td><%= ((@not_dialed.to_f/@total)*100).round %>%</td>
					</tr>
					<tr class="<%= cycle("odd","even") %>">
						<td>Total dials</td><td><%= @total_dials %></td><td><%= ((@total_dials.to_f/@total)*100).round %>%</td>
					</tr>
			
		    </table>
		</div>
	</div>
</div>

<h3>Date range:</h3>
<%= form_tag(dials_reports_path, :method => :get) do %>
 
  <table>
    <tr>
      <td>From:</td>
      <td> <%= unobtrusive_date_text_picker_tag :from_date,@from_date %> </td>
      </tr>
    <tr>
      <td>To:</td>
      <td>  <%= unobtrusive_date_text_picker_tag :to_date,@to_date %></td>
    </tr>
    </table>
     <input name="campaign_id" type="hidden" value="<%= params[:campaign_id]%>"></input>
  <div class="buttons"><button type="submit">Update date range</button></div>
<% end %>