<h1>Reports</h1>
<% if @campaigns.length==0 %>
    <p>You haven't created any campaigns yet.</p>
<% else %>
    <table>
      <tr>
        <th>Campaign</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
      </tr>
      <% @campaigns.each do |c| %>
        <tr class="<%= cycle("odd","even") %>">
          <td><%= c.name %></td>
		  		<td><%= link_to 'Dials', dials_reports_path(:campaign_id => c.id) %></td>
					<td><%= link_to 'Answered', answers_reports_path(:campaign_id => c.id) %></td>
          <td><%= link_to 'Usage', usage_reports_path(:campaign_id => c.id) %></td>
          <td><%= link_to "Download", dial_details_reports_path(:id => c.id),:method => "POST" %></td>
        </tr>
      <% end %>
    </table>
<% end %>