<header role="banner" class="clearfix">

<% if !logged_in_as_caller? || @controllerName.split("/").first == 'client' %>
	<% if @controllerName.split("/").first == 'client' %>
		<h1 class="<%= domain %>"><a href="/client"><%= @title %></a></h1>
	<% elsif @controllerName == 'caller' %>
		<h1 class="<%= domain %>"><a href="/caller"><%= @title %></a></h1>
	<% else %>
		<h1 class="<%= domain %>"><a href="/broadcast"><%= @title %></a></h1>
	<% end %>
<% end %>

<% if logged_in_as_client? %>
	<ul class="clearfix">
		<% if @controllerName.split("/").first == 'client' %>
			<li class='divider'><%= link_to 'Help', :controller => '/client', :action => 'index' %></li>
			<li class='divider'><%= link_to 'Account', :controller => '/client', :action => 'user_add' %></li>
		<% else %>
			<li class='divider'><%= link_to 'Help', :controller =>'/broadcast', :action=>'index' %></li>
	 		<li class='divider'><%= link_to 'Account', :controller => '/broadcast', :action => 'user_add' %></li>
		<% end %>
			<li class='divider'><a href="<%= billing_link %>">Billing</a></li>
			<li><%= link_to 'Log out', :action=>'logout' %></li>
	</ul>
<% end %>

</header>
