<header role="banner" class="clearfix">

<% if !logged_in_as_caller? %>
	<h1 class="<%= domain %>"><a href="/<%= @controllerName %>"><%= @title %></a></h1>
<% end %>

<% if logged_in_as_client? %>
    <ul class="clearfix">
      <li class='divider'><%= link_to 'Help', :controller => @controllerName, :action=>'index' %></li>
      <li class='divider'><%= link_to 'Account', :controller => @controllerName, :action => 'user_add' %></li>
      <li class='divider'><a href="<%= billing_link %>">Billing</a></li>
      <li><%= link_to 'Log out', :action=>'logout' %></li>
    </ul>
<% end %>

</header>
