<!DOCTYPE html>
  <%= render 'layouts/head' %>

  <body class="admin clearfix">
    <header role="banner" class="clearfix">
      <%= render 'layouts/client_logo' %>

      <% if logged_in_as_client? %>
        <ul class="clearfix">
          <li><button onclick="javascript:introJs().start();" class="action secondary">Help</button></li>
          <li><%= link_to 'Log out', client_session_path, :method => :delete %></li>
        </ul>
      <% end %>
    </header>

    <% if logged_in_as_client? %>
      <nav role="navigation" class="clearfix">
      <ul class="clearfix">
        <li><a href="/client/monitors" <%= content_for :monitor_data %>>Dashboard</a></li>
        <% if @user.administrator? %>
          <li><a href="/client/scripts" <%= content_for :scripts_data %>>Scripts</a></li>
          <li><a href="/client/campaigns" <%= content_for :campaigns_data %>>Campaigns</a></li>
          <li><a href="/client/callers" <%= content_for :callers_data %>>Callers</a></li>
        <% end %>
        <li><a href="/client/reports" <%= content_for :reports_data %>>Reports</a></li>
        <li><a href="/client/account" <%= content_for :account_data %>>Account</a></li>
      </ul>
      </nav>
    <% end %>

    <%= render :partial => "layouts/flash_messages", :locals => {:display => [:notice, :error, :warning]} %>

    <div class="content clearfix">
      <%= yield %>
    </div>

    <footer role="contentinfo" class="clearfix">

    <% if logged_in_as_client? %>
      <ul>
        <li><a href="/client/monitors">Dashboard</a></li>
        <% if @user.administrator? %>
          <li><a href="/client/scripts">Scripts</a></li>
          <li><a href="/client/campaigns">Campaigns</a></li>
          <li><a href="/client/callers">Callers</a></li>
        <% end %>
        <li><a href="/client/reports">Reports</a></li>
      </ul>

      <div>
        <p class="vcard">
          Need help? <span class="tel"><%= phone %></span>
          <a href="mailto:<%= email %>"><%= email %></a>
        </p>
      </div>
    <% end %>

    <%= render 'layouts/legal' %>

    </footer>
  </body>
</html>
