<!DOCTYPE html>
	<%= render :partial => 'layouts/ie' %>
	<head>
	  <meta charset="utf-8">
	  <title><%= title %></title>
		<%= render :partial => 'layouts/javascript' %>
		<%= render :partial => 'layouts/stylesheets' %>		
		<%= unobtrusive_datepicker_includes.html_safe %>
		<%= csrf_meta_tag %>
	</head>
	
	<body class="admin clearfix">
		<%= render :partial => 'layouts/header' %>
		<%= render :partial => 'layouts/navigation' %>
		<%= render :partial => 'layouts/client_flash_messages', 
		                       :locals => {:display => [:notice, :error, :warning]} %>
		
		<div class="content clearfix">
		  <%= yield %>
		</div>	
		
		<%= render :partial => 'layouts/footer' %>
		
	</body>
</html>
