<!DOCTYPE html>
  <%= render 'layouts/head' %>

  <body class="admin clearfix">
    <header role="banner" class="clearfix">
      <%= render 'layouts/client_logo' %>

      <% if logged_in_as_client? %>
        <ul class="clearfix">
          <li><a href="/client/logout">Log out</a></li>
        </ul>
      <% end %>
    </header>

    <% if logged_in_as_client? %>
      <nav role="navigation" class="clearfix">
      <ul class="clearfix">
        <% if @user.administrator? %>
          <li><a href="/client/scripts">Scripts</a></li>
          <li><a href="/client/campaigns">Campaigns</a></li>
          <li><a href="/client/callers">Callers</a></li>
        <% end %>
        <li><a href="/client/monitors"><span>Monitor</a></li>
        <li><a href="/client/reports"><span>Reports</a></li>
        <li><a href="/client/user_add">Account</a></li>
      </ul>
      </nav>
    <% end %>

    <%= render :partial => "layouts/flash_messages", :locals => {:display => [:notice, :error, :warning]} %>

    <div class="content clearfix">
      <%= yield %>
    </div>

    <footer role="contentinfo" class="clearfix">

    <% if logged_in_as_client? %>
      <ul>
        <% if @user.administrator? %>
          <li><a href="/client/scripts">Scripts</a></li>
          <li><a href="/client/campaigns">Campaigns</a></li>
          <li><a href="/client/callers">Callers</a></li>
        <% end %>
        <li><a href="/client/monitors"><span>Monitor</a></li>
        <li><a href="/client/reports"><span>Reports</a></li>
      </ul>

      <div>
        <p class="vcard">
          Need help? <span class="tel"><%= phone %></span>
          <a href="mailto:<%= email %>"><%= email %></a>
        </p>
      </div>
    <% end %>

    <%= render 'layouts/legal' %>

    </footer>
  </body>
</html>
