<!DOCTYPE html>
  <%= render 'layouts/head' %>

  <body class="admin clearfix">
    <header role="banner" class="clearfix">
      <%= render 'layouts/client_logo' %>

      <% if logged_in_as_client? %>
        <nav role="navigation" class="actions clearfix">
          <ul class="clearfix">
            <li>
              <a class="action secondary js-help">Help</a>
            </li>
            <li>
              <% if session[:internal_admin] %>
              <span style="font-size: 90%">Logged-in as <%= @user.lname %> (Acct #<%= @user.account_id %>)</span><br>
              <% end %>
              <%= link_to('Log out', client_session_path, {
                :method => :delete,
                :class => 'action secondary'
              }) %>
            </li>
          </ul>
        </nav>
      <% end %>
    </header>

    <% if logged_in_as_client? %>
      <nav role="navigation" class="clearfix">
      <ul class="clearfix">
        <li><a href="/client/monitors" <%= content_for :monitor_data %> class="<%= controller_name =~ /(monitors|client)/ ? 'active' : '' %>">Dashboard</a></li>
        <% if @user.administrator? %>
          <li><a href="/client/scripts" <%= content_for :scripts_data %> class="<%= controller_name =~ /scripts/ ? 'active' : '' %>">Scripts</a></li>
          <li><a href="/client/campaigns" <%= content_for :campaigns_data %> class="<%= controller_name =~ /campaigns/ ? 'active' : '' %>">Campaigns</a></li>
          <li><a href="/client/callers" <%= content_for :callers_data %> class="<%= controller_name =~ /caller/ ? 'active' : '' %>">Callers</a></li>
        <% end %>
        <li><a href="/client/reports" <%= content_for :reports_data %> class="<%= controller_name =~ /reports/ ? 'active' : '' %>">Reports</a></li>
        <li><a href="/client/account" <%= content_for :account_data %> class="<%= controller_name !~ /(client|monitors|scripts|campaigns|caller|reports)/ ? 'active' : '' %>">Account</a></li>
      </ul>
      </nav>
    <% end %>

    <%= render :partial => "layouts/flash_messages", :locals => {:display => [:notice, :error, :warning]} %>

    <div class="content clearfix">
      <%= yield %>
    </div>

    <footer role="contentinfo" class="clearfix">

    <% if logged_in_as_client? %>
      <ul class="inline">
        <li><a href="/client/monitors">Dashboard</a></li>
        <% if @user.administrator? %>
          <li><a href="/client/scripts">Scripts</a></li>
          <li><a href="/client/campaigns">Campaigns</a></li>
          <li><a href="/client/callers">Callers</a></li>
        <% end %>
        <li><a href="/client/reports">Reports</a></li>
      </ul>

      <div class="inline align-right">
        <p class="vcard">
          Need help? <span class="tel"><%= phone %></span>
          <a href="mailto:<%= email %>"><%= email %></a>
        </p>
      </div>
    <% end %>

    <%= render 'layouts/legal' %>

    </footer>
    
    <% if logged_in_as_client? and (not Rails.env.test?) %>
    <script type="text/javascript">
      // Usersnap setup
      var _usersnapconfig = {
        apiKey: '00d43adb-86c0-47cb-a279-9e90d8695996',
        emailBox: true,
        emailBoxValue: '<%= @user.email %>',
        emailRequired: true,
        beforeSend: function(obj) {
          obj.addInfo = {
            account_id: '<%= @user.account_id %>'
          }
        }
      };
      (function() {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = '//api.usersnap.com/beta/'+
                '00d43adb-86c0-47cb-a279-9e90d8695996.js';
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
      })();

    </script>
    <% end %>
    
    <%= javascript_include_tag 'application', 'spin-2.3.2.min' %>
    <%= yield :jquery_extension_javascripts %>
    <%= yield :javascripts %>
    <% if logged_in_as_client? %>
      <script type="text/javascript">
        // introJs setup
        var introJsBeforeChange = function(){}; // override per-page
        var introJsSteps        = undefined; // override per-page
        $(function(){
          var intro = introJs();
          $('.js-help').click(function(){
            console.log('js-help clicked', introJsBeforeChange, introJsSteps);
            intro.onbeforechange(introJsBeforeChange);
            if( introJsSteps !== undefined ){
              intro.setOptions({
                steps: introJsSteps
              })
            }
            intro.start();
          });
        });
      </script>
    <% end %>
  </body>
</html>
