<!DOCTYPE html>
  <%= render 'layouts/head' %>

  <body class="admin clearfix">
    <header role="banner" class="clearfix">
      <% if !logged_in_as_caller? %>
        <%= render 'layouts/caller_logo' %>
      <% end %>
    </header>

    <%= render :partial => "layouts/flash_messages", :locals => {:display => [:notice, :error, :warning]} %>

    <div class="content clearfix">
      <%= yield %>
    </div>

    <footer role="contentinfo" class="clearfix">
      <% if logged_in_as_caller? %>
        <p style="float:right"><a href="/caller/logout">Log out</a></p>
      <% end %>

      <% if logged_in_as_phones_only_caller? %>
        <p style="float:right"><a href="/callers/phones_only/logout">Log out</a></p>
      <% end %>

      <%= render 'layouts/legal' %>
    </footer>
    <script type="text/javascript">
      var bugmuncher_options = {
        language: "en",
        position: "right",
        require_email: false,
        api_key: "4858888a08d64a8e6a84f16fe81689c732a72a95"
      };
      (function(){
        var node = document.createElement("script");
        node.setAttribute("type", "text/javascript");
        node.setAttribute("src", "//app.bugmuncher.com/js/bugMuncher.min.js");
        document.getElementsByTagName("head")[0].appendChild(node);
      })();
    </script>
  </body>
</html>
