<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= render :partial => "shared/kissmetrics" %>
<title>Impact Dialing</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<!-- Header -->
<div id="header">
  <div class="shell">
    <!-- Logo + Top Nav -->
    <div id="top">
      <h1><a href="/client">Impact Dialing</a></h1>
      <div id="top-navigation">
	<% if !@user.blank? %>
	Welcome <strong><%= @user.fname %></strong>
	<!-- <span>|</span> <a href="#">Help</a> <span>|</span> <a href="#"> Settings</a> --> <span>|</span> <a href="/client/user_add">My Account</a>  <span>|</span> <a href="/client/logout">Log out</a>
	<% end %>
	</div>

    </div>
    <!-- End Logo + Top Nav -->
    <!-- Main Nav -->
    <div id="navigation">
      <ul>
        <li><a href="/client" <% if @actionName=="index" %>class="active"<% end %>><span>Welcome</span></a></li>
        <li><a href="/client/callers" <% if @actionName.index("caller") %>class="active"<% end %>><span>Callers</span></a></li>
        <li><a href="/client/scripts" <% if @actionName.index("script") %>class="active"<% end %>><span>Scripts</span></a></li>
        <li><a href="/client/campaigns" <% if @actionName.index("upload") || @actionName.index("campaign") %>class="active"<% end %>><span>Campaigns</span></a></li>
        <li><a href="/client/reports" <% if @actionName.index("report") %>class="active"<% end %>><span>Reports</span></a></li>
      </ul>
    </div>
    <!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->
<!-- Container -->
<div id="container">
  <div class="shell">
    <!-- Small Nav -->
    <div class="small-nav"> <a href="/client">Welcome</a>
	<% if @breadcrumb.class.to_s=="String" %>
		<span>&gt;</span> <%= @breadcrumb %>
	<% elsif @breadcrumb!=nil %>
		<% @breadcrumb.each do |b| %>
			<% if b.class.to_s=="Hash" %>
				<span>&gt;</span>
				<a href="<%= b[b.keys.first] %>"><%= b.keys.first %></a>
			<% else %>
				<span>&gt;</span> <%= b %>
			<% end %>
		<% end %>
	<% end %>
	</div>
    <!-- End Small Nav -->

    <%= render :partial => "shared/flash_messages" %>

    <br />
    <!-- Main -->
    <div id="main" <% if @actionName=="campaign_view" %>style="background-color:white; -moz-border-radius: 20px;  	    -webkit-border-radius: 20px;  padding:14px;	border:1px solid #b0722f;<% end %>   ">
      <div class="cl">&nbsp;</div>
	 <%= yield  %>
      <div class="cl">&nbsp;</div>
<% if @actionName=="campaign_view" %>
	<div class="buttons2" align="center">
		<input type="button" class="button" value="Save Campaign" onclick="$('callerForm').submit();">
    </div><br/>
<% end %>
    <!-- Main -->
  </div>

<br/>
<%= render :partial => "shared/client_flash_messages", :locals => {:display => [:warning]} %>
<% if @user.admin? %>
  <a href="<%= campaign_clear_calls_path(@campaign) %>" class="button"><span>Clear Campaign Calls</span></a>
  <div class="cl">&nbsp;</div><br/>
  <a href="/client/campaign_add/<%= @campaign.id%>" class="button"><span>Edit Predective Properties</span></a>
  <div class="cl">&nbsp;</div><br/>
  <a href="/client/campaign_hash_delete/<%= @campaign.id%>" class="button"><span>Reset Dialer</span></a>
  <div class="cl">&nbsp;</div>
<% end %>
</div>
<!-- End Container -->
<!-- Footer -->
<div id="footer">
  <div class="shell"> <span class="left">&copy; 2010 Impact Dialing</span>
  </div>
</div>
<%= @floatSidebar %>
<!-- End Footer -->
</body>
</html>
